/*
---------------------------------------
            AD BANNER
---------------------------------------
*/

.adBanner {
    width: 130.4rem;
    margin: 0rem auto 6rem;
}

.mySwiper7 {
    position: relative;
    overflow: hidden;
    width: 130.4rem;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.mySwiper7 .swiper-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: content-box;
    position: relative;
}

.mySwiper7 .swiper-wrapper .swiper-slide .element__image {
    width: 100%;
    height: 100%;
}

.mySwiper7 .swiper-wrapper .swiper-slide .element__image img {
    object-fit: cover;
    border: 1px solid #eee;
    box-sizing: border-box;
    background-color: #999;
}

.adBanner .shopping__content {
    width: auto;
    position: relative;
}

.adBanner .shopping__content .right-btn-seven {
    position: absolute;
    right: 0;
    z-index: 50;
    top: 50%;
    z-index: 31;
    width: 4.8rem;
    height: 4.8rem;
    margin-top: -1.5rem;
    transform: translateX(50%);
    background: hsla(0, 0%, 100%, 0.9);
    border: 0.1rem solid rgba(0,0,0,0.1);
    box-shadow: 0 0 0.8rem rgba(0,0,0,.13);
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
}

.adBanner .shopping__content .right-btn-seven::before {
    content: '다음';
    color: transparent;
    width: 3.8rem;
    height: 4rem;
    margin-left: 0.3rem;
    background-image: url("../assets/image/right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}



.adBanner .shopping__bottom {
    position: relative;
}

.adBanner .shopping__bottom > button {
    position: absolute;
    bottom: -8.5rem;
}