:root {
  --color--text: #282828;
  --color-accent: #ffa0c5;

  --swiper-navigation-size: 30px;
  --swiper-theme-color: #c3c3c3;
}

* {
  /* font-family: Pretendard; */
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fdfaf7;
}

a {
  text-decoration: none;
  color: var(--color--text);
}

ul {
  list-style: none;
}

.inner {
  padding: 0 2em;
  display: flex;
}

.title {
  color: var(--color-accent);
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 700;
}
