:root {
  --color--text: #282828;
  --color-accent: #ffa0c5;

  --swiper-navigation-size: 30px;
  --swiper-theme-color: #c3c3c3;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fdfaf7;
}

a {
  text-decoration: none;
  color: var(--color--text);
}

ul {
  list-style: none;
}

.inner {
  margin: auto;
  max-width: 2000px;
  padding: 0 2.4em;
  display: flex;
}

.title {
  color: var(--color-accent);
  font-size: 25px;
  margin-bottom: 15px;
  font-weight: 700;
}

@media (max-width: 960px) {
  :root {
    --swiper-navigation-size: 20px;
  }

  .inner {
    padding: 0 10px;
    display: flex;
  }

  .title {
    font-size: 20px;
    margin: 0 0 5px;
  }
}
