/*
---------------------------------------
            EVENT BANNER
---------------------------------------
*/

.event__b {
    position: relative;
}

.swiper-container {
    width: 100%;
    height: auto;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.swiper-slide img {
    border-radius: 1.5rem;
    width: 100%;
    object-fit: cover;
}

.left-btn {
    position: absolute;
    left: -4.65rem;
    z-index: 50;
    top: 42%;
    z-index: 31;
    width: 4.8rem;
    height: 4.8rem;
    margin-top: -1.5rem;
    transform: translateX(50%) scaleX(-1);
    background: hsla(0, 0%, 100%, 0.9);
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.13);
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
}

.left-btn::before {
    content: '다음';
    color: transparent;
    width: 3.8rem;
    height: 4rem;
    margin-left: 0.3rem;
    background-image: url('../assets/image/right-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.right-btn {
    position: absolute;
    right: 0;
    z-index: 50;
    top: 42%;
    z-index: 31;
    width: 4.8rem;
    height: 4.8rem;
    margin-top: -1.5rem;
    transform: translateX(50%);
    background: hsla(0, 0%, 100%, 0.9);
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.13);
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
}

.right-btn::before {
    content: '다음';
    color: transparent;
    width: 3.8rem;
    height: 4rem;
    margin-left: 0.3rem;
    background-image: url('../assets/image/right-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
