/*
---------------------------------------
            FOOTER
---------------------------------------
*/

.footer__container {
    margin-top: 5%;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    background-color: #f2f2f2;
}

.footer__banner {
    display: flex;
    flex-direction: column;

    width: 100%;

    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);

    background-color: aquamarine;
}

.footer__banner--list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 75%;

    margin: 0 auto;

    font-size: 0.8rem;
    line-height: 3rem;
    background-color: bisque;
}

.footer__banner--item {
    position: relative;

    white-space: nowrap;
    background-color: violet;
}

:where(.footer__banner--title-modal)::before {
    display: block;
    content: '';

    width: 0.7rem;
    height: 0.6rem;

    position: absolute;
    right: -30%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    background-image: url('../assets/image/under.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.hover__menu.show {
    display: block;
}

.hover__menu {
    display: none;

    padding: 0.9rem 1.2rem;

    position: absolute;
    top: 80%;
    right: -30%;
    z-index: 2;

    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.2);
}

.hover__menu--wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;

    margin: 0 auto;

    line-height: 1.6rem;
    white-space: nowrap;
}

.footer__banner .footer__banner--list .list--item:not(:first-child)::before {
    position: absolute;
    top: 50%;
    left: -2.7rem;
    margin: 0;
    transform: translateY(-50%);
    content: '';
    display: inline-block;
    line-height: 1.7rem;
    width: 0.1rem;
    height: 1.2rem;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.3);
}

.footer__info {
    max-width: 128rem;
    padding: 0 0 5rem;
    margin: 0 auto;
    text-align: center;
    color: hsla(0, 0%, 7%, 0.5);
    font-size: 1.1rem;
}

.footer__info .footer__info--content {
    padding: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
    box-sizing: border-box;
}

.footer__info--content .footer__box {
    padding-left: 2.2rem;
    display: flex;
    width: 50%;
    margin: 0;
    overflow: hidden;
}

.footer__info--content .footer__box:last-child::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    width: 0.1rem;
    height: 100%;
    margin-left: -0.05rem;
    background-color: rgba(0, 0, 0, 0.08);
}
.footer__info--content .footer__box h2 {
    margin-right: 1rem;
    white-space: nowrap;
    display: block;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.7rem;
    color: #111;
    text-align: left;
}

.footer__content--address {
    max-width: none;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    color: #666;
    text-align: left;
    line-height: 1.7rem;
}

.footer__content--address ul li {
    display: block;
}

.footer__content--address ul li a {
    color: blue;
    text-decoration: underline;
}

.footer__content--tel {
    max-width: none;
    padding: 0;
    font-size: 1.2rem;
    color: #666;
    text-align: left;
    line-height: 1.7rem;
}

.footer__content--tel .tel-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}

.transaction-title {
    font-size: 1.2rem;
    margin-right: 1rem;
    line-height: 1.7rem;
    margin-top: 1rem;
    font-weight: 700;
    color: #111;
}

.service-title {
    font-size: 1.2rem;
    margin-right: 1rem;
    line-height: 1.7rem;
    font-weight: 700;
    color: #111;
}

.footer__box a {
    color: blue;
    font-weight: 400;
    text-decoration: underline;
}

.footer__content--notice {
    margin-top: 1rem;
    width: 90%;
    line-height: 1.8rem;
    display: flex;
    text-align: start;
    align-items: start;
}
