/* BANNER */
.header-banner {
  width: 100%;
  top: 0;
  background-color: rgb(17, 67, 59);
}

.header-bn-content {
  position: relative;
  min-height: 56px;
}
.header-bn-content a {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.check-bn-today {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
.c-chkbox {
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
}
.c-chkbox input[type='checkbox'] {
  position: absolute;
  left: 0px;
  outline: none;
  border: 0;
  width: 22px;
  height: 22px;
  display: none;
}

.c-chkbox .icon {
  position: absolute;
  top: 2px;
  left: 0;
  width: 22px;
  height: 22px;
  overflow: hidden;
  background: url('../asset/sprites-common.svg') no-repeat -300px -170px;
  width: 22px;
  height: 22px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.c-chkbox .txt {
  color: #fff;
  vertical-align: baseline;
}

.check-bn-close {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(40px, -50%);
  width: 25px;
  height: 25px;
  z-index: 999;
}

.check-bn-close::before {
  content: '';
  position: absolute;
  display: block;
  width: 25px;
  height: 2px;
  box-sizing: border-box;
  transform: rotate(45deg);
  background-color: #fff;
}

.check-bn-close::after {
  content: '';
  position: absolute;
  display: block;
  width: 25px;
  height: 2px;
  box-sizing: border-box;
  transform: rotate(-45deg);
  background-color: #fff;
}

/* HEADER */
.header-wrap {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background: #000;
}
.header-top {
  height: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  background: url('../asset/sprites-common.svg') no-repeat -1px -61px;
  width: 81px;
  height: 22px;
  display: inline-block;
}
.header-until-menu {
  display: flex;
  background-color: #333;
  width: 220px;
  height: 32px;
  padding: 2px;
  border-radius: 16px;
  font-size: 12px;
  line-height: 23px;
}

.header-until-menu li {
  flex: 1;
  padding: 2px;
  text-align: center;
  border: 3px solid #333;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
.header-until-menu li.actived {
  background: #fff;
}
.header-until-menu li.actived a {
  color: #000;
}
.header-until-menu li a {
  color: #fff;
  font-weight: 700;
}

/* NAVI */
.header-navi {
  height: 57px;
  display: flex;
  align-content: center;
}

ul.header-sub-menu {
  position: relative;
  display: flex;
  margin-left: auto;
  align-content: center;
}
ul.header-sub-menu li {
  padding: 7px;
}
.header-navi-menu {
  display: flex;
}

.header-nav-lst {
  display: flex;
}
.item {
}
.item .item__name {
  color: #fff;
  font-weight: 400;
  font-weight: 400;
  display: block;
  height: 56px;
  line-height: 56px;
  white-space: nowrap;
}
.item .item__wrap {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
  border-top: 1px solid #ddd;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.item:hover .item__wrap {
  display: block;
}

.item__wrap > .inner {
  display: flex;
  margin: auto;
  padding: 20px 0;
  border-bottom: #ddd;
  background: #fff;
}

.item__wrap > .inner li {
  width: 180px;
  padding-right: 10px;
  line-height: 28px;
  font-size: 14px;
}

.item__wrap > .inner li h4 {
  padding: 3px 0 8px 0;
  color: #000;
}

.item__wrap > .inner li h4 a {
  color: #000;
  font-weight: 800;
  height: 28px;
  font-size: 1.05rem;
}

.item__wrap > .inner li h4 a:hover {
  border-bottom: 1px solid #000;
}

.item__wrap > .inner li ul {
  min-height: 224px;
}

.item__wrap > .inner li ul li a {
  color: #666;
}

.item__wrap > .inner li ul li a:hover {
  text-decoration: underline;
}

.item__wrap > .inner ul li::before {
  content: '-';
  display: inline-block;
  margin-right: 2px;
  font-size: 14px;
  color: #666;
}

.contents__menu li ul {
}

.contents__menu li ul li {
}

.contents__sub {
}
.sub__shortcut {
  display: flex;
  width: 1440px;
  margin: auto;
  padding: 16px 0;
  border-top: 1px solid #ddd;
}

.sub__shortcut li {
  display: flex;
  align-items: center;
  width: 180px;
  padding-right: 10px;
  cursor: pointer;
}

.sub__shortcut li .thumb {
  display: inline-block;
  margin-right: 8px;
}

.sub__shortcut li .thumb img {
  width: 100%;
}
/* COMMON */
.inner {
  width: 1440px;
  margin: auto;
  position: relative;
}

#wrap {
  min-width: 1440px;
}

/* BANNER */
.header-banner {
  width: 100%;
  top: 0;
  background-color: rgb(17, 67, 59);
}

.header-bn-content {
  position: relative;
  min-height: 56px;
}
.header-bn-content a {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.check-bn-today {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
.c-chkbox {
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
}
.c-chkbox input[type='checkbox'] {
  position: absolute;
  left: 0px;
  outline: none;
  border: 0;
  width: 22px;
  height: 22px;
  display: none;
}

.c-chkbox .icon {
  position: absolute;
  top: 2px;
  left: 0;
  width: 22px;
  height: 22px;
  overflow: hidden;
  background: url('../asset/sprites-common.svg') no-repeat -300px -170px;
  width: 22px;
  height: 22px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.c-chkbox .txt {
  color: #fff;
  vertical-align: baseline;
  cursor: pointer;
}

.check-bn-close {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(40px, -50%);
  width: 25px;
  height: 25px;
  background-color: transparent;
  visibility: hidden;
}

.check-bn-close::before,
.check-bn-close::after {
  content: '';
  position: absolute;
  display: block;
  width: 25px;
  height: 2px;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 99;
  visibility: visible;
  cursor: pointer;
}

.check-bn-close::before {
  transform: rotate(45deg);
}

.check-bn-close::after {
  transform: rotate(-45deg);
}

/* HEADER */
.header-wrap {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background: #000;
}
.header-top {
  height: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  background: url('../asset/sprites-common.svg') no-repeat -1px -61px;
  width: 81px;
  height: 22px;
  display: inline-block;
}
.header-until-menu {
  display: flex;
  background-color: #333;
  width: 220px;
  height: 32px;
  padding: 2px;
  border-radius: 16px;
  font-size: 12px;
  line-height: 23px;
}

.header-until-menu li {
  flex: 1;
  padding: 2px;
  text-align: center;
  border: 3px solid #333;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
.header-until-menu li.actived {
  background: #fff;
}
.header-until-menu li.actived a {
  color: #000;
}
.header-until-menu li a {
  color: #fff;
  font-weight: 700;
}

/* NAVI */
.header-navi {
  height: 57px;
  display: flex;
  align-content: center;
}

ul.header-sub-menu {
  position: relative;
  display: flex;
  margin-left: auto;
  align-content: center;
}
ul.header-sub-menu li {
  padding: 7px;
}
.header-navi-menu {
  display: flex;
}

.header-nav-lst {
  display: flex;
}
.item + li {
  padding-left: 48px;
}
.item .item__name {
  color: #fff;
  font-weight: 400;
  font-weight: 400;
  display: block;
  height: 56px;
  line-height: 56px;
  white-space: nowrap;
}

.item .item__name span {
  display: flex;
  align-items: center;
  position: relative;
}
.item .item__name .tooltip {
  position: absolute;
  top: -27px;
  left: 50%;
  transform: translate(-50%);
}
.item .item__name .new {
  margin-top: -19px;
}

.item__wrap {
  width: 100%;
  position: fixed;
  top: 114px;
  left: 0;
  display: none;
  border-top: 1px solid #ddd;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.item:hover .item__wrap {
  display: block;
}

.item__wrap > .inner {
  display: flex;
  margin: auto;
  padding: 20px 0;
  border-bottom: #ddd;
  background: #fff;
}

.item__wrap > .inner li {
  width: 180px;
  padding-right: 10px;
  line-height: 28px;
  font-size: 14px;
}
.item__wrap > .inner li:before {
  padding-right: 0;
}

.item__wrap > .inner li h4:first-child {
  width: 180px;
}

.item__wrap > .inner li h4 {
  padding: 3px 0 8px 0;
  color: #000;
  width: 100%;
}

.item__wrap > .inner li h4 a {
  color: #000;
  font-weight: 800;
  height: 28px;
  font-size: 1.05rem;
}

.item__wrap > .inner li h4 a:hover {
  border-bottom: 1px solid #000;
}

.item__wrap > .inner li ul {
  min-height: 224px;
}

.item__wrap > .inner li ul li a {
  color: #666;
}

.item__wrap > .inner li ul li a:hover {
  text-decoration: underline;
}

.item__wrap > .inner ul li::before {
  content: '-';
  display: inline-block;
  margin-right: 2px;
  font-size: 14px;
  color: #666;
}

.contents__menu li ul {
}

.contents__menu li ul li {
}

.contents__sub {
}
.sub__shortcut {
  display: flex;
  width: 1440px;
  margin: auto;
  padding: 16px 0;
  border-top: 1px solid #ddd;
}

.sub__shortcut li {
  display: flex;
  align-items: center;
  width: 180px;
  padding-right: 10px;
  cursor: pointer;
}

.sub__shortcut li .thumb {
  display: inline-block;
  margin-right: 8px;
}

.sub__shortcut li .thumb img {
  width: 100%;
}
