/*
----------------------------------
    Header  Style
----------------------------------
*/

.header {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.08);
}

.header__wrapper {
    display: flex;
    flex-direction: column;

    width: 75%;
    margin: 1rem auto;

    white-space: nowrap;
}

.header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 1rem;
}

.header__top--left {
    display: flex;
    align-items: center;
}

.header__top--logo {
    display: flex;
    align-items: center;
}

.header__top--interpark-logo {
    width: 9.125rem;
    height: 3.125rem;

    background-image: url('../assets/image/interpark_logo.svg');
}

.header__top--interpark-word {
    font-size: 2rem;
    font-weight: 600;

    margin-left: -0.5rem;
}

.header__top--input {
    display: flex;

    margin-left: 1.5rem;
}

.header__top--input-text {
    display: flex;
    align-items: center;

    width: 27.2rem;
    height: 2.8rem;

    position: relative;

    border: 0.1rem solid rgba(0, 0, 0, 0.15);
    border-radius: 2.4rem;
}

.header__top--input-space {
    display: inline-block;

    width: calc(100% - 4rem);

    margin-left: 1rem;

    background-color: transparent;
    border: none;
}

.header__top--input-icon {
    width: 1.3rem;
    height: 1.3rem;

    position: absolute;

    top: 50%;
    right: 3%;
    transform: translateY(-50%);

    background-image: url('../assets/image/header_search.svg');
}

.header__top--right {
    display: flex;
    align-items: center;

    margin-right: 0.5%;
}

.header__top--menu {
    display: flex;

    position: relative;

    gap: 1.3rem;
}

.header__top--toggle-btn {
    cursor: pointer;
}

.header__top--hover-menu {
    display: none;
    justify-content: center;
    align-items: center;

    padding: 1.5rem 1rem;

    position: absolute;
    top: 170%;
    right: 0;

    background: #fff;
    box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.2);
    border-radius: 1.4rem;

    z-index: 2;
}

.header__top--hover-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__top--hover-item {
    display: block;

    line-height: 1.8rem;
    white-space: nowrap;

    cursor: pointer;
}

.header__top--toggle-text {
    position: relative;
}

.header__top--toggle-text::before {
    display: block;
    content: '';

    width: 3rem;
    height: 0.5rem;

    position: absolute;
    right: -50%;
    top: 35%;

    background-image: url('../assets/image/under.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.header__bottom {
    margin-top: 1.5rem;
}

.header__bottom--menu {
    display: flex;
    justify-content: start;
    align-items: center;
}

.header__bottom--menu-item {
    display: flex;
    align-items: center;

    margin-right: 1.3rem;

    font-weight: 600;
}

.header__bottom--menu-icon {
    width: 1.8rem;
    height: 1.8rem;

    margin-right: 0.5rem;
}

.header__bottom--menu-icon-hot {
    width: 1.4rem;
    height: 1.4rem;

    margin-left: 0.2rem;

    background-image: url('../assets/image/icon_hot.svg');
}

.header__bottom--menu-event-text {
    position: relative;

    font-weight: 600;
}

.header__bottom--menu-event-text::before {
    content: '';

    width: 0.1rem;
    height: 1rem;

    position: absolute;
    top: 50%;
    left: -0.75rem;

    background-color: #ededed;
    transform: translateY(-50%);
}

/*
----------------------------------------
            FIXED HEADER
----------------------------------------
*/

.fixed-header {
    position: fixed;
    top: -100px;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;
    color: #111;
    padding: 10px;
    transition: top 0.3s;
    border-bottom: 0.01rem solid rgba(0, 0, 0, 0.1);
}

.fixed-header .header-inner {
    display: flex;
    justify-content: space-between;
    width: 130.4rem;
    align-items: center;
    padding: 0;
}

.fixed-header .header-inner .header-left {
    display: flex;
    text-align: start;
}

.fixed-header .header-inner .header-left h1 {
    margin-top: 0.2rem;
}

.fixed-header .header-inner .header-left .header-logo .interpark-logo {
    width: 4rem;
    height: 3.5rem;
    background-position: left;
}

.fixed-header .header-inner .header-left .main-nav .main-menu {
    display: flex;
}

.fixed-header .header-inner .header-left .main-nav .main-menu li {
    margin-right: 1.5rem;
}

.fixed-header .header-inner .header-left .main-nav .main-menu li > a > i > img {
    width: 3rem;
    height: 3rem;
}

.fixed-header .header-inner .header-right .menu {
    position: relative;
    margin-right: 1.5rem;
}

.fixed-header .header-inner .header-right .menu .make-btn:before {
    position: absolute;
    display: block;
    width: 3rem;
    height: 0.6rem;
    content: '';
    top: 25%;
    right: -2.5rem;
    z-index: 101;
    background-image: url('../assets/image/under.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.header-right .menu > li:last-child a {
    position: relative;
    display: block;
    position: relative;
    cursor: pointer;
}

.header-right .menu > li:last-child a:hover + .hover-menu-fixed {
    display: block;
}

.hover-menu-fixed {
    display: none;
    position: absolute;
    right: -0.8rem;
    width: 10rem;
    top: 2rem;
    padding: 1.9rem 2rem;
    background: #fff;
    box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.2);
    border-radius: 1.4rem;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.hover-menu-fixed ul {
    display: flex;
    padding-top: 0.9rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hover-menu-fixed ul .me {
    display: block;
    text-align: left;
    margin-bottom: 1rem;
    line-height: 1.8rem;
    white-space: nowrap;
    cursor: pointer;
}

.make-btn div ul li b {
    font-weight: 600;
}
