h1 {
    margin: 0;
}

.p {
    font-weight: bold;
}

header {
    z-index: 20000;
    width: 100%;
    height: 80px;
    color: white;
    background-color: #111;
    display: flex;
    align-items: center;
    font-size: 13px;
    font: tahoma, sans-serif;
    justify-content: center;
    position: fixed;
}

.header_logo2 {
    margin-left: 28px;
}

.riot_logo>a>img {
    width: 85px;
}

.header>.center-section>.info>.dropdown>a>p {
    padding: 7.5px 16px;
    margin: 0 4px 0 0;
}

.header>.center-section>.media>a>p {
    padding: 7.5px 16px;
    margin: 0 4px 0 0;
}

.header>.center-section>.news>.dropdown>a>p {
    padding: 7.5px 16px;
    margin: 0 4px 0 0;
}

.header>.center-section>.scoreboard>a>p {
    padding: 7.5px 16px;
    margin: 0 4px 0 0;
}

.header>.center-section>.service>.dropdown>a>p {
    padding: 7.5px 16px;
    margin: 0 4px 0 0;
}

.header>.center-section>.event>.dropdown>a>p {
    padding: 7.5px 16px;
    margin: 0 4px 0 0;
}

.header>.center-section>.socialmedia>.dropdown>a>p {
    padding: 7.5px 16px;
    margin: 0 4px 0 0;
}

.header>.center-section>.esports>.arrow>a>p {
    padding: 7.5px 16px;
    margin: 0 4px 0 0;
}

.nav-a {
    color: white;
}
.playnow_btn{
    padding: 8px 16px;
}

.nav-right-a {
    width: 125px;
    height: 22px;
    padding: 5px;
    border-radius: 10px ;
    background: linear-gradient(135deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(255, 125, 102) 100%);
    color: #111;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 36px;
}

.center-section {
    margin-left: 18px;
    display: inline-block;
    width: 100%;
}

.center-section>div {
    display: inline-block;
}

.center-section>div>a {
    text-decoration: none;
}

.right-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 32px;
}

.playnow_btn {
    width: 100px;
    /* background: (135deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(255, 125, 102) 100%) */
}


.search {
    background-color: aqua;
}