/* 이미지 호버를 위한 css코드 */
/* product섹션 */
.has-swiper .box .one {
  background: url("../assets/slide2-1_hover.jpg");
  background-size: 100%;
}
.has-swiper .box .two {
  background: url("../assets/slide2-2_hover.jpg");
  background-size: 100%;
}
.has-swiper .box .three {
  background: url("../assets/slide2-3_hover.jpg");
  background-size: 100%;
}
.has-swiper .box .four {
  background: url("../assets/slide2-4_hover.jpg");
  background-size: 100%;
}
.has-swiper .box .five {
  background: url("../assets/slide2-5_hover.jpg");
  background-size: 100%;
}
.has-swiper .box .six {
  background: url("../assets/slide2-6_hover.jpg");
  background-size: 100%;
}
.has-swiper .box .seven {
  background: url("../assets/slide2-7_hover.jpg");
  background-size: 100%;
}
.has-swiper .box .eight {
  background: url("../assets/slide2-8_hover.jpg");
  background-size: 100%;
}
/* 공통 */
.has-swiper .box .images:hover img{
  opacity: 0;
  transform: scale(1.1);
  background-size: 110%;
  transition:opacity 1s,transform 1s;
}
.originImg{
  display:inline;
  transition:opacity 1s;
  opacity:1;
}

/* select#섹션 */
.has-swiper .box .secondOne {
  background: url("../assets/slide3-1_hover.jpg");
  background-size: 100%;
}
.has-swiper .box .secondTwo {
  background: url("../assets/slide3-2_hover.jpg");
  background-size: 100%;
}
.has-swiper .box .secondThree {
  background: url("../assets/slide3-3_hover.jpg");
  background-size: 100%;
}
.has-swiper .box .secondFour {
  background: url("../assets/slide3-4_hover.jpg");
  background-size: 100%;
}
.has-swiper .box .secondFive {
  background: url("../assets/slide3-5_hover.jpg");
  background-size: 100%;
}
.has-swiper .box .secondSix {
  background: url("../assets/slide3-6_hover.jpg");
  background-size: 100%;
}