@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;400;600;700&display=swap");
@font-face {
  font-family: "Helvetica Now Display";
  src: local("Helvetica Now Display Medium"),
    local("Helvetica-Now-Display-Medium"),
    url("../fonts/HelveticaNowDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: local("Helvetica Now Display Light"), local("HelveticaNowDisplay-Light"),
    url("../fonts/HelveticaNowDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: local("Helvetica Now Display Bold"), local("HelveticaNowDisplay-Bold"),
    url("../fonts/HelveticaNowDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: local("Helvetica Now Display ExtBlk"),
    local("HelveticaNowDisplay-ExtBlk"),
    url("../fonts/HelveticaNowDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Helvetica Now Display";
  font-weight: 500;
}

body {
  font-size: 18px;
}

h2 {
  font-weight: bold;
}

p {
  font-weight: normal;
  line-height: 1.1;
}

strong {
  font-weight: bolder;
}

/* HOME SECTION */
.home {
  width: 100%;
  height: 100dvh;
  border-bottom: 1px solid #505050;
  padding: 0 40px;
}

.header {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  height: 100%;
  width: 100%;
}

.canvas img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header-top {
  display: grid;
  grid-template-columns: 1fr auto;
}

.logo-desktop {
  padding: 40px 0 0 40px;
  max-width: 1000px;
}

.logo-desktop svg {
  width: 100%;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 3rem;
}

.nav-list .top {
  display: flex;
}

.nav-list .bottom {
  padding: 15px;
  font-size: 4vw;
  font-weight: 600;
}

.nav-item {
  padding: 15px;
  font-size: 1rem;
  font-weight: 300;
  white-space: nowrap;
}

.nav-btn {
  display: flex;
}

.nav-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  background-color: #212121;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: inherit;
}

/* 1024px colums */
.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 3rem;
  margin-bottom: 40px;
}

.header-bottom-btn {
  display: flex;
  column-gap: 10px;
}

@media screen and (max-width: 1024px) {
  .header-bottom-btn {
    flex-direction: column;
    row-gap: 10px;
  }
}

.header-bottom-btn button {
  border: none;
  background-color: #212121;
  color: white;
  padding: 15px 30px;
  font-size: 1.125rem;
  border-radius: 30px;
  white-space: nowrap;
}

/* INTRODUCE SECTION */
.introduce {
  margin-top: 4rem;
  margin-bottom: 8rem;
  padding-right: 6rem;
}

.introduce .container {
  padding-left: 40%;
}

.description {
  font-size: 4vw;
  font-weight: 700;
  margin-bottom: 4rem;
}

.keywords {
  display: flex;
  margin-bottom: 4rem;
  column-gap: 4rem;
}

.keyword {
  border-top: 1px solid #505050;
  padding-top: 2rem;
}

.keyword .title {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.keyword .detail {
  color: #b5b5b5;
  font-weight: 300;
}

/* SERVICE SECTION */
.service {
  margin-bottom: 6rem;
}

.service__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.service__container .card {
  position: relative;
  height: 56vw;
  padding: 3rem;
  color: white;
}

.all-solutions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #151623;
}

.all-solutions > p:first-child {
  font-size: 3.5vw;
}

.all-solutions button {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  background-color: transparent;
  padding: 15px 25px;
  font-size: 1.2vw;
  margin-top: 40px;
}

.on-demand {
  display: flex;
  align-items: end;
  font-size: 2.5vw;
}

.on-demand::before {
  position: absolute;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -9;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
}

.shared-flights {
  display: flex;
  align-items: end;
  font-size: 2.5vw;
  background-color: #bc7154;
}

.shared-flights svg {
  position: absolute;
  top: 30px;
  right: 0;
}

/* DESTINATION SECTION */
/* 1024px */
.destination {
  padding: 0 6rem;
  margin-bottom: 6rem;
}

.destination__title {
  font-size: 3.5vw;
  font-weight: 600;
  margin-bottom: 3rem;
}

.block-slider-list {
  position: relative;
  display: flex;
}

.block-slider-images {
  display: block;
  width: 50%;
  height: 32vw;
  overflow: hidden;
  border-bottom-right-radius: 5vw;
}

.block-slider-slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.block-slider-slider img {
  width: 100%;
}

.block-slider-items {
  position: relative;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.block-slider-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid #d6d6d6;
  padding: 15px 0;
  margin-left: 20px;
  font-size: 2vw;
}

.block-slider-item:nth-child(n + 3) {
  border-top: none;
}

.block-slider-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25px;
  border-bottom: 1px solid #d5d3d4;
  border-right: 1px solid #d5d3d4;
  border-bottom-right-radius: 25px;
}

.block-slider-item span {
  font-weight: 300;
}

.block-slider-item > span {
  font-size: 1.2vw;
}

/* MANAGER SECTIOn */
.manager {
  margin-bottom: 6rem;
}

.manager__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 56vw;
}

.manager__container .image {
  background-color: #000000;
  position: relative;
}

.manager__container .description {
  padding: 3.125vw;
  background-color: #151623;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.manager__container .description h2 {
  font-weight: 600;
}

.manager__container .description p {
  font-size: 1.2vw;
  font-weight: 300;
  line-height: 1.2;
}

/* ========== EXPERIENCE SECTION ========== */
.experience {
  padding: 4rem;
}

.experience__logo h2 {
  font-weight: bold;
  font-size: 13vw;
  line-height: 0.8;
  margin-bottom: 6rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.experience-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 9fr 10fr;
  grid-column-gap: 4%;
}

.experience-grid p {
  font-weight: 300;
  font-size: 1.31vw;
  width: 23vw;
  line-height: 1.1;
}

.experience-items-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 4%;
}

.experience-item {
  display: flex;
  flex-direction: column;
  row-gap: 2.5vw;
  margin-bottom: 4rem;
}

.experience-item .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.4vw;
  height: 6.4vw;
}

.experience-item h2 {
  font-size: 1.56vw;
}

.experience-item p {
  width: 20.5vw;
  font-size: 1.36vw;
}

.experience-item .icon::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/dashed.svg);
  background-repeat: no-repeat;
}

.experience-item svg {
  font-size: 2.5vw;
}

.experience button {
  border: none;
  background-color: #151623;
  padding: 15px 25px;
  color: white;
  border-radius: 30px;
  font-size: 1.15vw;
}

/* ========== PHOTOS SECTION ========== */
.photos {
  padding: 0 4rem;
  width: 100%;
  position: relative;
}

.photo-grid img {
  width: 100%;
  margin-top: 2rem;
}

.message {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 49vw;
}

.message h2 {
  font-size: 9vw;
}

.message p {
  font-weight: bold;
  font-size: 2vw;
  color: #8d8d8d;
}

/* ========== FOOTER ========== */
.footer {
  background-color: #000e11;
  color: white;
  padding: 4rem 4rem 0 4rem;
  font-size: 1.5vw;
}

.footer__logo {
  width: 10%;
  margin-bottom: 6rem;
}

.footer__logo svg {
  width: 100%;
}

.footer__sections {
  display: flex;
  margin-bottom: 4rem;
}

.footer__sections .socials {
  width: 30%;
}

.footer__sections .sections {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  max-width: 50%;
  line-height: 1.5;
}

.footer__sections .sections .item {
  width: 15vw;
}

.footer__sections .sections span {
  font-weight: 300;
  font-size: 1.3vw;
  color: #8d8d8d;
}

.footer__others {
  display: flex;
  font-weight: 300;
  font-size: 1.3vw;
}

.footer__others .info {
  width: 30%;
}

.footer__others .info p {
  font-size: 1.1vw;
  color: #8d8d8d;
  margin-top: 3vw;
  line-height: 1.2;
}

.footer__others .policies {
  display: flex;
  flex-direction: column;
}

.policy-names {
  display: flex;
}

.policy-names h3 {
  white-space: nowrap;
  width: 15vw;
  color: #8d8d8d;
}

.policies .description {
  font-weight: 300;
  font-size: 1.2vw;
  color: #8d8d8d;
  line-height: 1.2;
  margin-top: 3vw;
}
