@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean');

body {
   margin: 0;
}

a {
   text-decoration: none;
}

html {
   background-color: #ece8e1;
}

h1,
h2 {
   font-family: 'Black Han Sans';
}


/* 빨간색 버튼 */
.valorant-button {
   display: flex;
}

.red-button {
   /* display: inline-block; */
   position: relative;
   width: 246px;
   height: 56px;
   padding: 10px;
   margin: 42.5px 0 60px;
   background-color: #ff4655;
   color: #ece8e1;
   font-size: 13px;
   font-weight: 600;
   cursor: pointer;
   border: 0px;
   transition: background-color 0.3s ease-in-out;
}

.top-redline {
   position: absolute;
   height: 2px;
   width: 244px;
   top: -2px;
   right: 0;
   background-color: #ff4655;
   transition: background-color 0.3s ease-in-out;
}

.top-whiteline {
   position: absolute;
   height: 2px;
   width: 244px;
   top: -2px;
   right: 0;
   background-color: #ece8e1;
   transition: background-color 0.3s ease-in-out;
}

.red-button>a>.title {
   color: #ece8e1;
}

.red-button:hover {
   background-color: #212932;
}

.red-button:hover .top-redline {
   background-color: #212932;
}




.white-button:hover .top-whiteline {
   background-color: #0f1923;
}

.white-button {
   /* display: inline-block; */
   position: relative;
   width: 246px;
   height: 56px;
   padding: 10px;
   margin: 42.5px 0 60px;
   background: #ece8e1;
   color: #111;
   font-size: 13px;
   font-weight: 600;
   cursor: pointer;
   border: 0px;
   transition: background-color 0.3s ease-in-out;
}

.white-button:hover {
   background: #0f1923;
}

.white-button:hover .title {
   color: #ece8e1;
}

.white-button a .title {
   color: #0f1923;
}


.button-squre {
   position: absolute;
   right: 0;
   bottom: 0;
   width: 4px;
   height: 4px;
   background-color: #0f1923;
   transition: background-color 0.3s ease-in-out;
}

.red-button:hover .button-squre {
   background-color: #ece8e1;
}

.white-button:hover .button-squre {
   background-color: #ece8e1;
}

.top-square {
   position: absolute;
   right: -8px;
   top: -10px;
   width: 260px;
   height: 31px;
   border: 1px solid hsla(38, 22%, 90%, .5);
   border-bottom: none;
}

.bottom-square {
   position: absolute;
   right: -8px;
   bottom: -8px;
   width: 260px;
   height: 31px;
   border: 1px solid hsla(38, 22%, 90%, .5);
   border-top: none;
}




/* ------------------------------ */


.first_section {
   display: flex;
   position: relative;
   height: 40rem;
   width: 100%;
   overflow: hidden;
   align-items: center;
   justify-content: center;
   padding-top: 80px;
}

.red-sqaure {
   position: absolute;
   width: 16px;
   top: 70px;
   left: 0;
   height: 16px;
   background-color: #ff4655;
}

.red-triangle {
   position: absolute;
   top: 70px;
   left: 16px;
   border-bottom: 8px solid transparent;
   border-top: 8px solid transparent;
   border-left: 8px solid #ff4655;
   border-right: 8px solid transparent;
}

.valorant-info>img {
   text-shadow: 0 4px 10px rgba(0, 0, 0, .2);
   box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
}

.first_section>.valorant-info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 1230px;
   height: 100%;
   border-right: 1px solid #ece8e188;
   border-left: 1px solid #ece8e188;
}

.valorant-info {
   position: relative;
   text-align: center;
   margin-left: 88px;
   margin-right: 88px;
}

.valorant-info>.center-line {
   z-index: -1;
   position: absolute;
   left: 0;
   height: 100%;
   width: 300px;
   border-right: 1px solid #ece8e188;
}

.first_section>video {
   position: absolute;
   z-index: -1;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.first_section>div>p {
   color: white;
   font-family: arial, georgia, sans-serif;
}





.triangle {
   position: absolute;
   border-bottom: 50px solid #ece8e1;
   border-left: 0px solid transparent;
   border-right: 50px solid transparent;
   left: 0;
   bottom: 0;
}

.valorant-info>p {
   margin: 0 0 35px;
}

.valorant-info>button {
   margin: 4.25rem 0 6rem;
}

.background-word1,
.background-word2 {
   position: absolute;
   z-index: -10;
   font-family: 'Black Han Sans';
   font-size: 300px;
   color: #ece8e1;
   text-shadow: -1px 0 #dbd8d2, 0 1px #dbd8d2, 1px 0 #dbd8d2, 1px 0 #dbd8d2;
   overflow: hidden;
}

.background-word1 {
   width: 100%;
   left: 50px;
   transform: translate(-15%, -15%);
}

.background-word2 {
   left: -50px;
   transform: translate(23%, 70%);
}

.second_section {
   position: relative;
   height: 35rem;
   width: 100%;
   background-color: rgba(137, 43, 226, 0);
   overflow: hidden;
}

.second_section>div>div>div>div>.h2 {
   font-size: 120px;
   color: #ff4655;
}

.title>h2 {
   text-align: left;
   /* '최신 소식'을 왼쪽으로 정렬 */
}

.second-bigwrap {
   position: relative;
   justify-content: center;
   width: 1230px;
   height: 560px;
   margin-left: 88px;
   margin-right: 88px;
   margin: 0 auto;
   border: 1px #949595 solid;
   border-top-style: none;
   border-right-style: none;
   border-bottom-style: none;
}

#rs1 {
   width: 8px;
   height: 8px;
   top: 65px;
   left: 36.5rem;
}

#rs2 {
   width: 8px;
   height: 8px;
   top: 65px;
   left: 39.5rem;
}

.second-container {
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: center;
}


.news-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 1230px;
   height: 100%;
   border-left: 1px solid #ece8e18a;
}

.title {
   justify-content: flex-start;
   bottom: 0;
   left: 0;
   margin-top: 30px;
}

.title>h2>span {
   margin-top: 30px;
}

.newpages {
   position: relative;
   height: 150px;
   align-items: center;
   justify-content: center;
   white-space: nowrap;
   margin-right: 10px;
}

/* 추가 */
.newpages .news-link {
   display: inline-flex;
   align-items: center;
   white-space: nowrap;
   margin-left: auto;

}

.news-link {
   color: #ff4655;
   font-weight: bold;
   text-align: right;
   align-items: center;
   white-space: nowrap;
   margin-left: auto;
   justify-content: center;
   height: 100%;
}
.right-arrow {
   position: relative;
   left: 0;
   width: 100%;
   height: 2.5vh;
   transition: left 0.3s ease-in-out;
}

.news-link:hover .right-arrow {
   left: 20px;   
}


.video-grid {
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: center;
}

.contents {
   display: flex;
   justify-content: space-between;
   align-items: start;
   width: 1230px;
}

.video-thumbnail {
   flex: 1;
   margin-right: 10px;
}

.video-thumbnail img {
   width: 100%;
   height: auto;
   border-radius: 5px;
}

.update-date {
   margin: 20px 0 15px;
}

.date {
   font-size: 11px;
   font-weight: bolder;
   color: #0f1923;
}

.property {
   margin: 0 0 0 20px;
   font-size: 12px;
   color: #ff4655;
}

.video-title {
   font-size: 21px;
   color: #0f1923;
}

.video-gird>a {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 1230px;
}

.third_section {
   position: relative;
   /* padding: 10px; */
   height: 55rem;
   width: 100%;
   flex-direction: column;
}

.third_section>video {
   width: 30%;
}

.third-bigwrap {
   display: flex;
   justify-content: center;
   height: 100%;
}

.third-h5 {
   font-size: 21px;
   letter-spacing: 0.19rem;
}

.third-container1 {
   height: 100%;
   width: 1230px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   position: relative;
   bottom: 0;
   border: 1px #f5ca9e solid;
   border-top-style: none;
   border-right-style: none;
   border-bottom-style: none;
}

.third-container1>.redsqr-box {
   position: absolute;
   width: 1230px;
   height: 30px;
   bottom: 0;
}

.third-container1>.redsqr-box>#rb1 {
   top: 0;
   left: 0;
   height: 10px;
   width: 10px;
}

.third-container1>.redsqr-box>#rb2 {
   position: absolute;
   bottom: 0;
   right: 0;
   height: 14px;
   width: 14px;
   background-color: #ff4655;
}

.third-container1>.redsqr-box>#rb3 {
   position: absolute;
   top: 0;
   left: 46rem;
   width: 100px;
   height: 3px;
   background-color: #ff4655;
}



.third_section>div>div>div>h2 {
   font-size: 140px;
   color: #ece8e1;
   padding-top: 10px;
}


.third_section>div>div>div>h5 {
   color: #ece8e1;
   margin: 0 0 25px;
}

.third-back>img {
   position: absolute;
   z-index: -1;
   right: 0;
   width: 100%;
   height: 60rem;
   object-fit: cover;
}

.third-content {
   position: absolute;
   bottom: 0;
   margin: 100px 0 100px 30px;
   width: 1230px;
   height: 362px;
   align-items: center
}



.fourth_section {
   position: relative;
   height: 1000px;
   width: 100%;
   background-color: #ece8e1;
   z-index: 2;
}


.triangle2 {
   position: absolute;
   border-bottom: 55px solid #ff4655;
   border-left: 0px solid transparent;
   border-right: 147px solid transparent;
   left: 0;
   bottom: 0;
}

.fourth-container {
   display: flex;
   position: relative;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100%;
   width: 1230px;
   margin: 0 auto;
   border: 1px #949595 solid;
   border-top-style: none;
   border-right-style: none;
   border-bottom-style: none;
}

/* #rs1 {
   width: 8px;
   height: 8px;
   top: 65px;
   left: 36.5rem;
}

#rs2{
   width: 8px;
   height: 8px;
   top: 65px;
   left: 39.5rem;
} */

.fourth-container>#rs1 {
   top: 30rem;
   left: 39.9rem;
}

.fourth-container>#rs2 {
   top: 30rem;
   left: 42.5rem;
}

.fourth-container>#rs3 {
   width: 7px;
   height: 7px;
   top: 28rem;
}

.fourth-container>#rs4 {
   width: 14px;
   height: 14px;
   left: 61.5rem;
}

.fourth-container>#rs5 {
   width: 11px;
   height: 11px;
   top: 56rem;
   left: 0;
}

.fourth-container>#rs6 {
   width: 7px;
   height: 7px;
   top: 44rem;
   left: 6.5rem;
}

.fourth-reverse {
   position: absolute;
   right: 0;
   width: 160px;
   height: 320px;
   font-size: 10px;
   font-family: Arial, Helvetica, sans-serif;
   letter-spacing: 2px;
   color: #ff4655;
   transform: scaleX(-1);
}


.red-underline {
   margin-top: 5px;
   width: 160px;
   height: 4px;
   background-color: #ff4655;
}


.fourth-section-left {
   position: relative;
}

.fourth-header {
   position: absolute;
   padding: 15.6px 130px 15.6px 100px;
   margin: 0 0 40px;
   font-size: 156px;
   left: 0;
   top: 80px;
}

.fourth_section>div>.h2 {
   font-size: 120px;
   color: #0f1923;
}

.fourth-text {
   position: absolute;
   margin: 0 0 80px 210px;
   left: 0;
   bottom: 11px;
}

.fourth-text>h5 {
   color: #383E3A;
}

.fourth-text>.valorant-button>button>a>.top-square {
   position: absolute;
   right: -8px;
   top: -8px;
   width: 260px;
   height: 31px;
   border: 1px solid #bdbcb7;
   border-bottom: none;
}

.fourth-text>.valorant-button>button>a>.bottom-square {
   position: absolute;
   right: -8px;
   bottom: -8px;
   width: 260px;
   height: 31px;
   border: 1px solid #bdbcb7;
   border-top: none;
}

.fourth_section>div>video {
   z-index: 1;
   position: absolute;
   width: 700px;
   right: -110px;
   bottom: 90px;
}

.video-tag {
   z-index: 10;
   position: absolute;
   top: 530px;
   right: 40.5%;
   width: 75px;
   height: 20px;
   padding: 4px 20px;
   background: #ff4655;
   color: #ece8e1;
   font-size: 15px;
   font-weight: 600;
   text-align: center;
   line-height: 20px;
}

.crash-limit {
   font-size: 21px;
   margin-bottom: 25px;
}

.game-info {
   width: 287px;
   color: #768079;
   line-height: 25px;
   word-break: keep-all;
}

.fifth_section {
   position: relative;
   background-color: #ff4655;
   height: 780px;
   width: 100%;
}

.fifth-h2 {
   font-size: 140px;
   color: #ece8e1;
}

.agent-img {
   z-index: 100;
   position: relative;
   width: 100%;
   height: 100%;
}

#reyna {
   position: absolute;
   z-index: 9;
   left: -8.9rem;
   bottom: -20%;

}

#raze {
   position: absolute;
   z-index: 30000;
   bottom: -30%;
   left: 12rem;
   transform: scaleX(-1);
   /* 좌우반전 */
   width: 560px;
}


.fifth-container {
   display: flex;
   align-items: end;
   justify-content: space-between;
   align-content: center;
   flex-direction: row;
   width: 1229px;
   height: 100%;
   margin: 0 auto;
   border: 1px #f5979a solid;
   border-top-style: none;
   border-right-style: none;
   border-bottom-style: none;
}

.agent-contents {
   position: flex;
   width: 495px;
   right: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-top: 1px #f7868d solid;
   padding: 22px 0 40px;
   margin: 100px 0 100px 30px;
}

.agent-title {
   width: 396px;
   height: 126px;
   margin: 0 0 40px;
}

.agent-info {
   color: #ece8e1;
}

.agent-info>h4 {
   margin-bottom: 25px;
   font-size: 21px;
}

.agent-info>p {
   width: 390px;
   height: 72px;
   line-height: 25px;

}

.agent-showbtn {
   margin-left: 141px;
}


.sixth_section {
   position: relative;
   width: 100%;
   height: 780px;

}

.sixth-container1 {
   z-index: 20;
   position: absolute;
   width: 100%;
   height: 880px;
   top: -100px;
   overflow: hidden;
}

.sixth-container1>img {
   position: absolute;
   z-index: 20;
   right: -130px;
   height: 880px;
   width: 1260px;
   bottom: 0;
}

.sixth-container2 {
   position: flex;
   width: 100%;
   height: 880px;
}

.map-contents {
   position: flex;
   bottom: 0;
   width: 1229px;
   height: 700px;
   margin: 0 auto;
   padding: 40px 0;
   border: 1px #949595 solid;
   border-top-style: none;
   border-right-style: none;
   border-bottom-style: none;
}

.map-contents>.map-info {
   z-index: 100;
   position: relative;
   margin: 10rem 0;
   margin-left: calc(8.33333% + .25rem);
   padding: 22px 0px 40px;
   width: 50%;
   height: 450px;
   border: 1px #949595 solid;
   border-left-style: none;
   border-right-style: none;
   border-bottom-style: none;
}

.map-info>h2 {
   font-size: 140px;
   margin: 0 0 40px;
   padding: 15.6px 0 12px;
}

.map-info>h5 {
   margin: 0 0 25px;
   font-size: 21px;
   color: #383E3A;
}

.map-info>p {
   width: 390px;
   height: 72px;
   line-height: 25px;
   color: #768079;
}

.map-info>button>a>.top-square {
   position: absolute;
   right: -8px;
   top: -8px;
   width: 260px;
   height: 31px;
   border: 1px solid #bdbcb7;
   border-bottom: none;
}

.map-info>button>a>.bottom-square {
   position: absolute;
   right: -8px;
   bottom: -8px;
   width: 260px;
   height: 31px;
   border: 1px solid #bdbcb7;
   border-top: none;
}

.footer {
   width: 100%;
   height: 630px;
   background-color: #111111;
}

.footer-container {
   width: 100%;
   height: 582px;
   padding: 0 0 48px;
}

.game-download {
   background-color: #292929;
   padding: 24px;
}

.game-download>ul {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 33px;
}

.game-download>ul>li>a {
   padding: 8px 16px;
   font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
   font-size: 13px;
   font-weight: bolder;
   letter-spacing: 1px;
   color: #F9F9F9;
   background-color: #80808000;
   border-radius: 10px;
   transition: background-color 0.3s ease-in-out;
}

.game-download>ul>li>a:hover {
   background-color: #80808046;
}

.contact-sns {
   padding: 18px;
}

.contact-sns>ul {
   display: flex;
   justify-content: center;
   align-items: center;
}

.contact-sns>ul>li>a {
   width: 32px;
   height: 32px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #282828;
   border-radius: 12px;
   margin: 6px;
}

.game-logo {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 24px 0 20px;
}

.riot-logo>a>img {
   width: 99px;
   color: #737373;
}

.copyright {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   color: #737373;
   font-size: 13px;
   line-height: 18px;
   font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.copyright>p {
   width: 640px;
   height: 36px;
}

.legal-link {
   display: flex;
   justify-content: center;
   padding: 24px 0 28px;
}

.legal-link>ul {
   display: flex;
   height: 33px;
   align-items: center;
}

.legal-link>ul>li>a {
   padding: 8px 16px;
   font-size: 13px;
   font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
   font-weight: bolder;
   letter-spacing: 1px;
   color: #ece8e1;
   background-color: #80808000;
   transition: background-color 0.3s ease-in-out;
   border-radius: 8px;
}

.legal-link>ul>li>a:hover {
   background-color: #80808046;
}

.game-ratings {
   display: flex;
   justify-content: center;
}

.game-ratings>div {
   padding: 12px 12px;
   background-color: #292929;
   border-radius: 9px;
}