*{
  box-sizing: border-box;
}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,img {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', 'Malgun Gothic', sans-serif !important;
  font-weight: normal;
  line-height: 180%;
  letter-spacing: -0.3px;
}
html {
  width: 100%;
  height: 100%;
}
body {
  word-break: keep-all;
  color: #000;
  min-width: 1240px;
  margin:0;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover, a:focus {
  color: #000;
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* header */
header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  margin: 0 auto;
  border-bottom: 1px solid transparent;
  border-bottom-color: transparent;
}
header .header-inner-wrapper {
  box-sizing: border-box;
  padding: 20px 80px;
  height: 107px;
  position: relative;
  z-index: 9;
  background-color: 255,255,255,0;
  opacity: 1;
}

.row {
  margin-right: 0;
  margin-left: 0;
  display:flex;
}
header .logo-line{
  width: auto;
  float: left;
  padding: 21.5px 0;
  margin-right: 20px;
  line-height: 0;
}
.header-inner-wrapper .white {
  display: block;
  width:250px;
}
.header-inner-wrapper .black {
  display: none;
  width:250px;
}

header .navi-wrapper {
  width: auto;
  float: left;
  font-size:12px;
}
header .navi-list{
  display:flex;
  height:90px;
  line-height: 65px;
}
/* .sub-menu {
  display:flex;
}
.sub-menu li {
  padding-right:60px;
} */
header .navi-list .navi-text {
  vertical-align: middle;
  margin: 0;
  padding: 0 27px;
}
header .navi-list .navi-text > a {
  padding: 0 15px;
  margin: 0;
  color:black;
}
header .navi-list .navi-text > a span {
  display: block;
  position: relative;
  color:white;
}
header .navi-list .navi-text .sub-menu {
  position: fixed;
  z-index: 9;
  text-align: left;
  display: none;
  width: max-content;
  min-width: 1000px;
  top:108px;
  left: 0px;
  padding: 40px 70px 70px;
  font-size: 14px;
}
header .navi-list .navi-text:hover .sub-menu {
  display:flex;
  border-bottom:#2e2b2b;
  background-color: #fff;
  width:100%;
  border-bottom: 1px solid #000;
}

header .navi-list .navi-text .sub-menu > li {
  display: inline-block;
  margin-right: 70px;
  /* line-height: 30px; */
}
header .navi-list .navi-text .sub-menu .depth3{
  font-size: 12px;
  line-height:30px;
}
header .navi-list .navi-text .sub-menu .depth3 li{
  margin:10px 0px;
}
.header-right-area {
  font-size:12px;
  position:absolute;
  right:70px;
  height:80px;
  line-height:70px;
  align-items: start;
}
.header-right-area .right-element{
  margin:0px 10px;
  align-items: start;
  cursor: pointer;
  color:white;
}

/* 1번째 이미지 슬라이더 + pagination */
.main-introduction{
  position: relative;
}
.swiper1-img{
  max-width: 100%;
}
.main-introduction .swiper-pagination{
  position: absolute;
  bottom:80px;
  left:50%;
  margin-left:-150px;
  z-index:10;
}
.swiper-pagination-bullet { 
	width: 60px;
	border-radius:1px;
	height: 4px; 
	background: lightgray; 
	opacity: 0.4;
	;}
.swiper-pagination-bullet-active {  
	opacity:1;
	transition: opacity .4s; 
	border-radius:1px;
	background: white; 
	border: 1px solid transparent; 
}

/* Products & Select# & Stories */
/* 상단 타이틀 및 메뉴 */
.has-swiper{
  width: 100%;
  margin-bottom:100px;
}
.text-container{
  width:100%;
  box-sizing: border-box;
  height:100px;
  padding-left:70px;
  margin:40px 0px;
}
.text-container .title{
  font-size:30px;
  font-weight:700;
}
.text-container .menu{
  display: flex;
  cursor:pointer;
}
.text-container .menu .text{
  margin-right:20px;
  cursor:pointer;
}

/* Products & Select#*/
/* 슬라이드되는 박스 */

.product-swiper .swiper-slide{
  display: flex;  
}
.has-swiper .product-swiper .box1, .box2 {
  border:1px solid black;
  border-right-color: transparent;
}
.has-swiper .product-swiper img{
  width:100%;
}
/* .products-container .product-swiper .box1 .hoverImg{
  position: relative;
  width:100%;
  top:10px;
} */

.has-swiper .product-swiper .product-description{
  padding: 45px 35px;
  box-sizing: border-box;
}
.product-description .info h4{
  font-size:13px;
  font-weight: 700;
}
.product-description .meta {
  font-size:12px;
  padding-top:10px;
  position:relative;
}
.product-description .meta .text {
  padding-right: 12px;
}
.product-description .meta .lastPrice{
  color:lightgray;
  text-decoration:line-through;
}
.product-description .meta .currentPrice{
  font-size: 14px;
}
.product-description .meta .right{
  position:absolute;
  right:0;
}  
.product-description .meta .right .discount{
  color:red;
}

/* half-banner */
.half-banner-container{
  display: flex;
  position: relative;
}
.half-banner-container img{
  width:100%;
  opacity: 0.5;
  position: relative;
  background-color: black;
}
.half-banner-container .text-area{
  line-height: 1.8;
  position:absolute;
  bottom: 180px;
  z-index: 9;
  text-align: center;
  width:50%;
  margin: 0 auto;
}
.half-banner-container .text-area .sub-title{
  font-size:40px;
  font-weight:700;
}
.half-banner-container .btn-shopnow {
  transform: translateY(-100px);
  bottom:70px;
  border: 1px solid;
  width: 200px;
  font-size: 15px;
  padding: 11px;
  text-align: center;
  margin:0 auto;
}

/* Stories */
.stories-container{
  width:100%;
  margin-top: 100px;
  padding:30px 0px 60px;
  background-color: rgb(250, 245, 233);
}
.stories-container .text-container{
  padding-top:20px;
}
.stories-container .boxes{
  display: flex;
}
.stories-container .box{
  width:calc(100%/4);
  border:1px solid black;
  text-align: center;
  padding-bottom: 25px;
  font-size:13px;
}
.stories-container img{
  width:100%;
  margin-bottom:20px;
}

/* Business solution */
.business-solution-container{
  padding:50px 0px;
  margin-bottom: 20px;;
}
.business-solution-container .title{
  margin-bottom:20px;
}
.btn-request{
  border: 1px solid;
  width: 170px;
  height:50px;
  font-size: 15px;
  padding: 11px;
  text-align: center;
  margin-left:70px;
  margin-top:30px;
  background-color: white;
}