*{
  box-sizing: border-box;
}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,img {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', 'Malgun Gothic', sans-serif !important;
  font-weight: normal;
  line-height: 180%;
  letter-spacing: -0.3px;
}
html {
  width: 100%;
  height: 100%;
}
body {
  word-break: keep-all;
  color: #000;
  min-width: 1240px;
  margin:0;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover, a:focus {
  color: #000;
  /* text-decoration: underline; */
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}