/*
---------------------------------------
            SHOPPING BANNER
---------------------------------------
*/

.shoppingBanner {
    max-width: 130.4rem;
    margin : 0 auto;
    padding: 3rem 0 6rem;
    border: none;
}

.shopping__title {
    width : 100%;
    padding: 0 2rem;
    margin-bottom: 2rem;
    text-align: center;
    box-sizing: border-box;
}

.shopping__title h1 {
    font-size: 2.8rem;
    line-height: 2.3rem;
    font-weight: 700;
}

.shopping__title p {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-top: 0.5rem;
    color : hsla(0,0%, 7%, 0.5);
}


.shopping__content {
    position: relative;
}

.shopping__tab {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 2rem;
    margin : 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 3rem;
}

.shopping__tab > button {
    padding: 1.2rem 2rem;
    width: auto;
    margin-right: 0.5rem;
    border: 1px solid #e5e5e5;
    border-radius: 2rem;
    cursor: pointer;
}

.shopping__tab > button:first-child {
    background-color: #333;
    color: #fff;
}


.mySwiper2 {
    position: relative;
    overflow: hidden;
    width: 130.4rem;
    height: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.mySwiper2 .swiper-wrapper {
    width: 100%;
    height: 46rem;
    display: flex;
    box-sizing: content-box;
    justify-content: space-between;
    position: relative;
}

.mySwiper2 .swiper-wrapper > .swiper-slide {
    width: 10rem;
    height: fit-content;
    display: inline-flex;
    border-radius: 1.2rem;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 1rem;
}

.mySwiper2 .swiper-wrapper .swiper-slide a .element__image img {
    border-radius: 0rem;
    width: 100%;
}

.element__info {
    height: 10.6rem;
    padding: 1.2rem 1.7rem 1.2rem;
    box-sizing: border-box;
    vertical-align: bottom;
}

.info--upper {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 700;
    display: flex;
    width: 100%;
    justify-content: start;
    color: #111;
}

.upper__sale{
    color: red;
    margin-right: 1rem;
}

.upper__title-thin {
    font-weight: 400;
    font-size: 1.8rem;
    vertical-align: bottom;
}

.info--downer {
    margin-top: 0.6rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-overflow: ellipsis;
    text-align: start;
    color: #111;
}

.right-btn-two {
    position: absolute;
    right: 0;
    z-index: 50;
    top: 50%;
    z-index: 31;
    width: 4.8rem;
    height: 4.8rem;
    margin-top: -1.5rem;
    transform: translateX(50%);
    background: hsla(0, 0%, 100%, 0.9);
    border: 0.1rem solid rgba(0,0,0,0.1);
    box-shadow: 0 0 0.8rem rgba(0,0,0,.13);
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
}

.right-btn-two::before {
    content: '다음';
    color: transparent;
    width: 3.8rem;
    height: 4rem;
    margin-left: 0.3rem;
    background-image: url("../assets/image/right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.shopping__bottom {
    display: flex;
    justify-content: center;
}

.shopping__bottom button {
    position: absolute;
    bottom: -3rem;
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    width: auto;
    border: 1px solid #e5e5e5;
    border-radius: 3rem;
    cursor: pointer;
}