html {
    font-size: 62.5%;
    text-size-adjust: none;
    font-family: "Roboto","Noto Sans KR", sans-serif;
}
body {
    color: black;
    font-size: 1.3rem;
}
button {
    appearance: auto;
    text-rendering: auto;
    color: #111;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: transparent;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
}

a {
    text-decoration: none;
    color: black;
    margin: 0;
}

/*
----------------------------------
    Header  Style
----------------------------------
*/

.header-main {
    border-bottom : 0.1rem solid rgba(0,0,0,0.08);
    padding: 0 15rem 0 15rem;
}

.header-inner {
    margin : 0 auto;
    padding : 3rem 0 0;
    box-sizing: border-box;
    padding: 3rem 5rem 0;
}

.header-inner-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo .interpark-logo {
    width: 50px;
    height: 50px;
    background-image: url("../assets/image/interpark.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.header-logo h1 {
    width: 15.1rem;
    height: 3.8rem;
    font-size: 3.2rem;
    font-weight: bold;
    margin: 0 2rem 0 0;
}

.header-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.header-input input {
    width: 45.2rem;
    height: 4.8rem;
    margin: 0 auto;
    padding-left: 1.5rem;
    border: 0.1rem solid rgba(0,0,0,0.15);
    border-radius: 2.4rem;
    overflow: hidden;
}

.header-input .search-icon {
    position: absolute;
    right : 0;
    padding-right: 1rem;
    top : 3;
    width: 2.8rem;
    height: 1.8rem;
    background-image: url("../assets/image/header_search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.header-right {
    display : flex;
    align-items: center;
    padding-left: 1.5rem;
}

.header-right .menu {
    display : flex;
    align-items: center;
    position: relative;
    margin-right: 1rem;
    height: 100%;
}

.header-right .menu > li {
    position: relative;
    display: inline-flex;
    height: 100%;
    align-items: center;
    margin-left : 2rem;
}

.header-right .menu > li:last-child a {
    position: relative;
    display: block;
    position: relative;
    cursor: pointer;
}

.header-right .menu > li:last-child a:hover + .hover-menu {
    display: block;
}


.hover-menu {
    display: none;
    position: absolute;
    right: -0.8rem;
    width: 10rem;
    top: 4.7rem;
    padding: 1.9rem 2rem;
    background: #fff;
    box-shadow: 0 0 1.6rem rgba(0,0,0,.2);
    border-radius: 1.4rem;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.hover-menu ul {
    display: flex;
    padding-top: 0.9rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.hover-menu ul .me {
    display: block;
    text-align: left;
    margin-bottom: 1rem;
    line-height: 1.8rem;
    white-space: nowrap;
    cursor: pointer;
}


.header-right .menu .make-btn:before {
    position: absolute;
    display: block;
    width: 3rem;
    height: 0.6rem;
    content: '';
    top: 43%;
    right: -2.5rem;
    z-index: 101;
    background-image: url("../assets/image/under.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.header-inner-bottom {
    padding: 3rem 0 2rem;
}

.header-inner-bottom nav {
    display : flex;
    justify-content : left;
    align-items: center;
}

.header-inner-bottom nav > ul {
    display : flex;
    padding : 0;
    margin: 0;
    justify-content : start;
    align-items: center;
    height: 100%;
}

.header-inner-bottom nav > ul > li {
    position: relative;
    text-align: center;
    margin-right: 2.2rem;
}

.header-inner-bottom nav > ul > li > a {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    color: #111;
}

.header-inner-bottom nav > ul > li:last-child a .menu-text::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -1.25rem;
    width: 0.1rem;
    height: 1.7rem;
    background-color: #e5e5e5;
    transform: translateY(-50%);
}

.header-inner-bottom nav > ul > li > a > i > img {
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

/* 
---------------------------------------
            MAIN
---------------------------------------
*/

.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
---------------------------------------
            EVENT BANNER
---------------------------------------
*/

.eventBanner {
    width : 130.4rem;
    margin : 0 auto;
    padding : 3rem 0 6rem;
    align-items: center;
    border: none;
    position: relative;
}

.swiper-container {
    width: 100%;
    height: auto;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.swiper-slide img {
    border-radius: 1.5rem;
    width: 100%;
    object-fit: cover;
}

.left-btn {
    position: absolute;
    left: -4.65rem;
    z-index: 50;
    top: 42%;
    z-index: 31;
    width: 4.8rem;
    height: 4.8rem;
    margin-top: -1.5rem;
    transform: translateX(50%) scaleX(-1);
    background: hsla(0, 0%, 100%, 0.9);
    border: 0.1rem solid rgba(0,0,0,0.1);
    box-shadow: 0 0 0.8rem rgba(0,0,0,.13);
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
}

.left-btn::before {
    content: '다음';
    color: transparent;
    width: 3.8rem;
    height: 4rem;
    margin-left: 0.3rem;
    background-image: url("../assets/image/right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.right-btn {
    position: absolute;
    right: 0;
    z-index: 50;
    top: 42%;
    z-index: 31;
    width: 4.8rem;
    height: 4.8rem;
    margin-top: -1.5rem;
    transform: translateX(50%);
    background: hsla(0, 0%, 100%, 0.9);
    border: 0.1rem solid rgba(0,0,0,0.1);
    box-shadow: 0 0 0.8rem rgba(0,0,0,.13);
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
}

.right-btn::before {
    content: '다음';
    color: transparent;
    width: 3.8rem;
    height: 4rem;
    margin-left: 0.3rem;
    background-image: url("../assets/image/right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*
---------------------------------------
            SHOPPING BANNER
---------------------------------------
*/

.shoppingBanner {
    max-width: 130.4rem;
    margin : 0 auto;
    padding: 3rem 0 6rem;
    border: none;
}

.shopping__title {
    width : 100%;
    padding: 0 2rem;
    margin-bottom: 2rem;
    text-align: center;
    box-sizing: border-box;
}

.shopping__title h1 {
    font-size: 2.8rem;
    line-height: 2.3rem;
    font-weight: 700;
}

.shopping__title p {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-top: 0.5rem;
    color : hsla(0,0%, 7%, 0.5);
}


.shopping__content {
    position: relative;
}

.shopping__tab {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 2rem;
    margin : 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 3rem;
}

.shopping__tab > button {
    padding: 1.2rem 2rem;
    width: auto;
    margin-right: 0.5rem;
    border: 1px solid #e5e5e5;
    border-radius: 2rem;
    cursor: pointer;
}

.shopping__tab > button:first-child {
    background-color: #333;
    color: #fff;
}


.mySwiper2 {
    position: relative;
    overflow: hidden;
    width: 130.4rem;
    height: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.mySwiper2 .swiper-wrapper {
    width: 100%;
    height: 46rem;
    display: flex;
    box-sizing: content-box;
    justify-content: space-between;
    position: relative;
}

.mySwiper2 .swiper-wrapper > .swiper-slide {
    width: 10rem;
    height: fit-content;
    display: inline-flex;
    border-radius: 1.2rem;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 1rem;
}

.mySwiper2 .swiper-wrapper .swiper-slide a .element__image img {
    border-radius: 0rem;
    width: 100%;
}

.element__info {
    height: 10.6rem;
    padding: 1.2rem 1.7rem 1.2rem;
    box-sizing: border-box;
    vertical-align: bottom;
}

.info--upper {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 700;
    display: flex;
    width: 100%;
    justify-content: start;
    color: #111;
}

.upper__sale{
    color: red;
    margin-right: 1rem;
}

.upper__title-thin {
    font-weight: 400;
    font-size: 1.8rem;
    vertical-align: bottom;
}

.info--downer {
    margin-top: 0.6rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-overflow: ellipsis;
    text-align: start;
    color: #111;
}

.right-btn-two {
    position: absolute;
    right: 0;
    z-index: 50;
    top: 50%;
    z-index: 31;
    width: 4.8rem;
    height: 4.8rem;
    margin-top: -1.5rem;
    transform: translateX(50%);
    background: hsla(0, 0%, 100%, 0.9);
    border: 0.1rem solid rgba(0,0,0,0.1);
    box-shadow: 0 0 0.8rem rgba(0,0,0,.13);
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
}

.right-btn-two::before {
    content: '다음';
    color: transparent;
    width: 3.8rem;
    height: 4rem;
    margin-left: 0.3rem;
    background-image: url("../assets/image/right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.shopping__bottom {
    display: flex;
    justify-content: center;
}

.shopping__bottom button {
    position: absolute;
    bottom: -3rem;
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    width: auto;
    border: 1px solid #e5e5e5;
    border-radius: 3rem;
    cursor: pointer;
}

/*
------------------------------------
            TRIP BANNER
------------------------------------
*/

.tripBanner {
    width: 130.4rem;
    justify-content: center;
    margin: 6rem auto
}

.mySwiper3 {
    position: relative;
    overflow: hidden;
    width: 130.4rem;
    height: 10%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.mySwiper3 .swiper-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    box-sizing: content-box;
    justify-content: space-between;
    position: relative;
}

.mySwiper3 .swiper-wrapper > .swiper-slide {
    width: 155rem;
    height: auto;
    display: inline-flex;
    border-radius: 1.2rem;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    overflow: hidden;
}

.mySwiper3 .swiper-wrapper > a {
    display: block;
    position: relative;
}

.mySwiper3 .element__image {
    width: 420px;
    height: 24rem;
    background-size: 70%;
    overflow: hidden;
    border-radius: 0rem;
    background-color: #1769ff;
}

.mySwiper3 > .swiper-wrapper > .swiper-slide > img {
    width: 100%;
    height: 100%;
    border-radius: 0rem;
    object-fit: cover;
}

.mySwiper3 .element__info {
    height: 10.6rem;
    padding: 2.2rem 2rem 1.2rem;
    position: relative;
    box-sizing: border-box;
    vertical-align: bottom;
}

.mySwiper3 .upper-button {
    position: absolute;
    top: -1.6rem;
    left: 2rem;
    height: 3.2rem;
    padding: 0 1.2rem;
    border-radius: 0.51rem;
    border: none;
    font-size: 1.4rem;
    font-weight: 700;
    z-index: 50;
    color: #fff;
    background-color: #1769ff;
}

.mySwiper3 .info--upper {
    font-size: 1.5rem;
    line-height: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    justify-content: start;
    color: #1769ff;
}

.mySwiper3 .upper__lodge {
    margin-top: 0.4rem;
    color: #111;
}

.mySwiper3 .info--downer {
    font-size: 2rem;
    line-height: 2.4rem;
    color: #111;
    font-weight: 700;
    display: flex;
    justify-content: start;
    vertical-align: middle;
}

.mySwiper3 .info--downer .downer-light {
    font-size: 1.6rem;
    vertical-align: bottom;
    font-weight: 400;
}

.tripBanner .shopping__content {
    width: auto;
    position: relative;
}

.tripBanner .shopping__content .right-btn-three {
    position: absolute;
    right: 0;
    z-index: 50;
    top: 50%;
    z-index: 31;
    width: 4.8rem;
    height: 4.8rem;
    margin-top: -1.5rem;
    transform: translateX(50%);
    background: hsla(0, 0%, 100%, 0.9);
    border: 0.1rem solid rgba(0,0,0,0.1);
    box-shadow: 0 0 0.8rem rgba(0,0,0,.13);
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
}

.tripBanner .shopping__content .right-btn-three::before {
    content: '다음';
    color: transparent;
    width: 3.8rem;
    height: 4rem;
    margin-left: 0.3rem;
    background-image: url("../assets/image/right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.tripBanner .shopping__bottom {
    position: relative;
}

.tripBanner .shopping__bottom > button {
    position: absolute;
    bottom: -6.8rem;
}

/*
------------------------------------
            MOVIE BANNER
------------------------------------
*/


.movieBanner {
    width: 130.4rem;
    margin: 10rem auto;
}

.mySwiper4 {
    position: relative;
    overflow: hidden;
    width: 130.4rem;
    height: 10%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.mySwiper4 .swiper-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    box-sizing: content-box;
    justify-content: space-between;
    position: relative;
}

.mySwiper4 .swiper-wrapper > .swiper-slide {
    width: auto;
    height: auto;
    display: inline-flex;
    border-radius: 1.2rem;
    box-sizing : border-box;
    overflow: hidden;
    padding-bottom: 2rem;
}

.mySwiper4 .element__image {
    width: 100%;
    overflow: hidden;
    border-radius: 1.2rem;
    height: 40rem;
    position: relative;
    width: 100%;
}

.mySwiper4 .element__image::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    width: 100;
    height: 100;
    z-index: 1;
}

.mySwiper4 > .swiper-wrapper > img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    transform: translateY(-50%);
}
.mySwiper4 .element__info {
    height: 10.6rem;
    padding: 1.2rem 1rem 1.2rem;
    position: relative;
    box-sizing: border-box;
    vertical-align: bottom;
}

.mySwiper4 .upper-number {
    position: absolute;
    top: -10.6rem;
    left: 2rem;
    font-size: 7rem;
    line-height: 8.35rem;
    font-weight: 700;
    z-index: 50;
    color: #fff;
}

.mySwiper4 .info--upper {
    font-size: 1.5rem;
    line-height: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    justify-content: start;
    color: #111
}

.mySwiper4 .upper__course {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 700;
}

.mySwiper4 .upper__lodge {
    margin-top: 0.5rem;
    color: #999;
}

.mySwiper4 .info--downer {
    font-size: 2rem;
    line-height: 2.4rem;
    color: #111;
    font-weight: 700;
    display: flex;
    justify-content: start;
    vertical-align: middle;
}

.mySwiper4 .info--downer .downer-light {
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: 400;
    color: #999;
}
.views {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.view-all {
    width: 4rem;
    height: 4rem;
    transform: scaleX(-1);
    margin-bottom: 0.7rem;

}

.up-sit {
    display: block;
    margin-top: 1rem;
    color: #1769ff;
    border: 1px solid #1769ff;
    padding: 0.3rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}
.down-sit {
    display: block;
    margin-top: 1rem;
    color: tomato;
    border: 1px solid tomato;
    padding: 0.3rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.movieBanner .shopping__content {
    width: auto;
    position: relative;
}

.movieBanner .shopping__content .right-btn-four {
    position: absolute;
    right: 0;
    z-index: 50;
    top: 50%;
    z-index: 31;
    width: 4.8rem;
    height: 4.8rem;
    margin-top: -1.5rem;
    transform: translateX(50%);
    background: hsla(0, 0%, 100%, 0.9);
    border: 0.1rem solid rgba(0,0,0,0.1);
    box-shadow: 0 0 0.8rem rgba(0,0,0,.13);
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
}

.movieBanner .shopping__content .right-btn-four::before {
    content: '다음';
    color: transparent;
    width: 3.8rem;
    height: 4rem;
    margin-left: 0.3rem;
    background-image: url("../assets/image/right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.movieBanner .shopping__bottom {
    position: relative;
}

.movieBanner .shopping__bottom > button {
    position: absolute;
    bottom: -5.5rem;
}

/*
---------------------------------------
            LIVE BANNER
---------------------------------------
*/


.liveBanner {
    width: 130.4rem;
    margin: 6rem auto;
}

.liveBanner .shopping__title .live-img{
    width: 16rem;
}

.mySwiper5 {
    position: relative;
    overflow: hidden;
    width: 130.4rem;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.mySwiper5 .swiper-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: content-box;
    position: relative;
}

.mySwiper5 .swiper-wrapper > .swiper-slide {
    width: 299px;
    height: 45.6rem;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 1.2rem;
    overflow: hidden;
}
.mySwiper5 .swiper-wrapper > .swiper-slide > a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.mySwiper5 .element__image {
    width: 100%;
    height: 100%;
}
.mySwiper5 .element__image::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0.4) 18.65%, transparent 39.75%), linear-gradient(180deg, transparent 56.75%, rgba(0,0,0,0.5) 87.59%);
}

.mySwiper5 > .swiper-wrapper > .swiper-slide img {
    max-width: 100%;
    height: 45.6rem;
    object-fit: cover;
}

.mySwiper5 .upper--info {
    position: absolute;
    top: 2rem;
    width: 90%;
    height: fit-content;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 2rem;
}

.mySwiper5 .inner--infos {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    z-index: 10;
}

.mySwiper5 .inner--infos .live-day {
    margin-bottom: 0.4rem;
    font-size: 2.8rem;
    line-height: 3.35rem;
}

.mySwiper5 .inner--infos .live-time {
    font-size: 5rem;
    line-height: 6rem;
    font-weight: 700;
    opacity: 1;
}

.mySwiper5 .upper--info .button__broadcast {
    display: block;
    height: 3.2rem;
    padding: 0 1.2rem;
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
    line-height: 3.2rem;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    border-radius: 1.6rem;
    font-weight: 700;
}

.mySwiper5 .upper--info .words--broadcast {
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: start;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 0 0.2rem rgba(0,0,0,0.5);
}

.mySwiper5 .live__bottom--info {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    bottom: 2rem;
    width: 100%;
    height: 6.4rem;
    padding: 0 2rem;
    color: #fff;
    box-sizing: border-box;
    z-index: 100;
}

.mySwiper5 .live__bottom--info .live__image {
    position: absolute;
    left: 2rem;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 0.6rem;
    overflow: hidden;
}

.mySwiper5 .live__bottom--info .live__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySwiper5 .live__bottom--info .live__words {
    color: #fff;
    position: absolute;
    left: 10.4rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.mySwiper5 .live__words .live__title {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 1.4rem;
    text-overflow: ellipsis;
    text-align: start;
}

.mySwiper5 .live__words .live__subtitle {
    position: absolute;
    display: flex;
    top: 3.9rem;
    font-size : 1.5rem;
    line-height: 2.0rem;
    font-weight: 700;
}

.mySwiper5 .live__words .live__subtitle .live__sale {
    color: #ef3e43;
    font-size: 1.8rem;
}

.mySwiper5 .live__words .live__subtitle .live__price {
    display: flex;
    margin-left: 0.8rem;
    font-size: 1.8rem;
}

.mySwiper5 .live__words .live__subtitle .live__price .live__won {
    font-size: 1.6rem;
    font-weight: 400;
}
.views {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.view-all {
    width: 4rem;
    height: 4rem;
    transform: scaleX(-1);
    margin-bottom: 0.7rem;

}

.up-sit {
    display: block;
    margin-top: 1rem;
    color: #1769ff;
    border: 1px solid #1769ff;
    padding: 0.3rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}
.down-sit {
    display: block;
    margin-top: 1rem;
    color: tomato;
    border: 1px solid tomato;
    padding: 0.3rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.liveBanner .shopping__content {
    width: auto;
    position: relative;
}

.liveBanner .shopping__content .right-btn-five {
    position: absolute;
    right: 0;
    z-index: 50;
    top: 50%;
    z-index: 31;
    width: 4.8rem;
    height: 4.8rem;
    margin-top: -1.5rem;
    transform: translateX(50%);
    background: hsla(0, 0%, 100%, 0.9);
    border: 0.1rem solid rgba(0,0,0,0.1);
    box-shadow: 0 0 0.8rem rgba(0,0,0,.13);
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
}

.liveBanner .shopping__content .right-btn-five::before {
    content: '다음';
    color: transparent;
    width: 3.8rem;
    height: 4rem;
    margin-left: 0.3rem;
    background-image: url("../assets/image/right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.liveBanner .shopping__bottom {
    position: relative;
}

.liveBanner .shopping__bottom > button {
    position: absolute;
    bottom: -7.5rem;
}

/*
---------------------------------------
            BOOK BANNER
---------------------------------------
*/

.bookBanner {
    width: 130.4rem;
    margin: 10rem auto;
}

.mySwiper6 {
    position: relative;
    overflow: hidden;
    width: 130.4rem;
    height: 100%;
    box-sizing: border-box;
    border-radius: 0rem;
    margin-left: auto;
    margin-right: auto;
}

.mySwiper6 .swiper-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: content-box;
    position: relative;
    justify-content: space-between;
}

.mySwiper6 .swiper-wrapper .swiper-slide {
    width: 231px;
    height: 100%;
    display: inline-flex;
    box-sizing : border-box;
    overflow: hidden;
    padding-bottom: 2rem;
}

.mySwiper6 .swiper-wrapper .swiper-slide .element__image {
    overflow: hidden;
    position: relative;
    width: inherit;
    height: 334px;
}


.mySwiper6 > .swiper-wrapper .swiper-slide .element__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0rem;
}
.mySwiper6 .element__info {
    color: #111;
}

.mySwiper6 .element__info .book-name {
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
}

.mySwiper6 .element__price {
    font-size: 1.8rem;
    margin-top: 0.4rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.mySwiper6 .element__price .money {
    font-size: 1.6rem;
    font-weight: 400;
}

.bookBanner .shopping__content {
    width: auto;
    position: relative;
}

.bookBanner .shopping__content .right-btn-six {
    position: absolute;
    right: 0;
    z-index: 50;
    top: 50%;
    z-index: 31;
    width: 4.8rem;
    height: 4.8rem;
    margin-top: -1.5rem;
    transform: translateX(50%);
    background: hsla(0, 0%, 100%, 0.9);
    border: 0.1rem solid rgba(0,0,0,0.1);
    box-shadow: 0 0 0.8rem rgba(0,0,0,.13);
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
}

.bookBanner .shopping__content .right-btn-six::before {
    content: '다음';
    color: transparent;
    width: 3.8rem;
    height: 4rem;
    margin-left: 0.3rem;
    background-image: url("../assets/image/right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.bookBanner .shopping__bottom {
    position: relative;
}

.bookBanner .shopping__bottom > button {
    position: absolute;
    bottom: -0.8rem;
}

/*
---------------------------------------
            AD BANNER
---------------------------------------
*/

.adBanner {
    width: 130.4rem;
    margin: 0rem auto 6rem;
}

.mySwiper7 {
    position: relative;
    overflow: hidden;
    width: 130.4rem;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.mySwiper7 .swiper-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: content-box;
    position: relative;
}

.mySwiper7 .swiper-wrapper .swiper-slide .element__image {
    width: 100%;
    height: 100%;
}

.mySwiper7 .swiper-wrapper .swiper-slide .element__image img {
    object-fit: cover;
    border: 1px solid #eee;
    box-sizing: border-box;
    background-color: #999;
}

.adBanner .shopping__content {
    width: auto;
    position: relative;
}

.adBanner .shopping__content .right-btn-seven {
    position: absolute;
    right: 0;
    z-index: 50;
    top: 50%;
    z-index: 31;
    width: 4.8rem;
    height: 4.8rem;
    margin-top: -1.5rem;
    transform: translateX(50%);
    background: hsla(0, 0%, 100%, 0.9);
    border: 0.1rem solid rgba(0,0,0,0.1);
    box-shadow: 0 0 0.8rem rgba(0,0,0,.13);
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
}

.adBanner .shopping__content .right-btn-seven::before {
    content: '다음';
    color: transparent;
    width: 3.8rem;
    height: 4rem;
    margin-left: 0.3rem;
    background-image: url("../assets/image/right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}



.adBanner .shopping__bottom {
    position: relative;
}

.adBanner .shopping__bottom > button {
    position: absolute;
    bottom: -8.5rem;
}

/*
---------------------------------------
            FOOTER
---------------------------------------
*/

.footer-main {
    margin: 3rem auto 0;
    padding: 0;
    background-color: #fff;
    box-sizing: border-box;
}

.footer__banner {
    max-width: none;
    height: 5rem;
    margin-top: 0;
    border-top: 0.1rem solid rgba(0,0,0,.1);
    border-bottom: 0.1rem solid rgba(0,0,0,0.1);
    margin: 0 auto 0.4rem;
    text-align: center;
}

.footer__banner .footer__banner--list {
    max-width: 128rem;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
}

.footer__banner .footer__banner--list > li {
    padding: 0 3.1rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    padding-left: 0;
    line-height: 1.7rem;
}

.footer__banner .footer__banner--list > li span {
    position: relative;
    display: block;
}

.footer__banner .footer__banner--list > li:first-child span:before,
.footer__banner .footer__banner--list > li:last-child span:before,
.footer__banner .footer__banner--list > li:nth-last-child(2) span:before,
.footer__banner .footer__banner--list > li:nth-last-child(3) span:before {
    position: absolute;
    display: block;
    width: 3rem;
    height: 0.6rem;
    content: '';
    top: 30%;
    right: -2.5rem;
    z-index: 101;
    background-image: url("../assets/image/under.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.footer__banner--list > li:first-child span:hover + .hover-menu-footer {
    display: block;
}

.footer__banner--list > li:last-child span:hover + .hover-menu-footer {
    display: block;
}

.footer__banner--list > li:nth-last-child(2) span:hover + .hover-menu-footer {
    display: block;
}

.footer__banner--list > li:nth-last-child(3) span:hover + .hover-menu-footer {
    display: block;
}

.hover-menu-footer {
    display: none;
    position: absolute;
    right: -0.8rem;
    width: 10rem;
    top: 4.7rem;
    padding: 1rem 1.5rem;
    background: #fff;
    box-shadow: 0 0 1.6rem rgba(0,0,0,.2);
    border-radius: 1.4rem;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.hover-menu-footer ul {
    display: flex;
    padding-top: 0.9rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hover-menu-footer ul .me {
    display: block;
    text-align: left;
    margin-bottom: 1rem;
    line-height: 1.8rem;
    white-space: nowrap;
    cursor: pointer;
}

.footer__banner .footer__banner--list .list--item:not(:first-child)::before{
    position: absolute;
    top: 50%;
    left: -2.7rem;
    margin: 0;
    transform: translateY(-50%);
    content: '';
    display: inline-block;
    line-height: 1.7rem;
    width: 0.1rem;
    height: 1.2rem;
    vertical-align: middle;
    background-color: rgba(0,0,0,.3);
}

.footer__info {
    max-width: 128rem;
    padding: 0 0 5rem;
    margin: 0 auto;
    text-align: center;
    color: hsla(0, 0%, 7%, .5);
    font-size: 1.1rem;
}

.footer__info .footer__info--content {
    padding: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
    box-sizing: border-box;
}

.footer__info--content .footer__box {
    padding-left: 2.2rem;
    display: flex;
    width: 50%;
    margin: 0;
    overflow: hidden;
}

.footer__info--content .footer__box:last-child::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    width: 0.1rem;
    height: 100%;
    margin-left: -0.05rem;
    background-color: rgba(0,0,0,.08);
}
.footer__info--content .footer__box h2 {
    margin-right: 1rem;
    white-space: nowrap;
    display: block;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.7rem;
    color: #111;
    text-align: left;
}


.footer__content--address {
    max-width: none;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    color: #666;
    text-align: left;
    line-height: 1.7rem;
}

.footer__content--address ul li {
    display: block;
}

.footer__content--address ul li a {
    color:blue;
    text-decoration: underline;
}

.footer__content--tel {
    max-width: none;
    padding: 0;
    font-size: 1.2rem;
    color: #666;
    text-align: left;
    line-height: 1.7rem;
}

.footer__content--tel .tel-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}

.transaction-title {
    font-size: 1.2rem;
    margin-right: 1rem;
    line-height: 1.7rem;
    margin-top: 1rem;
    font-weight: 700;
    color: #111;
}

.service-title {
    font-size: 1.2rem;
    margin-right: 1rem;
    line-height: 1.7rem;
    font-weight: 700;
    color: #111;
}

.footer__box a {
    color: blue;
    font-weight: 400;
    text-decoration: underline;
}

.footer__content--notice {
    margin-top: 1rem;
    width: 90%;
    line-height: 1.8rem;
    display: flex;
    text-align: start;
    align-items: start;
}

/*
----------------------------------------
            FIXED HEADER
----------------------------------------
*/

.fixed-header {
    position: fixed;
    top: -100px;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;
    color: #111;
    padding: 10px;
    transition: top 0.3s;
    border-bottom: 0.01rem solid rgba(0,0,0,.1);
}

.fixed-header .header-inner {
    display: flex;
    justify-content: space-between;
    width: 130.4rem;
    align-items: center;
    padding: 0;
}

.fixed-header .header-inner .header-left {
    display : flex;
    text-align: start;
}

.fixed-header .header-inner .header-left h1 {
    margin-top: 0.2rem;
}


.fixed-header .header-inner .header-left .header-logo .interpark-logo {
    width: 4rem;
    height: 3.5rem;
    background-position: left;
}

    
.fixed-header .header-inner .header-left .main-nav .main-menu {
    display: flex;
}

.fixed-header .header-inner .header-left .main-nav .main-menu li {
    margin-right: 1.5rem;
}

.fixed-header .header-inner .header-left .main-nav .main-menu li > a > i > img {
    width: 3rem;
    height: 3rem;
}

.fixed-header .header-inner .header-right .menu {
    position: relative;
    margin-right: 1.5rem;
}


.fixed-header .header-inner .header-right .menu .make-btn:before {
    position: absolute;
    display: block;
    width: 3rem;
    height: 0.6rem;
    content: '';
    top: 25%;
    right: -2.5rem;
    z-index: 101;
    background-image: url("../assets/image/under.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.header-right .menu > li:last-child a {
    position: relative;
    display: block;
    position: relative;
    cursor: pointer;
}

.header-right .menu > li:last-child a:hover + .hover-menu-fixed {
    display: block;
}


.hover-menu-fixed {
    display: none;
    position: absolute;
    right: -0.8rem;
    width: 10rem;
    top: 2rem;
    padding: 1.9rem 2rem;
    background: #fff;
    box-shadow: 0 0 1.6rem rgba(0,0,0,.2);
    border-radius: 1.4rem;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.hover-menu-fixed ul {
    display: flex;
    padding-top: 0.9rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.hover-menu-fixed ul .me {
    display: block;
    text-align: left;
    margin-bottom: 1rem;
    line-height: 1.8rem;
    white-space: nowrap;
    cursor: pointer;
}

.make-btn div ul li b {
    font-weight: 600;
}
