/* 전체 */
body {
  font-family: 프리텐다드 04 Regular;
}

/* 헤더부분 */
.header {
  display: flex;
  flex-direction: row;
  height: 50px;
  background-color: rgb(36, 60, 132);
  justify-content: space-between;
  font-size: 13px;
  padding: 0 10px;
}

.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  align-items: center;
}

.left-section ul {
  display: flex;
}

.right-section ul {
  display: flex;
}

.vtline li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: 500;
}

.vtline li::after {
  content: "|";
  color: #fff;
}

.vtline li:last-child::after {
  display: none;
}

.sns-logo {
  height: 26px;
  padding: 0 10px 0 20px;
  cursor: pointer;
}

.search {
  display: flex;
  margin-right: 38px;
}

.search-bar {
  width: 100px;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 2px;
  border: none;
}

.search-button {
  height: 28px;
  width: 30px;
  margin-left: -1px;
  border: none;
  margin-right: 10px;
  background: #fff;
  color: rgb(36, 60, 132);
}

/* 네브바 부분 */
.nav {
  height: 96px;
  overflow: hidden;
  transition: 0.5s;
}

.nav:hover {
  height: 260px;
}

.top-logo {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.dropdown {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.dropdown li a {
  color: black;
  text-decoration: none;
  margin: 8px 48px;
  font-size: 15px;
}

.dropdown li a:hover {
  text-decoration: underline solid rgb(36, 60, 132);
  text-decoration-thickness: 4px;
}

.dropmenu {
  margin-top: 10px;
  height: 260px;
  background-color: #fff;
  text-align: center;
}

.dropmenu span {
  line-height: 1.8;
  color: gray;
  cursor: pointer;
  font-size: 14px;
}

.dropmenu span:hover {
  color: black;
}

.dropdown li:hover .dropmenu {
  display: block;
  /* transition 속성을 사용하여 나타날 때의 애니메이션 효과 설정 */
  transition: display 0.3s ease-in-out;
}

/* 첫번째 슬라이드 쇼 */
.slide_wrap {
  margin-top: 26px;
  border-top: 1px solid lightgray;
}
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.dot-wrap {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  cursor: pointer;
  height: 11px;
  width: 11px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: rgb(36, 60, 132);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* 두번째 섹션 */
.second_wrap {
  height: 500px;
  background-color: rgb(252, 225, 167);
  margin-top: -4px;
}

.wrap_first {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 36%;
}

.wrap_first h1 {
  padding-top: 120px;
  padding-bottom: 44px;
  font-size: 40px;
  font-weight: 300;
}

.wrap_first strong {
  color: rgb(144, 72, 12);
  font-weight: 900;
}

.wrap_first h2 {
  padding-top: 44px;
  font-size: 26px;
  font-weight: 300;
}

.wrap_first b {
  font-weight: bold;
}

/* 두번째 슬라이드 */
.slide2_wrap {
  margin-top: 140px;
}

.slideshow-containe {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.mySlide {
  display: none;
}

.dot2-wrap {
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
}

.do {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.do:hover {
  background-color: rgb(36, 60, 132);
}

.fad {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fad {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* 드림 팩토리 */
.dream_factory {
  position: relative;
  width: 100%;
  background-color: rgb(5, 48, 109);
  height: 460px;
  margin-top: 158px;
  overflow: hidden;
}

.dream_content {
  position: absolute;
  top: 20%;
  left: 44%;
  transform: translateX(-50%);
}

.dream_content img {
  width: 100%;
}

.dream_img {
  position: absolute;
  bottom: -10px;
  right: -160px;
}

.dream_img img {
  width: 1063px;
  height: 349px;
}

.dream_content h2 {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  padding: 10px 0;
  margin-left: 3px;
}

.dream_content p {
  color: #fff;
  margin-left: 3px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.5;
}

.btn_1,
.btn_2 {
  padding: 10px 56px;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.btn_1:hover,
.btn_2:hover {
  background-color: #fff;
  color: black;
}

.btn_1 {
  margin-left: 3px;
}

.always_beside {
  height: 470px;
  background-image: url(../img/etc/always.png);
  background-size: cover;
  position: relative;
}

.always_inner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.always_inner h2,
.always_inner h3,
.always_inner button {
  color: #fff;
}

.always_inner h2 {
  margin: 100px 0;
  font-size: 46px;
  font-weight: 300;
}

.always_inner strong {
  font-weight: bold;
}

.always_inner h3 {
  font-size: 27px;
}

.always_inner button {
  background: none;
  border: 1px solid #fff;
  font-size: 16px;
  padding: 10px 66px;
  margin-top: 40px;
}

.always_inner button:hover {
  color: black;
  background-color: #fff;
  cursor: pointer;
}

.ediya_company {
  position: relative;
  height: 450px;
  background-image: url(../img/etc/company_bg.jpg);
}

.company_inner {
  position: absolute;
  top: 20%;
  right: 12%;
  color: #fff;
}

.company_inner h2 {
  font-size: 44px;
  font-weight: 300;
  margin-bottom: 70px;
}

.company_inner h4 {
  font-size: 17px;
  line-height: 1.4;
}

.company_inner button {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 50px;
  margin-top: 30px;
  font-size: 16px;
  margin-right: 5px;
}

.company_inner button:hover {
  color: black;
  background-color: #fff;
  cursor: pointer;
}

/* 마지막 섹션 */

.last_menu {
  background-color: rgb(239, 239, 239);
}

.menu_wrap {
  display: flex;
  justify-content: center;
  padding: 70px 0;
}

.menu_11,
.menu_22 {
  position: absolute;
  top: 10%;
  left: 10%;
  color: #fff;
  line-height: 1.4;
}

.menu_11 p:first-child,
.menu_22 p:first-child {
  font-size: 23px;
  margin-bottom: 24px;
}

.menu_11 p:first-child::after,
.menu_22 p:first-child::after {
  content: "";
  display: block;
  width: 50%;
  border-bottom: 1px solid #fff;
  margin-top: 24px;
}

.menu_11 p:last-child,
.menu_22 p:last-child {
  font-size: 17px;
  margin-top: 24px;
}

.menu_1,
.menu_2 {
  height: 330px;
  width: 330px;
  position: relative;
}

.menu_1 {
  background-image: url(../img/etc/main_franchise_bg.jpg);
}

.menu_2 {
  background-image: url(../img/etc/main_store_bg.jpg);
  margin: 0 12px;
}

.menu_3 {
  height: 165px;
  position: relative;
}

.menu_4 {
  height: 165px;
  width: 100%;
  background-image: url(../img/etc/sure.png);
  background-size: cover;
}

.wrap_input {
  border: 2px solid #fff;
  margin-top: 20px;
}

.wrap_input input {
  padding: 8px 14px;
  border: none;
  background-color: rgb(28, 50, 105);
}

.wrap_input input::placeholder {
  color: #fff;
}

.search_button {
  border: none;
  background-color: rgb(28, 50, 105);
  margin-left: -4px;
  height: 31.5px;
  color: #fff;
}

.search_button:hover {
  cursor: pointer;
}

.menu_inner {
  height: 330px;
  width: 500px;
}

.menu_3 h3 {
  font-size: 23px;
  padding: 4px 2px;
}

.more_btn {
  position: absolute;
  right: 4px;
  top: 4px;
}

.news_list {
  margin-top: 20px;
  margin-left: 4px;
}

.news_list li a {
  text-decoration: none;
  color: gray;
  line-height: 1.7;
}

.news_list li span {
  float: right;
  color: gray;
  font-size: 12px;
}

/* 푸터 */
.footer {
  height: 260px;
  background-color: rgb(38, 38, 38);
}

.last_list {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.last_list li {
  margin: 0 16px;
  padding: 18px 4px;
}

.last_list li a {
  color: gray;
  text-decoration: none;
  font-size: 14px;
}

.language {
  width: 140px;
  padding: 4px 0;
  margin-top: -4px;
}

.center_img {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.ccm {
  position: absolute;
  right: 24%;
}

.foot_wrap {
  width: 100%;
}

.foot_wrap p,
.footer_p1 li,
.footer_p2 li {
  color: gray;
  padding: 0 4px;
}

.footer_p1 li::after,
.footer_p2 li::after {
  content: " | ";
}

.footer_p1 li:last-child::after,
.footer_p2 li:last-child::after {
  display: none;
}

.footer_p1,
.footer_p2,
.foot_wrap p {
  display: flex;
  justify-content: center;
  font-size: 13px;
  line-height: 1.4;
}

.footer_p1 {
  margin-top: 30px;
}

.copy {
  margin-top: 20px;
}
