.banner {
    padding: 20rem 0;
    display: flex;
    justify-content: center;
    background-color: $greyFB;
    @include bp640 {
        padding: 10rem 0;
    }
    p {
        white-space: nomal;
        text-align: center;
        color: $black28;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1.6;
        margin-bottom: 5rem;
        @include bp640 {
            font-size: 2.2rem;
            font-weight: 600;
            line-height: 1.5;
            margin-bottom: 3rem;
        }
    }
}