.credit {
    background-color: $greyFB;
    .container {
        padding: 25rem 0;
        @include bp640 {
            padding: 10rem 0;
        }
        .inner {
            .title-wrap {
                margin-bottom: 8rem;
                opacity: 0;
                @include bp640 {
                    margin-bottom: 6rem;
                }
            }
            .content-wrap {
                display: flex;
                flex-wrap: wrap;
                gap: 3rem;
                @include bp640 {
                    flex-direction: column;
                    gap: 2rem;
                }
                .content {
                    flex-basis: calc(50% - 3rem);
                    max-width: calc(50% - 3rem);
                    height: 40rem;
                    @include bp640 {
                        flex-basis: calc(100% - 2rem);
                        max-width: calc(100% - 2rem);
                        height: 22rem;
                    }
                    img {
                        width: 12rem;
                        margin-bottom: 3rem;
                        opacity: 0;
                        @include bp640 {
                            width: 8rem;
                            margin-bottom: 2rem;
                        }
                    }
                    .text {
                        opacity: 0;
                        .disc-str {
                            font-size: 2.8rem;
                            font-weight: 700;
                            line-height: 1.5;
                            color: $grey4B;
                            margin-bottom: 1rem;
                            @include bp640 {
                                font-size: 2.4rem;
                            }
                        }
                        .disc {
                            font-size: 2.2rem;
                            color: $grey84;
                            @include bp640 {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
    &.on {
        .container {
            .inner {
                .title-wrap {
                    @include showTopAni(0);
                }
                .content-wrap {
                    img {
                        @include showTopAni(1.5)
                    }
                    .text {
                        @include showTopAni(1);
                    }
                }
            }
        }
    }
}