.investment {
    .container {
        padding: 25rem 0;
        @include bp640 {
            padding: 10rem 0;
        }
        .inner {
            .title-wrap {
                opacity: 0;
                @include showTopAni(0);
                .sub-title {
                    @include bp640 {
                        margin-bottom: 2rem;
                    }
                }
                .disc {
                    display: none;
                    @include bp640 {
                        display: block;
                    }
                }
            }
            .content-wrap {
                position: relative;
                .img-wrap {
                    position: relative;
                    width: 60rem;
                    height: 95.3rem;
                    margin: auto;
                    @include bp640 {
                        width: 100%;
                        max-width: 37.5rem;
                        height: auto;
                    }
                    .img-inner {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 57%;
                        height: auto;
                        transform: translate(-50%, -50%);
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .img-sub {
                        position: absolute;
                        bottom: 12.4rem;
                        left: 50%;
                        transform: translateX(-50%);
                        .scr {
                            opacity: 0;
                            transition: .5s;
                        }
                        .scr-0 {
                            opacity: 1;
                        }
                        @include bp640 {
                            bottom: 8.3rem;
                        }
                        .img {
                            display: flex;
                            justify-content: space-between;
                            gap: 1.6rem;
                            @include bp640 {
                                gap: .9rem;
                            }
                            img {
                                width: 17.8rem;
                                height: 17.8rem;
                                @include bp640 {
                                    width: 10rem;
                                    height: 10rem;
                                }
                            }
                        }
                    }
                    .img-cover {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .text {
                    position: absolute;
                    top: 34.2rem;
                    left: 50%;
                    width: 100%;
                    max-width: 90rem;
                    padding-left: 2rem;
                    display: flex;
                    justify-content: space-between;
                    transform: translateX(-50%);
                    @include bp640 {
                        display: none;
                    }
                    p {
                        font-size: 2.3rem;
                        font-weight: 600;
                        line-height: 1.5;
                        color: $grey4B;
                        max-width: 22rem;
                    }
                    .txt1{
                        opacity: 0;
                        @include showTopAni(1)
                    }
                    .txt2 {
                        opacity: 0;
                        @include showTopAni(2);
                    }
                }
                .disc {
                    opacity: 0;
                    text-align: center;
                    @include showTopAni(3);
                    @include bp640 {
                        font-size: 2rem;
                        font-weight: 700;                        
                    }
                }
            }
        }
    }
}