.management {
    .container {
        padding: 25rem 0;
        @include bp640 {
            padding: 10rem 0;
        }
        .inner {
            .title-wrap {
                .title {
                    margin-bottom: 14rem;
                    font-size: 6rem;
                    font-weight: 700;
                    line-height: 1.4;
                    color: $black28;
                    @include bp640 {
                        font-size: 3.6rem;
                        margin-bottom: 6.4rem;
                    }
                }
            }
            .content-wrap {
                .content {
                    margin-bottom: 21rem;
                    @include bp640 {
                        margin-bottom: 10rem;
                    }
                    .title-wrap {
                        .title {
                            font-size: 4rem;
                            font-weight: 700;
                            line-height: 1.3;
                            color: $black28;
                            @include bp640 {
                                font-size: 2.6rem;
                            }
                        }
                        .sub-title {
                            font-size: 4rem;
                            line-height: 1.3;
                            font-weight: 700;
                            color: $greyC1;
                            @include bp640 {
                                font-size: 2.6rem;
                            }
                        }
                        .disc {
                            font-size: 2rem;
                        }
                    }
                }
                .cnt1 {
                    .img-wrap {
                        display: flex;
                        justify-content: center;
                        margin-bottom: 6rem;
                        @include bp640 {
                            margin-bottom: 3rem;
                        }
                        img {
                            width: 100%;
                            max-width: 74rem;
                        }
                    }
                    .title-wrap {
                        display: flex;
                        gap: 1.2rem;
                        margin-bottom: 2.1rem;
                        @include bp640 {
                            flex-direction: column;
                            gap: 0;
                            margin-bottom: 2rem;
                        }
                        .title {
                            margin-bottom: 0;
                            line-height: 1.3;
                        }
                    }
                }
                .cnt2 {
                    display: flex;
                    justify-content: space-between;
                    gap: 4rem;
                    @include bp640 {
                        flex-direction: column;
                    }
                    .left {
                        display: flex;
                        flex-direction: column;
                        flex: 2;
                        .img-wrap {
                            width: 100%;
                            margin-bottom: 4rem;
                            img {
                                width: 100%;
                                @include bp640 {
                                    max-width: 24rem;
                                }
                            }
                        }
                        .title-wrap {
                            width: 100%;
                            .title {
                                margin-bottom: 0.5rem;
                            }
                        }
                    }
                    .right {
                        margin-top: 12.2rem;
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        @include bp640 {
                            margin-top: 5rem;
                            max-width: 24rem;
                            align-self: flex-end;
                        }
                        .img-wrap {
                            margin-bottom: 3.5rem;
                            @include bp640 {
                                margin-bottom: 3rem;
                            }
                            img {
                                align-self: flex-end;
                                width: 100%;
                                @include bp640 {
                                    max-width: 24rem;
                                }
                            }
                        }
                        .disc {
                            font-size: 2rem;
                            font-weight: 600;
                            line-height: 1.5;
                            color: $grey4B;
                            width: 100%;
                            @include bp640 {
                                font-size: 1.8rem;
                            }
                        }
                    }
                }
                .cnt3 {
                    margin-bottom: 0;
                    .img-wrap {
                        display: flex;
                        justify-content: center;
                        margin-bottom: 5rem;
                        @include bp640 {
                            margin-bottom: 3rem;
                        }
                        img {
                            width: 100%;
                        }
                    }
                    .text-wrap {
                        display: flex;
                        @include bp640 {
                            flex-direction: column;
                            gap: 3rem;
                        }
                        .title-wrap {
                            flex: 1;
                            .title {
                                margin-bottom: 0.5rem;
                                @include bp640 {
                                    margin-bottom: 0;
                                }
                            }
                        }
                        .disc {
                            flex: 1;
                            font-size: 2rem;
                            font-weight: 600;
                            line-height: 1.5;
                            color: $grey4B;
                            @include bp640 {
                                font-size: 1.8rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
