.service {
    background-color: $greyFB;
    .container {
        padding: 25rem 0;
        @include bp640 {
            padding: 10rem 0;
        }
        .inner {
            .title-wrap {
                margin-bottom: 10rem;
                opacity: 0;
                @include showTopAni(0);
                @include bp640 {
                    margin-bottom: 5rem;
                }
            }
            .content-wrap {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -20rem -10rem 0;
                @include bp640 {
                    margin: 0;
                    flex-direction: column;
                    gap: 5rem;
                }
                .content {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    max-width: 35rem;
                    margin: 0 20rem 10rem 0;
                    opacity: 0;
                    @include showTopAni(1);
                    @include bp640 {
                        margin: 0;
                        max-width: none;
                    }
                    .img-wrap {
                        border-radius: 2.6rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 12rem;
                        height: 12rem;
                        margin-bottom: 3rem;
                        @include bp640 {
                            width: 6rem;
                            height: 6rem;
                            border-radius: 1.6rem;
                            margin-bottom: 1.6rem;
                        }
                        img {
                            width: 6rem;
                            height: 6rem;
                            @include bp640 {
                                width: 3rem;
                                height: 3rem;
                            }
                        }
                    }
                    .text-wrap {
                        @include bp640 {
                            width: 100%;
                        }
                        .disc-str {
                            width: 100%;
                            margin-bottom: 0.6rem;
                            font-size: 2rem;
                            font-weight: 600;
                            line-height: 1.6;
                            color: $grey4B;
                            @include bp640 {
                                font-size: 1.8rem;
                                margin-bottom: 0.4rem;
                            }
                        }
                        .disc {
                            font-size: 1.8rem;
                            font-weight: 500;
                            line-height: 1.6;
                            color: $greyA1;
                            @include bp640 {
                                width: 100%;
                                font-size: 1.7rem;
                                font-weight: 600;
                                line-height: 1.5;
                            }
                        }
                    }
                }
                .cnt1 {
                    .img-wrap {
                        background-color: #f2f4f6;
                    }
                }
                .cnt2 {
                    .img-wrap {
                        background-color: #edccf8;
                    }
                }
                .cnt3 {
                    .img-wrap {
                        background-color: #e8f3ff;
                    }
                }
                .cnt4 {
                    .img-wrap {
                        background-color: #aeefd5;
                    }
                }
            }
        }
    }
}
