/* CSS Reset */
@import url("reset.css");
/* Header */
@import url("header.css");
/* Banner */
@import url("banner.css");
/* Navigation */
@import url("navigation.css");
/* Main */
@import url("main.css");
/* Footer */
@import url("footer.css");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}