* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)),
    url(/assets/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -30;

  // !! 이거 떄문에 후반에 다 망가짐
  // ::after {
  //   width: 100%;
  //   height: 100%;
  //   content: "";
  //   background: url(/Jaehun/assets/img/background.jpg);
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   z-index: -50;
  //   filter: brightness(0.4);
  // }

  header.nav_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    // 왼쪽 nav
    div.nl_left {
      display: flex;
      align-items: center;
      height: 100%;
      padding-left: 30px;
      padding-top: 20px;
      gap: 13px;

      .menu_bar_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: background-color 0.3s;
        .menu_bar {
          width: 20px;
          height: 20px;
          object-fit: contain;
        }
      }
      .menu_bar_wrap:hover {
        background-color: rgb(48, 48, 48);
        cursor: pointer;
      }
    }
    .search_input {
      width: 400px;
      height: 50px;
      border-radius: 10px;
      margin-left: 100px;
      padding: 10px 10px 10px 50px;

      border: 1px solid rgb(77, 77, 77);

      background: none;
      background: url(/assets/img/search-interface-symbol.png) no-repeat;
      background-position: 15px center;
      opacity: 0.8;

      color: white;

      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.05em;
    }

    .search_input:focus {
      width: 600px;
      outline: none !important;
      border-image: conic-gradient(
        90deg,
        #ff1b69 0deg 90deg,
        #ff0 90deg 180deg,
        #2196f3 180deg 270deg,
        #9c27b0 270deg 360deg
      );
      animation: mymove 7s infinite;
      box-shadow: 0 0 4px rgb(145, 189, 144);
      transition: 0.5s;
    }
    @keyframes mymove {
      0% {
        border-color: rgb(223, 160, 160);
      }
      33% {
        border-color: rgb(230, 230, 169);
      }
      66% {
        border-color: rgb(165, 226, 165);
      }
      100% {
        border-color: rgb(161, 161, 236);
      }
    }

    // 오른쪽 nav
    div.nl_right {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 100px;

      .connect_image {
        display: flex;
      }
      .connect_image:hover {
        cursor: pointer;
      }
      .user_image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-left: 30px;
      }
      .user_image:hover {
        cursor: pointer;
      }
      input#menu_toggle {
        display: none;
      }
      label.menu_toggle {
        padding: 4px;
      }
      nav#menu_nav {
        display: none;
        background-color: #282828;
        position: fixed;
        :hover {
          background-color: #3e3e3e;
        }
        li {
          position: relative;
          list-style: none;
          background-color: #282828;
          width: 248px;
          height: 40px;
          padding: 10px 36px 0 16px;

          a {
            text-decoration: none;
            color: white;
            font-size: 14px;
            line-height: 24px;
          }
        }
      }

      input#menu_toggle:checked + nav#menu_nav {
        display: block;
      }
    }
  }
  .body_container {
    width: 100%;
    height: 100%;
    .column_nav {
      width: 14%;
      height: 100%;
      color: white;
      margin-top: 30px;
      float: left;
      :hover {
        cursor: pointer;
      }
      .selected_option {
        background-color: #2c2e27;
        border-radius: 20%;
      }
      .column_nav_img {
        width: 80px;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 18px;
      }
    }
    .section_contents {
      display: flex;
      flex-direction: column;
      // float: left;
      width: 80%;
      margin-top: 50px;
      .select_tag {
        display: flex;
        flex-direction: row;
        color: white;
        gap: 15px;
        .tag_name {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 10%;
          height: 40px;
          padding: 5px;
          font-size: 12px;

          border: 1px solid black;
          border-radius: 10px;
          background-color: rgba(58, 52, 52, 0.3);
        }
        :hover {
          cursor: pointer;
          background: #2e2e2a;
          transition: all 0.3s;
        }
      }
      .section_music_contents {
        margin-top: 60px;
        height: 5.0938rem;
        display: flex;
        div.profile_wrap {
          width: 56px;
          height: 56px;
          border-radius: 50%;
          background-image: url(/assets/img/user.jpg);
          background-repeat: no-repeat;
          background-size: cover;
        }
        div.profile_singer {
          width: 56px;
          height: 56px;
          border-radius: 50%;
          background-image: url(/assets/img/yuika.jpg);
          background-repeat: no-repeat;
          background-size: cover;
        }
        .profile_inform {
          height: auto;
          margin-left: 24px;
          .profile_name {
            font-size: 16px;
            color: #aaaaaa;
            padding-bottom: 8px;
          }
          .profile_inform_two {
            display: flex;
            width: 1200px;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
            gap: 8px;
            .again_listen {
              :hover {
                border-bottom: 3px solid white;
                cursor: pointer;
              }
              span.profile_inform_text1 {
                font-size: 45px;
                font-weight: 700;
              }
            }
            .more_option {
              background: none;
              border: 2px solid #272525;
              border-radius: 25px;
              padding: 16px;
              color: white;
            }
            .more_option:hover {
              cursor: pointer;
              background-color: #262524;
              transition: 0.3s;
            }
          }
        }
        .button_wrap {
          display: flex;
          flex-direction: row;
          gap: 10px;
          margin: 50px 0 0 10px;
          .swiper-button-prev,
          .swiper-button-prev2 {
            position: relative;
            width: 36px;
            height: 36px;
            background-image: url(/assets/img/previous.png);
            background-repeat: no-repeat;
            background-position: center;
            border: 1px solid white;
            border-radius: 50%;
            margin-right: 20px;
          }
          .swiper-button-next,
          .swiper-button-next2 {
            position: relative;
            width: 36px;
            height: 36px;
            background-image: url(/assets/img/next.png);
            background-repeat: no-repeat;
            background-position: center;
            border: 1px solid white;
            border-radius: 50%;
          }
          .swiper-button-prev::after,
          .swiper-button-next::after,
          .swiper-button-prev2::after,
          .swiper-button-next2::after {
            display: none;
          }
        }
      }
    }
    //* 그 왜 하위 div 요소의 after 가상요소가 자동으로 적용되버려서 배경이 또 만들어지는지? 겹치는지?
    .swiper,
    .swiper2 {
      float: left;
      width: 100%;
      height: 100%;
      margin-top: 50px;
      overflow: hidden;
      .swiper-wrapper {
        .swiper-slide {
          .slider_contents {
            display: flex;
            gap: 40px;
            .album_desc {
              display: flex;
              flex-direction: column;
              color: white;
              padding: 10px;
              .album_image {
                border-radius: 10px;
                object-fit: contain;
              }
              .album_image:hover {
                cursor: pointer;
                opacity: 0.5;
                transition: all 0.5s;
              }
              .album_text_one {
                margin-top: 16px;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: -1px;
              }
              .album_text_two {
                margin-top: 4px;
                color: #9b9b9b;
                font-size: 16px;
                letter-spacing: -1px;
              }
            }
            .singer_desc {
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 10px;
              .singer_text_one {
                margin-top: 16px;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: -1px;
              }
              .singer_text_two {
                margin-top: 4px;
                color: #9b9b9b;
                font-size: 16px;
                margin-top: 4px;
              }
              .album_image {
                border-radius: 50%;
              }

              //TODO 이미지 hover시 가상요소 하고 싶은디 뭔가 되게 많이 꼬인 느낌
              .album_image:hover {
                cursor: pointer;
                opacity: 0.5;
                transition: all 0.5s;
              }
            }
          }
        }
      }
    }
  }
}
