.footer-container {
    width: 1296px;
    margin: 0 auto;
    padding: 37px 0 48px;
}
.service-container {
    display: flex;
}
.wrap-service {
    width: 14.28%;
    position: relative;
}
.service-title {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}
.service-title span {
    cursor: pointer;
}
.service-title > span:hover::before{
    background-color: #FFCD00;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    position:absolute;
    top: 6px;
    left: -15px;
    content: "";
}
.service-item {
    margin-top: 12px;
    line-height: 20px;
    letter-spacing: -.2px;
    font-size: 14px;
    color: #888;
}
.service-item:hover {
    color: #333;
}
.custom-service-title {
    margin-top: 36px;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}
.custom-service-title span {
    cursor: pointer;
}
.custom-service-title span:hover::before {
    background-color: #FFCD00;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    position:absolute;
    top: 6px;
    left: -15px;
    content: "";
}
.termsOfUse-section {
    position: relative;
}
.termsOfUse-container {
    display: flex;
    margin-top: 120px;
}
.termsOfUse-item {
    font-size: 12px;
    color: #888;
    margin-left: 24px;
    cursor: pointer;
}
.termsOfUse-item:nth-child(2){
    color: #333;
    font-weight: 700;
}
.termsOfUse-item:nth-child(3){
    color: #333;
    font-weight: 700;
}
.termsOfUse-item:hover {
    color: #333;
}
.relation {
    width: 208px;
    background-color: #eee;
    padding: 10px 20px 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    border-radius: 14px;
    color: #333;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 0;
}
.relation:hover {
    cursor: pointer;
}
.relation span {
    display: block;
}

.copyRight {
    font-size: 12px;
    margin-top: 18px;
    color: #888;
    margin-left: 24px;
}
.block-box {
    display: block;
}
@media (max-width: 1440px) {
    .footer-container {
        width: 952px;
    }
    .termsOfUse-container {
        width: 50%;
        flex-wrap: wrap;
    }
    .termsOfUse-item {
        margin-bottom: 5px;
    }
    .relation {
        width: 30%;
    }
}
@media (max-width: 1024px) {
    .footer-container {
        width: 630px;
    }
    .service-container {
        display: block;
    }
    .wrap-service {
        width: 100%;
        position: relative;
    }
    .service-title {
        padding-top: 13px;
        padding-bottom: 15px;
        border-top: 1px solid #e6e6e6;
        width: 100%;
        cursor: pointer;
    }
    .wrap-service:nth-child(7) .service-title {
        border-bottom: 1px solid #e6e6e6;
    }
    .service-title > span:hover::before{
        display: none;
    }
    .service-item {
        display: none;
    }
    .custom-service-title {
        margin-top: 0;
        padding-top: 13px;
        padding-bottom: 15px;
        border-bottom: 1px solid #e6e6e6;
        width: 100%;
        cursor: pointer;
    }
    .termsOfUse-container {
        width: 100%;
        margin-top: 45px;
    }
    .termsOfUse-item {
        width: 50%;
        margin-left: 0px;
        margin-top: 15px;
    }
    .relation {
        bottom: 0;
        width: 297px;
    }
    .copyRight {
        margin-top: 58px;
        margin-left: 0px;
    }
}
@media (max-width: 766px) {
    .footer-container {
        width: 412px;
        margin-top: 32px;
        padding: 0px 24px 48px;
    }
    .relation {
        position: static;
        margin-top: 48px;
        width: 100%;
    }

}