header {
    width: 100%;
}
.header-container {
    max-width: 1296px;
    height: 72px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-text {
    font-size: 28px;
}
.header-menu {
    display: flex;
}
.header-menu > li {
    font-weight: 700;
    padding: 0px 28px;
    cursor: pointer;
    position: relative; 
}
.submenu {
    display: none;
    position: absolute;
    top: 35px;
    padding: 0 24.5px;
    border-radius: 24px;
    background-color: #000;
    white-space: nowrap;
    box-sizing: border-box;
}

.submenu li {
    display: inline-block;
}
.submenu li + li {
    margin-left: 24px;

}
.submenu li a{
    display: block;
    padding: 11px 0 13px;
    line-height: 24px;
    color: #eee;
}
.submenu li a:hover{
    display: block;
    padding: 11px 0 13px;
    line-height: 24px;
    color: #fff;
}

button {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: 0px;
    cursor: pointer;
    margin-left:12px;
    background-color: #fff;
}
.header-container-right button:hover {
    background-color: #eee;
}
