.section-container {
    position: relative;
    max-width: 1296px;
    margin: 0 auto;
}

.calendar {
    background-image: url("https://www.kakaocorp.com/page/calendar/light/ico_date25.gif");
    background-repeat: no-repeat;
    background-size: 132px;
    background-position: left bottom;
}

.text {
    padding-top: 96px;
    font-size: 46px;
    padding-left: 144px;
    color: #000;
}

.shadow {
    box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, .09);
}

.item {
    margin: 0 -18px;
    padding: 96px 0 0;
}
.item-2 {
    margin: 0 -18px;
    padding: 0px
}
.article-container {
    display: flex;
}

.item-big-container {
    width: 50%;
    padding: 0 18px;
}

.item-small-container {
    width: 50%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    padding: 0 18px;
}

.item-big-box {
    position: relative;
    width: 100%;
    height: 579px;
    background-color: #fff;
    transition: all .2s ease-in-out;
    box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, .09);
    padding: 25px 24px 0;
    border-radius: 14px;
}

.item-big-box:nth-child(2) {
    margin-top: 35px;
}

.item-big-box:hover {
    transform: translateY(-5px);
    box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, 0.2);
}

.info-container {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.info-container>span {
    display: inline-block;
}

.notice {
    width: 36px;
    height: 36px;
    background-image: url("https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/6562f7bc017800001.png?type=thumb&opt=C72x72.fwebp");
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 8px;
}

.highright {
    width: 36px;
    height: 36px;
    background-image: url("https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/category/1cf6a77b018800001.png?type=thumb&opt=C72x72.fwebp");
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 8px;
}

.responsibe {
    width: 36px;
    height: 36px;
    background-image: url("https://www.kakaocorp.com/page/ico_responsible.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 8px;
}

.search {
    width: 36px;
    height: 36px;
    background-image: url("https://www.kakaocorp.com/page/ico_talktips.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 8px;
}

.leaf {
    width: 36px;
    height: 36px;
    background-image: url("https://www.kakaocorp.com/page/ico_activegreen.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 8px;
}

.customer {
    width: 36px;
    height: 36px;
    background-image: url("https://www.kakaocorp.com/page/ico_customer.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 8px;
}

.stock {
    width: 36px;
    height: 36px;
    background-image: url("https://www.kakaocorp.com/page/ico_stock.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 8px;
}
.number {
    width: 36px;
    height: 36px;
    background-image: url("https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/category/475e83bd018900001.png?type=thumb&opt=C72x72.fwebp");
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 8px;
}
.chat {
    position: relative;
    height: 34px;
    margin-top: 1px;
    padding: 0 13px;
    border-radius: 13px;
    font-size: 13px;
    line-height: 34px;
    color: #000;
    background-color: #eee;
    vertical-align: top;
}

.chat::before {
    position: absolute;
    top: 0;
    left: -4px;
    width: 16px;
    height: 16px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath d='M0 0c3.003 2.178 4.963 5.706 4.961 9.699V18H18C18 8.059 9.941 0 0 0' fill='%23eee' fill-rule='evenodd'/%3E%3C/svg%3E");
    content: "";
}

.yellow {
    background-color: #fae100;
}

.yellow::before {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath d='M0 0c3.003 2.178 4.963 5.706 4.961 9.699V18H18C18 8.059 9.941 0 0 0' fill='%23fae100' fill-rule='evenodd'/%3E%3C/svg%3E");
    content: "";
}

.date {
    margin: 8px 0px 0px 6px;
    font-size: 12px;
    color: #666;
    letter-spacing: -1px;
}

.title-container {
    margin-top: 13px;
    height: 92px;
    font-size: 32px;
    letter-spacing: -1px;
}
.title-container > a {
    color: #000;
}
.tag-container {
    margin-top: 24px;
}

.tag {
    margin-right: 3px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    color: #666;
}

.item-btn {
    position: absolute;
    top: 30px;
    right: 0px;
    border-radius: 0;
}


.item-big-box img {
    margin-top: 12px;
    margin-left: -24px;
    border-radius: 0px 0px 14px 14px;
}

.item-small-box {
    width: 297px;
    height: 363px;
    background-color: #fff;
    transition: all .2s ease-in-out;
    box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, .09);
    padding: 25px 24px 0px;
    border-radius: 14px;
    cursor: pointer;
}
.half {
    height: 192px;
}
.item-small-box:hover {
    transform: translateY(-5px);
    box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, 0.2);
}

.item-small-box:nth-child(n+3) {
    margin-top: 36px;
}

.title-container-small {
    font-size: 22px;
    line-height: 28px;
    margin-top: 13px;
    height: 54px;
    /* 2줄까지 표시 및 넘칠경우 ... */
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.title-container-small > a {
    color: #000;
}
.tag-container-small {
    margin-top: 21px;
}

.tag-small {
    font-size: 13px;
    color: #666;
}
.box {
    position: relative;
}
.item-small-box img {
    margin-top: 32px;
    width: 297px;
    height: 160px;
    margin-left: -24px;
    border-radius: 0px 0px 14px 14px;
}
.culture-container {
    height: 540px;
    background-color: #fff;
    box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, .09);
    padding: 54px 66px 0;
    margin: 36px 0px;
    border-radius: 14px;
    text-align: center;
    box-sizing: border-box;
    
}
.culture-text {
    display: block;
    font-size: 42px;
    line-height: 62px;
    color: #000;
    font-weight: bold;
}
.culture-link {
    display: inline-block;
    height: 33px;
    margin-top: 36px;
    padding: 9px 20px 0;
    border-radius: 42px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background-color: #000;
    vertical-align: top;
}
.culture-img-wrap {
    width: 900px;
    height: 240px;
    margin: 50px auto 0;
}
.culture-img-wrap img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.subscribe-container {
    display: flex;
    justify-content: space-between;
    height: 116px;
    margin: 36px 0px;
    border-radius:14px;
    box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, .09);
    padding: 28px 36px;
    align-items: center;
    font-size: 32px;
    margin-top: 8px;
    font-weight: bold;
    color: #000;
}
.subscribe-list {
    display: flex;
}
.subscribe-list li {
    margin-left: 5px;
}
.kakao {
    width: 60px;
    height: 60px;
    background-image: url("https://www.kakaocorp.com/page/_nuxt/img/ico_sns.2acc182.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 317px;
}
.youtube {
    width: 60px;
    height: 60px;
    background: url("https://www.kakaocorp.com/page/_nuxt/img/ico_sns.2acc182.png") -65px 0/317px no-repeat;
}
.insta {
    width: 60px;
    height: 60px;
    background: url("https://www.kakaocorp.com/page/_nuxt/img/ico_sns.2acc182.png") -130px 0/317px no-repeat;
}
.facebook {
    width: 60px;
    height: 60px;
    background: url("https://www.kakaocorp.com/page/_nuxt/img/ico_sns.2acc182.png") -190px 0/317px no-repeat;
}
.linked-in {
    width: 60px;
    height: 60px;
    background: url("https://www.kakaocorp.com/page/_nuxt/img/ico_sns.2acc182.png") -255px 0/317px no-repeat;
}
.sticky {
    position: sticky;
    top: 100px;
}
.shortcut-container {
    margin-top: 36px;
    height: 360px;
    display: flex;
}

.half-box {
    width: 50%;
    height: 360px;
    padding: 0px 18px;
}
.shortcut-wrap-1 {
    padding:36px 36px 0px;
    height: 100%;
    border-radius: 14px;
    box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, .09);
    background-color: #fae100;
    cursor: pointer;
}
.shortcut-wrap-2 {
    padding:36px 36px 0px;
    height: 100%;
    border-radius: 14px;
    box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, .09);
    background-color: #3c64ff;
    cursor: pointer;
}
.shortcut-title {
    font-size: 32px;
    line-height: 44px;
    color: #000;
}
.shortcut-link {
    display: inline-block;
    height: 33px;
    margin-top: 24px;
    padding: 9px 20px 0;
    border-radius: 42px;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    background-color: #000;
    vertical-align: top;
}
.shortcut-wrap-1 .shortcut-img {
    width: 160px;
    height: 160px;
    background-image: url("https://www.kakaocorp.com/page/bg_home_service.png");
    background-size: cover;
    margin-left: auto;
}
.shortcut-wrap-2 .shortcut-img {
    width: 309px;
    height: 160px;
    background-image: url("https://www.kakaocorp.com/page/bg_home_recruit.png");
    background-size: cover;
    margin-left: auto;
}
.notice-container {
    width: 260px;
    height: 60px;
    margin: 84px auto 182px;
    text-align: center;
    font-size: 18px;
    line-height: 60px;
    border-radius: 60px;
    background-color: #eee;
    color: #000;
    cursor: pointer;
}
.stt {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #000;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 80px;
    float: right;
    cursor: pointer;
}