footer {
  padding: 80px 0 20px;
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 992px) {
  footer {
    padding: 80px 0 50px;
  }
}

.footer {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .footer {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .footer {
    width: 1170px;
  }
}

.footer__logo {
  display: block;
  box-sizing: border-box;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .footer__logo {
    width: 16.67%;
  }
}

@media (min-width: 992px) {
  .footer__logo {
    min-height: 346px;
    flex: 0 0 auto;
  }
}

.footer__logo--image {
  display: inline-block;
  height: 27px;
  width: 89px;
  background-color: white;
  filter: invert(100%);
  margin: 0;
}

@media (min-width: 992px) {
  .footer__logo--image {
    height: 40px;
    width: 132px;
  }
}

.footer__logo--image > span {
  width: 100%;
  height: 100%;
  font: 0/0 a;
  display: inline-block;
  border: 0;
  text-shadow: none;
}

.footer__info {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .footer__info {
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .footer__info {
    width: 50%;
    flex: 0 0 auto;
  }
}

.footer__info > dl {
  padding: 0 15px;
  margin: 0;
}

@media (min-width: 768px) {
  .footer__info > dl {
    flex: 1 0;
  }
}

.footer__info > dl > dt {
  font-size: 12px;
  font-weight: 900;
  color: #919496;
  line-height: 1.4;
  letter-spacing: .08em;
  text-transform: uppercase;
  margin: 50px 0 22px;
}

@media (min-width: 992px) {
  .footer__info > dl > dt {
    margin: 20px 0;
  }
}

.footer__info > dl > dd {
  margin: 0;
}

.footer__info > dl > dd > a {
  color: white;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  padding: 3px 0 15px;
}

.footer__info > dl > dd > a:hover {
  color: #1ED760;
}

.footer__link {
  margin: 120px 15px 15px;
}

@media (min-width: 992px) {
  .footer__link {
    margin: 0 15px 0 auto;
  }
}

.footer__link > ul {
  margin: 20px 0 0;
  padding: 0;
}

.footer__link > ul > li {
  display: inline-block;
  margin-right: 15px;
}

.footer__link > ul > li > a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #222326;
}

@media (min-width: 992px) {
  .footer__link > ul > li > a {
    width: 54px;
    height: 54px;
    color: white;
  }
}

.footer__link > ul > li > a > span {
  display: block;
  width: 24px;
  height: 24px;
}

.footer__link--instagram {
  background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 448' fill='%23222326'%3E%3Cpath d='M0 230.126v-.793c.016 55.974.294 63.853 1.344 87.03 3.733 81.349 48.87 126.56 130.293 130.293C155.55 447.739 163.165 448 224 448H0V230.126zm229.242-189.75c55.006.014 62.368.256 85.291 1.307 60.704 2.762 89.059 31.565 91.822 91.821 1.05 22.905 1.275 30.266 1.287 85.272v10.487c-.014 55.022-.255 62.365-1.287 85.27-2.782 60.2-31.062 89.059-91.822 91.822-23.159 1.06-30.399 1.297-87.005 1.306h-7.054c-56.572-.009-63.848-.245-86.989-1.306-60.853-2.782-89.058-31.715-91.821-91.84-1.05-22.905-1.292-30.249-1.306-85.271v-8.77c.01-56.572.263-63.83 1.306-86.989 2.781-60.237 31.061-89.058 91.821-91.821 22.923-1.032 30.268-1.274 85.273-1.287h10.484zm-5.242 68.6c-63.523 0-115.024 51.501-115.024 115.024S160.477 339.043 224 339.043 339.024 287.54 339.024 224c0-63.523-51.501-115.024-115.024-115.024zm0 40.357c41.235 0 74.667 33.432 74.667 74.667 0 41.253-33.432 74.667-74.667 74.667S149.333 265.253 149.333 224c0-41.235 33.432-74.667 74.667-74.667zM343.579 77.56c-14.859 0-26.899 12.04-26.899 26.88s12.04 26.88 26.899 26.88c14.84 0 26.861-12.04 26.861-26.88s-12.021-26.88-26.861-26.88zM448 224v224H224c60.835 0 68.47-.261 92.363-1.344 81.274-3.733 126.597-48.87 130.274-130.293C447.74 292.469 448 284.835 448 224zm-1.344-92.344c-3.659-81.275-48.85-126.56-130.275-130.293C293.187.294 285.307.016 229.333 0H448v224c0-60.835-.261-68.45-1.344-92.344zM0 0h218.667c-55.973.016-63.834.294-87.011 1.344C50.306 5.077 5.096 50.214 1.363 131.637.299 154.722.019 162.62 0 217.873V0z'/%3E%3C/svg%3E"),
    currentColor
}

.footer__link--twitter {
  background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 448' fill='%23222326'%3E%3Cpath d='M448 0v448H0V0h448zM299.75 64c-22.333 0-41.375 7.875-57.125 23.625S219 122.417 219 144.75c0 6 .667 12.167 2 18.5-33-1.667-63.958-9.958-92.875-24.875S74.667 103.583 54.5 78.75c-7.333 12.5-11 26.083-11 40.75 0 13.833 3.25 26.667 9.75 38.5 6.5 11.833 15.25 21.417 26.25 28.75-12.717-.49-24.637-3.77-35.76-9.841L43 176.5v1c0 19.5 6.125 36.625 18.375 51.375s27.708 24.042 46.375 27.875a83.54 83.54 0 01-21.25 2.75c-4.667 0-9.75-.417-15.25-1.25 5.167 16.167 14.667 29.458 28.5 39.875 13.833 10.417 29.5 15.792 47 16.125-29.333 23-62.75 34.5-100.25 34.5-7.167 0-13.667-.333-19.5-1C64.5 371.917 105.833 384 151 384c28.667 0 55.583-4.542 80.75-13.625s46.667-21.25 64.5-36.5 33.208-32.792 46.125-52.625c12.917-19.833 22.542-40.542 28.875-62.125 6.333-21.583 9.5-43.208 9.5-64.875 0-4.667-.083-8.167-.25-10.5 15.833-11.5 29.333-25.417 40.5-41.75-15.5 6.667-31 10.833-46.5 12.5C392 104 403.833 89.167 410 70c-16 9.5-33.083 16-51.25 19.5-16-17-35.667-25.5-59-25.5z'/%3E%3C/svg%3E"),
    currentColor
}

.footer__link--facebook {
  background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 448' fill='%23222326'%3E%3Cpath d='M448 0v448H0V0h448zM276.877 16h-1.127c-28.833 0-51.917 8.542-69.25 25.625-17.16 16.912-25.826 40.645-25.997 71.197l-.003.928v54.5h-63.75v74h63.75V432H257V242.25h63.5l9.75-74H257V121c0-12 2.5-21 7.5-27 4.923-5.908 14.37-8.907 28.342-8.998L293.5 85h39.25V19c-13.085-1.938-31.336-2.938-54.754-2.997l-1.12-.003z'/%3E%3C/svg%3E"),
    currentColor
}

.footer__language {
  display: flex;
  justify-content: flex-end;
  margin: 0 15px;
}

@media (min-width: 992px) {
  .footer__language {
    width: 100%;
  }
}

.footer__language > a {
  font-size: 12px;
  padding: 1em;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  color: #919496
}

.footer__link > img {
  width: 30px;
  height: 30px;
  background-color: white;
}


.footer__law {
  display: flex;
}

@media (min-width: 992px) {
  .footer__law {
    width: 100%
  }
}

.footer__law > ul {
  margin: 0 45px 0 0;
  padding: 0 0 0 15px;
}

.footer__law > ul > li {
  display: inline-block;
  list-style: none;
  line-height: normal;
  letter-spacing: 0;
  padding: 0;
  margin-right: 24px;
}

.footer__law > ul > li > div {
  display: flex;
}

.footer__law > ul > li > div > a {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  color: #919496;
  font-size: 12px;
  padding: 1em;
}

.footer__law > span {
  flex-shrink: 0;
  color: #919496;
  padding: 1em 0;
  margin: 0 30px 0 auto;
  font-size: 12px;
}