html div span a h3 {
  font-family: "Noto Sans KR", sans-serif;
}

.my-slides {
  display: none;
}

.my-slides img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  margin-top: -110px;
  z-index: 0;
}

/* Caption text */
.txtArea {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: -31%;
  margin-left: 10%;
}

.txtArea strong {
  font-weight: 700;
  color: #fff;
  font-size: 5em;
  animation: 1.5s anim-lineUp ease-out;
}

.txtArea span {
  font-size: 1em;
  color: #fff;
  margin-top: 30px;
  line-height: 25px;
  animation: 2s anim-lineUp ease-out;
}

.txtArea a {
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  margin-top: 20px;
  width: fit-content;
  animation: 2s anim-lineUp ease-out;
}

.my-slides:nth-child(2) strong,
.my-slides:nth-child(3) strong {
  font-weight: 700;
  color: #212121;
  font-size: 5em;
  animation: 1.5s anim-lineUp ease-out;
}

.my-slides:nth-child(2) span,
.my-slides:nth-child(3) span {
  font-size: 1em;
  color: #212121;
  margin-top: 30px;
  line-height: 25px;
  animation: 2s anim-lineUp ease-out;
}

.my-slides:nth-child(2) a,
.my-slides:nth-child(3) a {
  color: #212121;
  font-size: 1em;
  font-weight: 700;
  margin-top: 20px;
  animation: 2s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateX(-80%);
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateX(0%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* Number text (1/3 etc) */
.numbertext {
  position: absolute;
  top: 50%;
  right: 3%;
  padding: 15px;
  border-radius: 20px;
  color: #fff;
  background-color: rgba(92, 92, 92, 0.2);
  font-size: 20px;
  opacity: 0.8;
}

/* The dots/bullets/indicators */

.active {
  background-color: #ea094b;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

.header_wrap {
  display: flex;
  height: 110px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

.header_wrap nav {
  width: 100%;
}

.header_wrap nav::after {
  display: flex;
  content: "";
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  background-image: url("/images/bgbg.png");
  background-repeat: repeat;
  opacity: 0;
  transition: ease-in-out 0.2s;
  z-index: -1;
  border-bottom: 1px solid #f0f0f0;
  pointer-events: none;
}

.header_wrap nav:hover::after {
  height: 280px;
  opacity: 1;
}

.header_wrap .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.header_wrap .logo a {
  width: 130px;
  height: 56px;
  margin-left: 20px;
  margin-right: 150px;
}

.header_wrap .menu_bar {
  display: flex;
  flex-direction: row;
  width: 1200px;
  z-index: 1;
  padding-top: 60px;
  padding-bottom: 60px;
}

.header_wrap .menu_bar nav ul li a:hover {
  color: #ea094b;
  transition: 0.2s;
  opacity: 1;
}

.header_wrap .menu_bar .menu_center {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
}

.header_wrap .menu_bar .menu_center li span a {
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.header_wrap .menu_bar .menu_center:hover li span a {
  color: #000;
  opacity: 1;
}

.header_wrap .menu_bar .menu_center li:hover span a:hover {
  color: #ea094b;
  transition: opacity 0.2s;
  opacity: 1;
}

.header_wrap .menu_bar .menu_center > li:nth-child(6) {
  font-weight: 700;
}

.header_wrap .menu_bar .menu_center li span a::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: #dfdfdf;
  opacity: 0;
}

.header_wrap .menu_bar .menu_center li:hover span a {
  color: #ea094b;
  font-weight: 700;
}

.header_wrap .menu_bar .menu_center li:hover span a::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: #ea094b;
  opacity: 1;
}

.header_wrap .menu_bar .menu_center .inner {
  opacity: 0;
}

.header_wrap .menu_bar .menu_center:hover .inner {
  opacity: 1;
  margin-top: 18px;
}

.header_wrap .menu_bar .menu_center li a {
  color: #242424;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  opacity: 1;
}

.header_wrap .menu_right {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.header_wrap .menu_right .menu_right_top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.header_wrap .menu_right .menu_right_top a {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #fff;
  opacity: 0.6;
  padding-right: 23px;
}

.header_wrap .menu_right .menu_right_top a:hover {
  opacity: 1;
}

.header_wrap .menu_right .menu_right_bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 5px;
}

.header_wrap .menu_right .menu_right_bottom img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.header_wrap .menu_right .menu_right_bottom a {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
  opacity: 0.8;
  margin-right: 29px;
  text-decoration: none;
  color: #f0dec8;
}

.header_wrap .menu_right .menu_right_bottom a:hover {
  opacity: 1;
}

/* sidebar 영역*/
.side_wrap {
  position: relative;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -580px;
  left: 25px;
  width: 20px;
  padding: 15px;
  border-radius: 30px;
  background-color: rgba(218, 218, 218, 0.3);
}

.sidebar ul li a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  font-size: 0px;
}

.sidebar ul li:nth-child(1) img {
  width: 20px;
  height: 20px;
  padding-top: 15px;
}

.sidebar ul li img {
  width: 20px;
  height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.sides a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.sides li a:hover .tooltip span {
  position: absolute;
  white-space: nowrap;
  top: 28%;
  left: 70%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 20px;
  font-size: 16px;
  color: #ea094b;
  background-color: #fff;
}

/* find a store*/
.find {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: -200px;
  left: 10%;
}

.find img {
  width: 16px;
  height: 20px;
  margin-right: 6px;
}

.find a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

.find a:hover {
  color: #ea094b;
  font-weight: bolder;
  font-size: 22px;
  transition: 0.3s;
}

.find a:hover > img {
  transform: scale(1.4);
  transition: 0.5s;
}

/* notice slider 영역 */
.notice {
  display: flex;
  position: absolute;
  top: 92%;
  width: 600px;
  height: 72px;
  overflow: hidden;
  background: #fff;
  color: #333;
}

.notice_center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -22.5px;
  background: #fff;
}

.notice_swiper {
  position: relative;
  width: 100%;
  text-align: center;
  line-height: 45px;
  height: 45px;
}

.notice_swiper .notice_pre {
  position: absolute;
  top: 0;
  height: 45px;
  margin-left: 80px;
  font-family: "Noto Sans KR" sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.notice_swiper .change_outer {
  position: absolute;
  top: 0;
  left: 30%;
  text-align: left;
  height: 45px;
  overflow: hidden;
}

.notice_swiper .change_outer .change_inner {
  position: relative;
  animation: rotate 15s ease-in-out infinite;
}

.notice_swiper .change_outer .element {
  display: block;
  font-size: 16px;
}

@keyframes rotate {
  10%,
  15%,
  100% {
    transform: translateY(0);
  }

  25%,
  36% {
    transform: translateY(-45px);
  }

  46%,
  57% {
    transform: translateY(-90px);
  }

  67%,
  78% {
    transform: translateY(-135px);
  }

  88%,
  99% {
    transform: translateY(-180px);
  }
}

.footer_wrap .events {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #382e2c;
  padding: 50px;
}

.footer_wrap .events .event1 {
  margin-right: 80px;
  background-image: url("/images/event1.jpg");
  width: 854px;
  height: 548px;
  opacity: 0.6;
  border-radius: 150px 0 0 0;
  cursor: pointer;
}

.footer_wrap .events .event1 a {
  text-decoration: none;
  color: inherit;
}

.footer_wrap .events .event1 h3 {
  font-size: 4em;
  letter-spacing: -4px;
  margin: 50px 50px 30px;
  color: #fff;
}

.footer_wrap .events .event2 h3 {
  font-size: 4em;
  letter-spacing: -4px;
  margin: 180px 30px 30px;
  color: #fff;
}

.footer_wrap .events .event1 span {
  font-size: 20px;
  margin-left: 50px;
  color: #484848;
}

.footer_wrap .events .event2 span {
  font-size: 20px;
  margin-left: 30px;
  color: #e6e6e6;
}

.footer_wrap .events .event1:hover {
  margin-right: 80px;
  background-image: url("/images/event1.jpg");
  width: 854px;
  height: 548px;
  opacity: 1;
  border-radius: 150px 0 0 0;
}

.footer_wrap .events .event1:hover h3 {
  background-color: #ea094b;
  margin-left: -30px;
  margin-right: -30px;
  padding: 15px;
  text-shadow: 2px 2px #525252;
  transition: 0.2s;
  opacity: 1;
}

.footer_wrap .events .event1:hover span {
  color: #292929;
  font-weight: 700;
}

.footer_wrap .events .event2 {
  background-image: url("/images/event2.jpg");
  width: 400px;
  height: 548px;
  opacity: 0.6;
  border-radius: 0 0 150px 0;
  cursor: pointer;
}

.footer_wrap .events .event2 a {
  text-decoration: none;
}

.footer_wrap .events .event2:hover {
  background-image: url("/images/event2.jpg");
  width: 400px;
  height: 548px;
  opacity: 1;
  border-radius: 0 0 150px 0;
}

.footer_wrap .events .event2:hover h3 {
  background-color: #ea094b;
  margin-left: -10px;
  margin-right: -10px;
  padding: 15px;
  text-shadow: 2px 2px #525252;
  transition: 0.2s;
  opacity: 1;
}

.footer_wrap .events .event2:hover span {
  color: #fff;
}

.footer_wrap .utils {
  background-color: #3c3937;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 180px;
}

.footer_wrap .utils .util_left {
  padding: 2%;
}

.footer_wrap .utils .util_left a {
  font-size: 13px;
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
}

.footer_wrap .utils .util_left a:hover {
  opacity: 1;
}

.footer_wrap .utils .util_left span::after {
  display: inline-block;
  border-right: 1px solid #a7a7a7;
}

.footer_wrap .utils .util_left .biz {
  font-size: 12px;
  margin-top: 30px;
  color: #c0c0c0;
  line-height: 18px;
}

.footer_wrap .utils .util_right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 25%;
  margin-right: 1%;
}

.footer_wrap .utils .util_right img:nth-child(1) {
  width: 60px;
  height: 60px;
}

.footer_wrap .utils .util_right img:nth-child(2) {
  width: 174px;
  height: 46px;
}

.footer_wrap .utils .util_right a:nth-child(3) img,
.footer_wrap .utils .util_right a:nth-child(4) img {
  width: 20px;
  height: 20px;
}

.footer_wrap .utils .util_right a:nth-child(5) img {
  width: 25px;
  height: 30px;
}
