a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    position: relative;
    width: 100%;
    margin: 0;
    word-break: keep-all;
}


/* Header */
@media (min-width:320px) and (max-width: 1439px) {
    header {
        position: fixed;
        width: 100%;
        height: 90px;
        background-color: rgba(255,255,255,0.95);
        left: 0px;
        top: 0px;
        z-index: 100;
    }
    
    nav {
        position: relative;
        left: 0;
        top: 0;
    }
    
    .mainmenu__intro__basket {
        position: absolute;
        display: none;
        justify-content: center;
        padding: 30px 0 30px;
        top: 90px;
        width: 100%;
        background-color: rgba(235,235,235,0.85);
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.5s ease, transform 0.4s ease;
    }
    
    .mainmenu__intro__basket.show {
        opacity: 1;
        transform: translateY(0);
    }
    
    
    .mainmenu__intro__basket > ul > a {
        display: none;
        color: #111111;
        padding-bottom: 15px;
    }
    
    .mainmenu__intro__basket > ul > li > a {
        color: #777777;
    }
    
    .mainmenu__intro__basket > ul  a:hover {
        color: #06c755;
    }
    
    
    header nav ul.mainmenu__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
    }

    header nav .mainmenu__firstbox {
        margin-top: 33px;
        width: 70px;
        height: 25px;
        background-image: url(/icons/mainmenu_logo.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
        text-indent: 100%;
        overflow: hidden;
    }
    
    header nav .mainmenu__secondbox {
        display: none;
    }
    
    header nav .mainmenu__secondbox > li {
        padding: 23px 25px;
    }
    
    header nav .mainmenu__secondbox > li > a {
        color: black;
        line-height: 44px;
        font-weight: 400;
        font-size: 18px;
        text-align: left;
    }
    
    header nav .mainmenu__secondbox > li > a:hover {
        color: #06c755;
    }
    
    header nav .mainmenu__thirdbox {
        width: 70.891px;
        height: 90px;
        margin-right: 30px;
        margin-left: 50px;
    }
    
    header nav .mainmenu__thirdbox > li > a {
        line-height: 90px;
        font-size: 1.0625rem;
        color: #adadad;
        cursor: pointer;
    }
    
    header nav .mainmenu__forthbox {
        position: relative;
        margin: 25px 0px;
        width: 126.5px;
        height: 30px;
        border: 1px solid #c8c8c8;
        border-radius: 20px;
        padding: 4px 0;
    }
    
    header nav .mainmenu__forthbox > li > a {
        margin-left: 20px;
        font-size: .9375rem;
        line-height: 30px;
        color: #838383;
    }
    
    header nav .mainmenu__forthbox > li > a::after {
        content: "∨";
        margin-left: 30px;
        font-size: 18px;
    }
    
    .mainmenu__language__basket {
        position: absolute;
        top: -2px;
        width: 128px;
        height: 150px;
        background-color: rgb(245,245,245);
        border-radius: 20px;
        border: 1px solid rgb(200, 200, 200);
        display: flex;
        flex-direction: column;
        padding: 5px;
        box-sizing: border-box;
        opacity: 0;
        z-index: 100;
    }
    
    .mainmenu__language__basket.show {
        opacity: 1;
    }
    
    .mainmenu__language__basket > a {
        flex-basis: 28px;
        padding-left: 15px;
        width: auto;
        height: auto;
        color: rgb(131, 131, 131);
    }
    
    .mainmenu__language__basket a:first-child::after {
        content: "^";
        margin-left: 22px;
    }
}

@media (min-width: 1440px) {
header {
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: rgba(255,255,255,0.95);
    left: 0px;
    top: 0px;
    z-index: 100;
}

nav {
    position: relative;
    left: 0;
    top: 0;
}

.mainmenu__intro__basket {
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 30px 0 30px;
    top: 90px;
    width: 100%;
    background-color: rgba(235,235,235,0.85);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, transform 0.4s ease;
}

.mainmenu__intro__basket.show {
    opacity: 1;
    transform: translateY(0);
}


.mainmenu__intro__basket > ul > a {
    display: block;
    color: #111111;
    padding-bottom: 15px;
}

.mainmenu__intro__basket > ul > li > a {
    color: #777777;
}

.mainmenu__intro__basket > ul  a:hover {
    color: #06c755;
}


header nav ul.mainmenu__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}
header nav .mainmenu__firstbox {
    margin-top: 33px;
    width: 70px;
    height: 25px;
    background-image: url(/icons/mainmenu_logo.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    text-indent: 100%;
    overflow: hidden;
}

header nav .mainmenu__secondbox {
    position: relative;
    width: 360.609px;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-left: 132px;
    margin-right: 300px;
}

header nav .mainmenu__secondbox > li {
    padding: 23px 25px;
}

header nav .mainmenu__secondbox > li > a {
    color: black;
    line-height: 44px;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
}

header nav .mainmenu__secondbox > li > a:hover {
    color: #06c755;
}

header nav .mainmenu__thirdbox {
    width: 70.891px;
    height: 90px;
    margin-right: 30px;
    margin-left: 50px;
}

header nav .mainmenu__thirdbox > li > a {
    line-height: 90px;
    font-size: 1.0625rem;
    color: #adadad;
    cursor: pointer;
}

header nav .mainmenu__forthbox {
    position: relative;
    margin: 25px 0px;
    width: 126.5px;
    height: 30px;
    border: 1px solid #c8c8c8;
    border-radius: 20px;
    padding: 4px 0;
}

header nav .mainmenu__forthbox > li > a {
    margin-left: 20px;
    font-size: .9375rem;
    line-height: 30px;
    color: #838383;
}

header nav .mainmenu__forthbox > li > a::after {
    content: "∨";
    margin-left: 30px;
    font-size: 18px;
}

.mainmenu__language__basket {
    position: absolute;
    top: -2px;
    width: 128px;
    height: 150px;
    background-color: rgb(245,245,245);
    border-radius: 20px;
    border: 1px solid rgb(200, 200, 200);
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-sizing: border-box;
    opacity: 0;
    z-index: 100;
}

.mainmenu__language__basket.show {
    opacity: 1;
}

.mainmenu__language__basket > a {
    flex-basis: 28px;
    padding-left: 15px;
    width: auto;
    height: auto;
    color: rgb(131, 131, 131);
}

.mainmenu__language__basket a:first-child::after {
    content: "^";
    margin-left: 22px;
}
}

/* Main */
/* Container contentfirst */

.container__contentfirst {
    position: relative;
    height: 690px;
    overflow: hidden;
}

video.container__contentfirst-clip {
    width: 100%;
    margin-top: -57px;
}

.container__contentfirst__textbox {
    position: absolute;
    top: 300px;
    width: 100%;
    height: 364px;
    text-align: center;
    align-items: center;
    align-content: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    line-height: 19.6px;
}

p.container__contentfirst__textbox-text {
    height: 60px;
    color: rgb(255,255,255);
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 40px;
}

.container__contentfirst__textbox > a {
    height: 43px;
    padding: 0 32px 0 25px;
    border: 1px solid rgba(255,255,255,0.7);
    border-radius: 22px;
    display: table;
    text-align: center;
}

.container__contentfirst__textbox > a > p {
    color: rgb(255,255,255);
    font-size: 16px;
    font-weight: 500;
    padding-right: 7px;
    margin: 10px;
}

.container__contentfirst__textbox > a > p::after {
    content: ">";
}

/* Container contentsecond */
@media (min-width:320px) and (max-width: 1439px) {
    .container__contentsecond {
        padding: 80px 0;
        box-sizing: border-box;
        display: flex;
    }
    
    .container__contentsecond__inner {
        max-width: 1120px;
        margin: 0 auto;
    }
    
    .container__contentsecond__inner_header {
        margin-bottom: 32px;
        position: relative;
        max-width: 1120px;
        text-align: left;
    }
    
    .container__contentsecond__inner-newsroom {
        font-weight: 400;
        font-size: 2.25rem;
        color: #191919;
        margin: 0 0 10px;
        display: block;
    }
    
    .container__contentsecond__inner-more {
        font-size: .95rem;
        padding-right: 7px;
        color: #777;
    }
    
    .container__contentsecond__inner__newslist {
        display: grid;
        grid-template-columns: auto;
        gap: 30px;
    }
    
    .container__contentsecond__inner__newslist > div > a > p {
        color: #06c755;
        font-size: 0.825rem;
    }
    
    .container__contentsecond__inner__newslist > div > a > h4 {
        color: black;
        font-weight: 535;
        width: 500px;
        white-space: nowrap;
        overflow: hidden;
}
}

@media (min-width:1440px) {
.container__contentsecond {
    padding: 80px 0;
    box-sizing: border-box;
    display: block;
}

.container__contentsecond__inner {
    max-width: 1120px;
    margin: 0 auto;
}

.container__contentsecond__inner_header {
    margin-bottom: 32px;
    position: relative;
    max-width: 1120px;
    text-align: left;
}

.container__contentsecond__inner-newsroom {
    font-weight: 400;
    font-size: 2.25rem;
    color: #191919;
    margin-left: -3px;
    margin: 0;
    padding: 0;
    display: block;
}

.container__contentsecond__inner-more {
    font-size: .95rem;
    bottom: 50%;
    transform: translate(0, 50%);
    padding-right: 7px;
    color: #777;
    position: absolute;
    right: 7px;
}

.container__contentsecond__inner__newslist {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}

.container__contentsecond__inner__newslist > div > a > p {
    color: #06c755;
    font-size: 0.825rem;
}

.container__contentsecond__inner__newslist > div > a > h4 {
    color: black;
    font-weight: 535;
    width: 500px;
    white-space: nowrap;
    overflow: hidden;
}
}

/* Container contentthird */
@media (min-width:320px) and (max-width: 1439px) {
    .container__contentthird {
        background-color: #f9f9f9;
        justify-content: center;
        display: flex;
    
    }
    
    .container__contentsecond__inner__submenu {
        max-width: 1120px;
        display: grid;
        grid-template-columns: auto auto;
        gap: 70px;
        padding: 30px 0;
    }
    
    .container__contentsecond__inner__submenu > div > a > p {
        font-size: 0.9rem;
        font-weight: 300;
        color: #777777;       
    }
    
    .container__contentsecond__inner__submenu > div > a > h4 {
        color: #111111;
        font-weight: 500;
    }
}

@media (min-width:1440px) {
.container__contentthird {
    background-color: #f9f9f9;
    justify-content: center;
    display: flex;

}

.container__contentsecond__inner__submenu {
    max-width: 1120px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 70px;
    padding: 30px 0;
}

.container__contentsecond__inner__submenu > div > a > p {
    font-size: 0.9rem;
    font-weight: 300;
    color: #777777;       
}

.container__contentsecond__inner__submenu > div > a > h4 {
    color: #111111;
    font-weight: 500;
}
}

/* Footer */
@media (min-width: 320px) and (max-width: 1439px) {
    footer {
        height: 120px;
        display: flex;
        justify-content: center;
    }
    
    .attachment {
        display: flex;
        align-items: center;
    }
    
    .attachment__leftitem {
        flex: 2;
        display: flex;
        font-size: 0.9rem;
        font-weight: 550;
    }
    
    .attachment__leftitem > table {
        margin-left: 5px;
        color: #111111;
    }
    
    .attachment__leftitem > table a  {
        color: #111111;
    }
    
    
    .attachment__rightitem {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }
    
    .attachment__rightitem > a {
        position: relative;
        border: 1px solid #c8c8c8;
        border-radius: 20px;
        padding-left: 30px;
        width: 186px;
        height: 38px;
        display: flex;
        align-items: center;
    }
    
    .attachment__rightitem > a > div {
        color: #777777;
    }
    
    .attachment__rightitem > a > div::after {
        content: "∨";
        margin-left: 70px;
    }
    
    .familysite_basket {
        position: absolute;
        bottom: 40px;
        border: 1px solid #c8c8c8;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 217.5px;
        height: 200px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 13px 0px 13px 20px;
        box-sizing: border-box;
        z-index: 10;
        opacity: 0;
    }
    
    .familysite_basket.show {
        opacity: 0.9;
    }
    
    
    .familysite_basket > a {
        color: #777;
        padding: 5px 0;
        font-size: 0.95rem;
    }
    
    .familysite_basket > a:first-child::after{
        content: "^";
        margin-left: 120px;
    }
    
    
    .familysite_basket > a:hover {
        color: #06c755;
    }
}

@media (min-width:1440px) {
footer {
    height: 120px;
    display: flex;
    justify-content: center;
}

.attachment {
    width: 1120px;
    display: flex;
    align-items: center;

}

.attachment__leftitem {
    flex: 1;
    display: flex;
    font-size: 0.9rem;
    font-weight: 550;
}

.attachment__leftitem > table {
    margin-left: 20px;
    color: #111111;
}

.attachment__leftitem > table a  {
    color: #111111;
}


.attachment__rightitem {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.attachment__rightitem > a {
    position: relative;
    border: 1px solid #c8c8c8;
    border-radius: 20px;
    padding-left: 30px;
    width: 186px;
    height: 38px;
    display: flex;
    align-items: center;
}

.attachment__rightitem > a > div {
    color: #777777;
}

.attachment__rightitem > a > div::after {
    content: "∨";
    margin-left: 70px;
}

.familysite_basket {
    position: absolute;
    bottom: 40px;
    border: 1px solid #c8c8c8;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 217.5px;
    height: 200px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 13px 0px 13px 20px;
    box-sizing: border-box;
    z-index: 10;
    opacity: 0;
}

.familysite_basket.show {
    opacity: 0.9;
}


.familysite_basket > a {
    color: #777;
    padding: 5px 0;
    font-size: 0.95rem;
}

.familysite_basket > a:first-child::after{
    content: "^";
    margin-left: 120px;
}


.familysite_basket > a:hover {
    color: #06c755;
}
}