@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

body {
  font-size: 18px;
}

/* HOME SECTION */
.home {
  width: 100%;
  height: 100dvh;
  border-bottom: 1px solid #505050;
  padding: 0 40px;
}

.header {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  height: 100%;
  width: 100%;
}

.canvas img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header-top {
  display: grid;
  grid-template-columns: 1fr auto;
}

.logo-desktop {
  padding: 40px 0 0 40px;
  max-width: 1000px;
}

.logo-desktop svg {
  width: 100%;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 80px;
}

.nav-list .top {
  display: flex;
}

.nav-list .bottom {
  padding: 15px;
  font-size: 4vw;
  font-weight: 600;
  letter-spacing: -2px;
}

.nav-item {
  padding: 15px;
  font-size: 1rem;
  font-weight: 400;
  white-space: nowrap;
}

.nav-btn {
  display: flex;
}

.nav-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  background-color: #212121;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: inherit;
}

/* 1024px colums */
.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 80px;
  margin-bottom: 40px;
}

.header-bottom-btn {
  display: flex;
  column-gap: 10px;
}

@media screen and (max-width: 1024px) {
  .header-bottom-btn {
    flex-direction: column;
    row-gap: 10px;
  }
}

.header-bottom-btn button {
  border: none;
  background-color: #212121;
  color: white;
  padding: 15px 30px;
  font-size: 1.125rem;
  border-radius: 30px;
  white-space: nowrap;
}

/* INTRODUCE SECTION */
.introduce {
  margin-top: 4rem;
  margin-bottom: 8rem;
  padding-right: 8rem;
}

.introduce .container {
  padding-left: 40%;
}

.description {
  font-size: 4vw;
  font-weight: 700;
  letter-spacing: -2px;
  margin-bottom: 4rem;
}

.keywords {
  display: flex;
  margin-bottom: 4rem;
  column-gap: 4rem;
}

.keyword {
  border-top: 1px solid #505050;
  padding-top: 2rem;
}

.keyword .title {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.keyword .detail {
  color: #b5b5b5;
  font-weight: 400;
}

/* SERVICE SECTION */
.service {
  margin-bottom: 8rem;
}

.service__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.service__container .card {
  position: relative;
  height: 56vw;
  padding: 3rem;
  color: white;
}

.all-solutions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #151623;
}

.all-solutions > p:first-child {
  font-size: 3.5vw;
}

.all-solutions button {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  background-color: transparent;
  padding: 15px 25px;
  font-size: 1.2vw;
  margin-top: 40px;
}

.on-demand {
  display: flex;
  align-items: end;
  font-size: 2.5vw;
}

.on-demand::before {
  position: absolute;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -9;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
}

.shared-flights {
  display: flex;
  align-items: end;
  font-size: 2.5vw;
  background-color: #bc7154;
}

.shared-flights svg {
  position: absolute;
  top: 30px;
  right: 0;
}
