body {
  margin: 0;
}

.mb0 {
  margin-bottom: 0;
}

.mb15 {
  margin-bottom: 15px;
}

.xsmall-text {
  font-size: 10px;
}

.small-text {
  font-size: 12px;
}

.weight400 {
  font-weight: 400;
}

.weight700 {
  font-weight: 700;
}

.fs16 {
  font-size: 16px;
}

.fs18 {
  font-size: 18px;
}

.fs20 {
  font-size: 20px;
}

.fs24 {
  font-size: 24px;
}

.fs40 {
  font-size: 40px;
}

.thick {
  font-weight: bold;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.transparent {
  background-color: transparent;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.gray-text {
  color: gray;
}

.hidden {
  width: auto;
  height: auto;
  z-index: -1;
  position: absolute;
}