
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

ol, ul{
  list-style: none;
}
body{
  margin: 0;
}


/* 네비게이션 바 */

.header{
  width:100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 60px;
  position: fixed;
  top:0;
  left: 0;
  align-items: center;
  z-index: 100;
  padding: 0 100px;
  background-color: white;
}

.header_tosslogo{
  height: 60px;
  color: black;
}

.header > a{
  margin-left: 100px;
}

.navbar_menu{
  display:flex;
  margin-right: 100px;
}

.navbar_menu .navbar_item{
  padding-left: 35px;
  white-space: nowrap;
}

.navbar_lan{
  display: flex;
  margin-left: 40px;
}
.navbar_lan li{
  padding: 0 15px;
  white-space: nowrap;
}

.navbar_lan li:last-of-type{
  margin-right: 200px;
}

.navbar_menu a, .navbar_lan li {
  font-size: 14px;
  line-height: 20px;
  color: rgb(78, 89, 104)
}


/* main Start*/
/* Intro Section */

.intro_wrap{
  height: calc(100vh - 60px);
  margin-top: 60px;
}

.intro_wallpaper{
  height: 100%;
  background: url('./static/asset/newtossim/new_main.png') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.intro_container{
  position: relative;
  top: 150px;
}

.intro_textwrap{
  text-align: center;
}

.intro_textwrap h1{
  font-size: 66px;
  font-weight: 700;
  line-height: 1.4;
  color: rgb(0, 0, 0);
}

.intro_mobile_wrap{
  display:flex;
  justify-content: center;
}

.store_button{
  height: 40px;
  border-radius:10px;
  background-color: rgba(0, 12, 30, 0.8);
  text-align: center;
  margin: 10px;
  padding: 5px 20px;
}

.store_button a{
  position: relative;
  top:10%;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.store_button span{

  color:white;
}

.store_button img{
  height: 30px;
}
/* intro2 section*/

.intro2_wrap2{
  width: 100%;
  height:200px;
  padding: 200px 0;
}

.intro2_wallpaper{
  background-color: white;
  text-align: center;
}

.intro2_wallpaper h2{
  font-size: 32px;
  font-weight: 700;
  line-height: 1.6;
  color: #191f28;
}


/* home section */

.home_wrap{
  position: relative;
  overflow: hidden;
  width: 100%;

}
.home_container{
  width: 100%;
  height: 100%;
  padding: 250px 0 165px 0;
  max-width: 1140px;
  margin: auto;
}

.home_container_inner{
  height: 100%;
  width:92%;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}

.home_wrap img{
  position:absolute;
}

.home_wrap .image_item1{
  right: 0;
}

.home_wrap .image_iphone{
  left: 0;

}

.iphone_wrap{
  position:absolute;
  width: 600px;
  height: 936px;
}

.home_image_container .iphone_wrap:first-of-type{
  top: 0;
  right: -104px;
}

.home_image_container .iphone_wrap:last-of-type{
  bottom:0;
  left:-104px; 
}

.iphone_wrap .image_item1{
  position:absolute;
  top: 10%;
  left: 22.5%;
  width: 57%;
  height: auto;
}

.iphone_wrap .image_item2{
  position:absolute;
  top: 10%;
  left: 22.5%;
  width: 57%;
  height: auto;
}

.iphone_wrap .image_item3{
  position:absolute;
  top: 10%;
  left: 22.5%;
  width: 57%;
  height: auto;
}
.iphone_wrap .image_iphone{
  position:relative;
  width: 100%;
  height: 100%;
}


.home_text2{
  position:absolute;
  bottom: 166px;
  right: 0;
}

.home_text h1{
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
  color: #3182f6;
  margin-bottom: 30px;
}

.home_text h2{
  font-size: 50px;
  font-weight: 700;
  line-height: 1.4;
  color: #191f28;
}

.home_text2 h3{
  font-size: 23px;
  font-weight: 600;
  line-height: 1.5;
  color: rgb(51, 61, 75)
}

/* home2 section*/
.home2_wrap{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.home2_container{
  width: 100%;
  background-color: white;
  padding: 200px 0;
  
}

.home2_container_inner{
  width: 92%;
  height: 100%;
  max-width: 1140px;
  margin: 0 auto;

}
.home2_flex_container{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.home2_item{
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
}

.home2_item div{
  flex-basis:calc(50% - 30px);
  max-width: calc(50% - 30px);
}

.home2_content{
  margin-left: 40px;
}

.home2_image_container{
  margin-right: 40px;
}

.home2_image_container img{
  width: 100%;
}

.home2_textwrap h1{
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
  color: #3182f6;
  margin-bottom: 30px;
}

.home2_textwrap h2{
  font-size: 50px;
  font-weight: 700;
  line-height: 1.4;
  color: #191f28;
}

.home2_textwrap h2:last-of-type{
  margin-bottom: 80px;
}

.home2_content h1{
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: rgb(49, 130, 246);
}

.home2_content h2{
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
  color: rgb(51, 61, 75);
}

.home2_content h2:last-of-type{
  margin-bottom: 30px;
}

.home2_content h3{
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  color: rgb(107, 118, 132);
}
/* home3 section */

.home3_wrap{
  width: 100%;
  height: 100%;
}

.home3_container{
  width: 100%;
  padding: 200px 0;
}

.home3_container_inner{
  width: 92%;
  max-width:1140px ;
  margin: 0 auto;
  position: relative;
}

.home3_image_conatiner{
  position: absolute;
  top: -10%;
  right:50%;
}

.home3_container h1{
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
  color: #3182f6;
  margin-bottom: 20px;
}

.home3_container h2{
  font-size: 50px;
  font-weight: 700;
  line-height: 1.4;
  color: #191f28;
}

.home3_container span{
  display:inline;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
  color: rgb(51, 61, 75);
}

.home3_container .gray_text{
  color: #8b95a1;
}

.home3_container .light_gray_text{
  color: #d1d6db
}

.home3_container p{
  font-size: 23px;
  font-weight: 600;
  line-height: 1.5;
  color: rgb(51, 61, 75);
}

.home3_textwrap2{
  margin-top: 200px;
}

.home3_textwrap2 p:first-of-type{
  margin-top: 40px;
}

/* home4 section */

