* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}
body {
    font-family: -apple-system;
    font-size: 10px;
}

h1 {
    font-size: 4.8rem;
    line-height: 1.3;
    margin-bottom: 3.2rem;
    letter-spacing: -0.4px;
    font-weight: 700;
}

p {
    font-size: 1.6rem !important;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color : #212529;
    display: block;
}


a {
    text-decoration: none;
    color: 
}

ul , ol , li {
    list-style: none;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

button {
    border: none;
    background-color: inherit;
    font-family: -apple-system;
    margin: 0 0;
}


/* header */

.header {
    display: flex;
    height: 6.4rem;
}

.header.container {
    max-width: 1200px;
        margin: 0 auto;
}

.header--left {
    display: flex;
    width: 65%;
    justify-content: start;
    align-items: center;
}

.nav__list {
    display: flex;
    flex-direction: row;

}

.nav__item{
    line-height: 1.32;
    font-size: 1.8rem;
    letter-spacing: -2%;
    margin-right: 3rem;
    color: #4D5159;
    font-weight: 700;   
}

.nav__item:hover {
    color: #868b94;
    cursor: pointer;
}

.nav__item.active {
    color: #fa6616;
    cursor: pointer;
}

.header--left > a > img {
    width: 100px;
    height: 28px;
    margin-right: 4rem;
    
}

.header--right {
    display: flex;
}

.header__input {
    height: 4.0rem;
    line-height: 1.36;
    font-size: 1.6rem;
    width: 28.8rem;
    border: none;
    background-color: rgb(242,243,246);
    margin : 1.6rem 0;
    padding : 0.9rem 1.2rem;
    border-radius: 8px;
    color : #212124;
    margin-right : 1.2rem;
    opacity: 0.8;

}

.btn--chat {
    height: 4.0rem;
    line-height: 1.3;
    font-size: 1.6rem;
    letter-spacing: -2%;
    display: block;
    white-space: nowrap;
    background-color: #ffffff;
    color: #212124;
    margin: 1.6rem 0;
    padding: 0.8rem 1.6rem;
    border: 1px solid #d1d3d8;
    border-radius: 0.4rem;
}

.btn--chat:hover {
    background-color: #f2f3f6;
    opacity: .7;
    cursor: pointer;
}

/* main__home--first */

.main__home--first.container {
    max-width: 1200px;
        margin: 0 auto;
}

.home--first {
    background-color: #FBF7F2;
}

.home__title--first {
    padding-top: 27rem;
}

.main__home--first{
    display: flex;
    justify-content: space-between;
}

.home__img--first {
    width: 80.4rem;
    height: 68.5rem;
}

/* main__home--second */
.home--second{
    padding: 6rem 0;
}
.main__home--second {
    display: flex;
    justify-content: space-between;
}

.home__title--second {
    font-size: 4rem;
    padding-top: 27rem;
}

.home__img--second {
    width: 53rem;
    height: 68.4rem;
}

.home__desc--second{
    margin-bottom: 3.2rem;
}


.btn--feat1 {
    background-color: #F1F3F5;
    color: #212529;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    padding: 1.45rem 2.6rem;
    display: inline-block;
    margin-left: 1.6rem;
    font-size: 1.8rem !important;
    line-height: 1.47;
    letter-spacing: -0.3px;
    font-weight: bold;
    margin: 0 0;
}

.btn--feat2 {
    background-color: #F1F3F5;
    color: #212529;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    padding: 1.45rem 2.6rem;
    display: inline-block;
    margin-left: 1.6rem;
    font-size: 1.8rem !important;
    line-height: 1.47;
    letter-spacing: -0.3px;
    font-weight: bold;
}

.btn--feat1:hover , .btn--feat2:hover{
    background-color: #E9ECEF;
    cursor: pointer;
}

/* main__home--third */

.home--third {
    background-color: #e6f3e6;
    padding:6rem 0;
}
.main__home--third {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home__content--third{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.home__img--third {
    width: 54rem;
    height: 74rem;
}

.home__story__list {
    display: flex;
}

.home__title--third {
    font-size: 4rem;
    line-height: 1.35;
    margin-bottom: 2.4rem;
    font-weight: 700;
    color: #212529;
    margin-bottom: 2.4rem;
}

.home__desc--third {
    margin-bottom: 4rem;
}

.story__item{
    margin-right: 4rem;
    margin-left: 0;
    max-width: 14rem;
    margin: 1.6rem;
}
.story__item__title{
    margin-bottom: 0.8rem;
    margin-top: 1.6rem;
    font-size: 1.4rem !important;
    line-height: 1.5;
    font-weight: bold;
}

.story__item__desc {
    font-size: 1.3rem !important;
    line-height: 1.5;

}

/* home--fourth */

.main__home--fourth {
    display: flex;
    justify-content: space-between;
    padding: 6rem 0;
}

.home__img--fourth {
    width: 52rem;
    height: 73rem;
}

.home__content--fourth {
    padding-top: 27rem;
}

.home__title--fourth {
    margin-bottom: 2.4rem;
}

.home__desc--fourth{
    margin-bottom: 3.2rem;
}

.btn--feat3 {
    background-color: #F1F3F5;
    color: #212529;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    padding: 1.45rem 2.6rem;
    display: inline-block;
    font-size: 1.8rem !important;
    line-height: 1.47;
    letter-spacing: -0.3px;
    font-weight: bold;
}

