@import "general.css"; 

/* HEADER */
header {
  position: fixed;
  background-color: rgba(255,255,255,0);
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgba(255,255,255,.2);
  z-index: 999;
}
header > .inner {
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  gap: 102px;
  margin: 0 auto;
  z-index: 9;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 100%;
}
.gnb {
  display: flex;
  gap: 0 48px;
}
.gnb li {
}
.gnb li > a {
  color: #FFF;
}
.gnb li > a:hover {
  font-weight:700;
  cursor: pointer;
}
.down {
  background-color:#fff;
  color: #222;
  -webkit-transition-duration:0.4s;
  -webkit-transition-timing-function:ease;
  transition-duration:0.4s;
  transition-timing-function:ease;
}

/* VISUAL */
.visual {
  background-image: url("../imges/visual_main.gif");
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 670px;
  background-size: cover;
  overflow: hidden;
  background-position: 50% 0;
  background-repeat:no-repeat;
  background-attachment: fixed;
}
.visual::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.4);
}
.visual .inner {
  height: 100%;
}
.visual_text {
  z-index:2;
  padding-left: 104px;
  position: absolute;
  left: 50%;
  bottom: 14%;
  width: 1224px;
  transform: translateX(-50%);
  color: #fff;
  font-size: 56px;
}
.visual_txt .title {
  z-index: 6;
  font-weight: 700;
  line-height: 72px;
}
.visual_txt .description {
  z-index: 10;
  margin-top: 32px;
  font-size: 18px;
  line-height: 24px;
}



/* MAIN */

/* 러쉬 앱 소개 */
.lush_app {
  padding-top: 100px;
  background-color: #fff;
}
.lush_app .inner {
  width: 100%;
}
.title_area {
  text-align: center;
  font-weight: 700;
}
.title_area h2 {
  font-size: 18px;
  margin-bottom: 24px;
}
.title_area p {
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -2px;
}

.app_service {
  display: flex;
  margin-top: 80px;
  justify-content: center;
  text-align: center;
  gap: 72px;
}
.app_service img {
  width: 288px;
  height: 288px;
}
.app_service .tit {
  margin-top: 24px;
  font-weight: 700;
}
.app_service .explain {
  margin-top: 8px;
  line-height: 23px;
}


/* 설문조사 - simple-parallax */
.survey {
  position: relative;
  margin: 176px auto 0 auto;
  width: 100%;
  min-width: 1224px;
  max-width: 1432px;
  height: 362px;
  overflow: hidden;
}
.survey::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, .4);
}
.survey .survey-thumbnail {
  object-fit: cover;
  height: 362px;
}
.survey .title_area {
  z-index: 5;
  position: absolute;
  color: #FFF;
  top: 50% ;
  left: 14.6% ;
  transform: translateY(-50%);
}
.survey .tit {
  font-size: 18px;
  margin-bottom: 24px;
  text-align: left;
}
.survey .description {
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -2px;
}
.survey .btn_white {
}


/* 러쉬소개 - SWIPER */
.lush_info {  
  margin-top:176px;
  position: relative;
  overflow: hidden;
}
.lush_info .inner {  
  clip-path:inset( 0 -100vw 0 0 ); 
  overflow: hidden;
}
.lush_info__title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 18px;
}
.lush_info .swiper {
  width: 100%;
  height: 100%;
  overflow: inherit;
  align-items: center;
}
.lush_info .swiper-wrapper {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
  align-items: center;
  gap:130px;
}
.lush_info .swiper-slide {
  width:auto;
  
}
.lush_info .swiper-slide figure {
  overflow: hidden;
  position: relative;  
  
}
.lush_info .swiper-slide figure img {
  transition: all ease-in-out .3s;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.lush_info .txt {
    display: flex;
    z-index: 9;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    padding: 32px;
    text-indent: -15px;
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -1px;
    opacity: 0;
}


.lush_info .info figure {
  width:392px;
  height:560px;
}
.lush_info .his figure {
  width:288px;
  height:320px;
  margin-right: -104px;
}
.lush_info .val figure {
  width:392px; 
  height:436px;
}
.lush_info .bran figure {
  width:392px;
  height:560px;
}



.lush_info .swiper-slide > a {
  color: #222;
}
.lush_info .swiper-slide h3 {
  margin-top:32px; font-weight:700;
} 
.lush_info .swiper-slide .explain {
  margin-top:8px; line-height:24px; letter-spacing: -0.5008px;
} 


/* 기부와 나눔 */
.lush_share {
  margin-top: 155px;
}
.lush_share .inner {
 display: flex;
 gap : 64px;
 justify-content: center;
 
}
.share-thumbnail {
  object-fit: cover;
  width: 600px;
  height: 408px;
  
}
.lush_share .title {
  font-weight: 700;
}
.lush_share .title h2 {
  margin-bottom: 32px;
  font-size: 18px;
}
.lush_share .title p {
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -2px;
}
.lush_share .btn {
  margin-top: 48px;
}


/* 카테고리 */



/* 매장 찾기 */
.shop {
  margin-top: 155px;
}
.shop .inner {
  display: flex;
 gap : 64px;
 justify-content: center;
}
.shop-thumbnail {
  object-fit: cover;
  width: 807px;
  height: 560px;
}
.shop .title {
  font-weight: 700;
}
.shop .title h2 {
   margin-bottom: 32px;
  font-size: 18px;
}
.shop .title p {
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -2px;
}
.shop .title .btn {
  margin-top: 48px;
}
