body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


#home-main-top {
    display: flex; /* Flexbox를 사용하여 요소들을 옆으로 정렬 */
    align-items: center;/* 요소들을 수직 가운데 정렬 */
    padding-top: 24px;
    background-color: #FBF7F2;
}

.home-main-desc {
    flex: 1; /* 텍스트가 행 전체를 차지하도록 설정 */
    padding: 0 20px; /* 텍스트와 이미지 사이의 간격 설정 */
}

.home-main-title {
    font-size: 48px;
    margin-left: 160px;
}

.text-m {
    margin-left: 160px;
    margin-top: 20px; 
    color: #212529;
    font-size: 16px;
}

.home-main-image-top {
    flex: 1; /* 이미지가 행 전체를 차지하도록 설정 */
    padding-top: 40px; /* 이미지와 섹션 상단 간격 설정 */
    padding-bottom: 40px;
    width: 804px;
    height: 685px;
}



#home-main-section-middle1 {
    display: flex; /* Flexbox를 사용하여 요소들을 옆으로 정렬 */
    align-items: center;/* 요소들을 수직 가운데 정렬 */
    padding-top: 24px;
    background-color: #ffffff;
}

.home-main-image-top2 {
    flex: 1;
    width: 532px;
    height: 684px;
    margin-left: 100px;
}


.home-main-desc2 {
    flex: 1;
    margin-right: 110px;
}

.home-main-title2 {
    font-size: 40px;
    margin-right: 200px;
    font-weight: 600;
}

.text-m2 {
    color: #212529;
}
.popularItem-button {
    margin-top: 10px;
    border: none;
    padding: 18px 25px; /* 채팅하기 버튼의 패딩 설정 */
    color: black; /* 버튼 텍스트 색상 설정 */
    background-color: #F1F3F5;
    border-radius: 6px; /* 버튼 테두리 둥글게 설정 */
    cursor: pointer; /* 커서 스타일 변경 */
    font-size: 17px;
    font-weight: 550;
}

.trustDeal-button {
    margin-left: 10px;
    border: none;
    padding: 18px 25px; /* 채팅하기 버튼의 패딩 설정 */
    color: black; /* 버튼 텍스트 색상 설정 */
    background-color: #F1F3F5;
    border-radius: 6px; /* 버튼 테두리 둥글게 설정 */
    cursor: pointer; /* 커서 스타일 변경 */
    font-size: 17px;
    font-weight: 550;
}