@keyframes showAnimaiton {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scrollAnimation {
    0% {
        transform: translate(-50%, -50%);
        opacity: 0;
    }
    25% {
        transform: translate(-50%, 0%);
        opacity: 1;
    }
    50% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    75% {
        transform: translate(-50%, 0%);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 0;
    }
}

@keyframes showTopAnimation {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes loanAnimation {
    0% {
        opacity: 0;
    }
    3% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    33% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
