// font color

$white: #fff;

$black: #000;
$black28: #191f28;

$blueF6: #3182f6;

$grey4B: #333D4B;
$greyA1: #8b95a1;
$greyDB: #d1d6db;
$grey68: #4E5968;
$greyC1: #b0b8c1;
$greyFB: #f9fafb;
$grey84: #6B7684;

$navHover: rgba(2, 32, 71, 0.05);
