html {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;

  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  // letter-spacing: 0.02rem;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
