@import "./utils";
$color-primary: royalblue;
$body-font: "S-CoreDream-3Light", Arial, Helvetica, sans-serif;
$venti: "VentiCF", sans-serif;
$mango: "Mango", "Helvetica Neue";
$font-color: #d3ceb9;
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
html,
body {
  font-family: $body-font;
  background-color: #2e353d;
  color: $font-color;
}
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mango";
  src: local("VentiCF Light"), local("VentiCF-Thin"),
    url("../../static/fonts/Mango.woff2") format("woff2"),
    url("../../static/fonts/Mango.woff") format("woff"),
    url("../../static/fonts/Mango.eot") format("eot");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "VentiCF";
  src: local("VentiCF Light"), local("VentiCF-Thin"),
    url("../../static/fonts/VentiCF-Light.woff2") format("woff2"),
    url("../../static/fonts/VentiCF-Light.woff") format("woff"),
    url("../../static/fonts/VentiCF-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "VentiCF";
  src: local("VentiCF Medium"), local("VentiCF-Medium"),
    url("../../static/fonts/VentiCF-Medium.woff2") format("woff2"),
    url("../../static/fonts/VentiCF-Medium.woff") format("woff"),
    url("../../static/fonts/VentiCF-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.inner-container {
  width: 100%;
  max-width: 1400px;
  position: relative;
  margin: 0 auto;
  padding: 0 50px;
}
.grid-container {
  display: grid;
}
.txt-center {
  text-align: center;
}
.flex-row {
  display: flex;
  &.space-between {
    justify-content: space-between;
  }
  &.align-center {
    align-items: center;
  }
}
.heading-1 {
  font-size: 180px;
  font-family: "Mango", "Helvetica Neue";
}

.heading-2 {
  font-size: 140px;
  font-family: "Mango", "Helvetica Neue";
}
.heading-3 {
  font-size: 120px;
  font-family: "Mango", "Helvetica Neue";
}
.heading-4 {
  font-size: 100px;
  font-family: "Mango", "Helvetica Neue";
}
.heading-5 {
  font-size: 20px;
  font-family: "VentiCF", sans-serif;
  font-weight: 400;
  letter-spacing: 0.04em;
}
.pc-show {
  @include mobile {
    display: none;
  }
}
.link-text {
  font-size: 15px;
  font-family: $venti;
  font-weight: 400;
  letter-spacing: 0.16em;
  color: $font-color;
}
.link-text + .link-arrow {
  margin-top: 20px;
}
.link-arrow {
  width: 20px;
  height: 1px;
  background-color: $font-color;
  display: block;
  position: relative;
  &::before {
    content: "";
    display: block;
    width: 5px;
    height: 1px;
    background-color: $font-color;
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: right top;
    transform: rotate(-50deg);
  }
  &::after {
    content: "";
    display: block;
    width: 5px;
    height: 1px;
    background-color: $font-color;
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: right bottom;
    transform: rotate(50deg);
  }
}
