/*변수*/
$red: #fa5252;
$color-primary: royalblue;
$body-font: "S-CoreDream-3Light", Arial, Helvetica, sans-serif;
$venti: "VentiCF", sans-serif;
$mango: "Mango", "Helvetica Neue";
$font-color: #d3ceb9;
