* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.hidden {
  display: none;
}

button {
  border: none;

  background-color: transparent;
  color: #171A20;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #171A20;
}

.white {
  color: #F9F8F8;
}

.black{
  color: #171A20;
}