#header {
  height: 60px;
  width: 100vw;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: 1;

  animation-name: fadeIn;
  animation-duration: 1s;
}

#header #header-logo {
  padding-left: 32px;
}

#header #header-logo svg {
  width: 148px;
  height: 48px;

  padding: 0px 16px;

  color: #f9f8f8;
}

.site-nav-products {
  width: 620px;

  margin-left: 80px;
  padding: 0px 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav-items {
  width: 250px;
  line-height: 27px;

  padding-right: 32px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header ol a {
  padding: 4px 8px;
  transition: 0.4s;
}

header ol a:hover,
.site-nav-items-menu:hover,
.menu-items li:last-child:hover,
.menu-close-icon:hover {
  border-radius: 3px;
  background-color: #b3b9bc4b;
}

.site-nav li span {
  margin: 0px 8px;

  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 450;
  letter-spacing: 0.5px;
  color: #f9f8f8;
}

.site-nav-items-menu {
  padding: 4px 8px;

  font-size: 14px;
  cursor: pointer;

  transition: 0.4s;
}

@media (max-width: 1200px) {
  .site-nav-products,
  .site-nav-items li:nth-of-type(1),
  .site-nav-items li:nth-of-type(2) {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
