.snappin-box-text {
  max-width: 400px;

  position: absolute;
  top: 14%;

  text-align: center;
}

.snappin-box-text h2 {
  font-size: 42px;

  letter-spacing: 3px;
  font-weight: 600;
  color: #f9f8f8;

  animation-name: fadeInUp;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.snappin-box-text:first-child h2 {
  color: #171a20;
}

.snappin-box-text p {
  padding: 7px 0;

  font-size: 14px;
  color: #f9f8f8;

  animation-name: fadeInUp;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.snappin-box-text:first-child p {
  color: #171a20;
}

.snappin-box-text a {
  text-decoration: underline;
  text-underline-position: under;
}
