@import "./utils";
/* -------------------------- 메인 비주얼 영역 -------------------------- */
.main-visual {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  @include mobile {
    height: 500px;
  }
  .main-visual--swiper {
    height: 100%;
    .swiper-slide {
      /* 동영상 배경 스타일 */
      .video-bg {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
        iframe {
          position: absolute;
          top: 0;
          left: calc(50% - 88.88885vh);
          width: 177.7777vh;
          height: 100%;
        }
      }

      /* 각 슬라이드 내부 배경 스타일 */
      .slide-bg {
        height: 100%;
        width: 100%;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        &.slide01 {
          background-image: url(../../static/images/main-visual-01.jpg);
        }
        &.slide02 {
          background-image: url(../../static/images/main-visual-02.jpg);
        }
        &.slide03 {
          background-image: url(../../static/images/main-visual-03.jpg);
        }
        &.slide04 {
          background-image: url(../../static/images/main-visual-04.jpg);
        }
        &.slide05 {
          background-image: url(../../static/images/main-visual-05.jpg);
        }
        &.slide06 {
          background-image: url(../../static/images/main-visual-06.jpg);
        }
        &.slide07 {
          background-image: url(../../static/images/main-visual-07.jpg);
        }
        &.slide08 {
          background-image: url(../../static/images/main-visual-08.jpg);
        }
        &.slide09 {
          background-image: url(../../static/images/main-visual-09.jpg);
        }
        &.slide10 {
          background-image: url(../../static/images/main-visual-10.jpg);
        }
        &.slide11 {
          background-image: url(../../static/images/main-visual-11.jpg);
        }
        &.slide12 {
          background-image: url(../../static/images/main-visual-12.jpg);
        }
        &.slide13 {
          background-image: url(../../static/images/main-visual-13.jpg);
        }
        &.slide14 {
          background-image: url(../../static/images/main-visual-14.jpg);
        }
        &.slide15 {
          background-image: url(../../static/images/main-visual-15.jpg);
        }
        &.slide16 {
          background-image: url(../../static/images/main-visual-16.jpg);
        }
        &.slide17 {
          background-image: url(../../static/images/main-visual-17.jpg);
        }
      }
    }

    /* swiper-controls - prev, next 버튼 스타일 */
    .swiper-controls {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      z-index: 1;
      // @include mobile {
      //   display: none;
      // }
      :is(.swiper-controls__prev-btn, .swiper-controls__next-btn) {
        border-top: 1px solid rgba(255, 255, 255, 0.35);
        position: absolute;
        width: 200px;
        top: 0;
        padding-top: 17px;
        font-family: $venti;
        font-weight: 500;
        font-size: 18px;
        color: #fff;
        cursor: pointer;
        box-sizing: border-box;
        @include mobile {
          width: 50px;
          padding-top: 10px;
          font-size: 12px;
        }
        &:hover::before {
          transform: scaleX(1);
        }
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          top: -1px;
          height: 2px;
          background-color: #fff;
          transform: scaleX(0.4);
          transition: transform 0.6s;
        }
      }
      .swiper-controls__prev-btn {
        left: 0;
        text-align: right;
        padding-right: 25px;
        @include mobile {
          padding-right: 5px;
        }
        &::before {
          right: 0;
          transform-origin: right;
        }
      }

      .swiper-controls__next-btn {
        right: 0;
        padding-left: 25px;
        @include mobile {
          padding-left: 5px;
        }
        &::before {
          left: 0;
          transform-origin: left;
        }
      }
    }
  }
}
.main-visual__fixed {
  position: absolute;
  width: 100%;
  bottom: 80px;
  left: 0;
  z-index: 1;
  h2 {
    letter-spacing: 0.28em;
    color: #fff;
  }
  h3 {
    color: #fff;
    margin-top: 14px;
    margin-bottom: 20px;
    @include mobile {
      margin-top: 6px;
    }
  }
  @include mobile {
    bottom: 30px;
    .inner-container {
      display: none;
    }
  }
  .watch-link {
    font-size: 20px;
    color: white;
    font-family: $venti;
    font-weight: 300;
    padding: 15px;
    display: block;
    &:hover {
      .circle::after {
        transform: translate(-50%, -50%) scale(1);
      }
    }
    .circle {
      width: 8px;
      height: 8px;
      display: inline-block;
      background-color: #fff;
      border-radius: 50%;
      position: relative;
      margin-right: 10px;
      top: -3px;

      &::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        border: 1px solid #fff;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform-origin: center center;
        transform: translate(-50%, -50%) scale(0);
        transition: transform 0.6s;
      }
    }
  }

  .sns-list {
    display: flex;
    li + li {
      margin-left: 20px;
    }
  }
}

/* -------------------------- The Concept 영역 -------------------------- */

.the-concept {
  padding-top: 220px;
  padding-bottom: 215px;
  overflow: hidden;
  @include mobile {
    padding-top: 60px;
    padding-bottom: 70px;
  }
  /* 상단 타이틀 + 이미지 슬라이드 */
  .the-concept__top-content {
    grid-template-columns: 16.42% 66.8% 16.78%;
    row-gap: 150px;
    grid-template-areas:
      "conceptTitle conceptTitle conceptBtns"
      "conceptSlideBtns conceptSlideWrap conceptSlideWrap";
    @include mobile {
      display: flex;
      flex-direction: column;
      row-gap: unset;
    }
    @include tablet {
      grid-template-columns: 24% 50% 26%;
    }
    @include laptop {
      grid-template-columns: 21.5% 52.5% 26%;
    }
  }
  .the-concept__title {
    grid-area: conceptTitle;
    p {
      font-size: 16px;
      letter-spacing: 0.04em;
      padding-left: 40px;
      line-height: 1.4;
      @include mobile {
        margin-top: 15px;
        margin-bottom: 30px;
        padding-left: 0;
        font-size: 13px;
        line-height: 1.6;
      }
    }
  }
  .the-concept__top-btns {
    display: flex;
    align-items: center;
    grid-area: conceptBtns;
    font-family: $venti;
    font-size: 18px;
    font-weight: 300;
    align-self: start;
    transition: 0.8s;
    cursor: pointer;
    @include mobile {
      display: none;
    }
    &:hover {
      color: #fff;
      .line::after {
        transform: scaleX(1);
        background-color: #fff;
      }
    }
    a {
      line-height: 1;
      padding-top: 7px;
      margin-right: 45px;
    }
    .line {
      position: relative;
      width: 125px;
      height: 1px;
      background-color: #d3ceb9;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-origin: left;
        transform: scaleX(0);
        transition: 0.8s;
      }
    }
  }
  .the-concept__img-slide-btns {
    grid-area: conceptSlideBtns;
    align-self: end;
    padding-left: 50px;
    position: relative;
    @include mobile {
      margin-top: 5px;
      order: 2;
    }
    &::after {
      content: "";
      position: absolute;
      top: 5px;
      width: 1px;
      height: 18px;
      left: 92px;
      background-color: $font-color;
      @include mobile {
        top: 4px;
        left: 76px;
        height: 12px;
      }
    }
    .the-concept__prev-btn,
    .the-concept__next-btn {
      border: 0;
      color: $font-color;
      background: transparent;
      font-size: 22px;
      width: 40px;
      cursor: pointer;
      @include mobile {
        font-size: 17px;
        width: 24px;
      }
    }
  }
  .the-concept__img-slide-wrap {
    grid-area: conceptSlideWrap;
    .the-concept__img-swiper .swiper-slide {
      height: 400px;
      @include mobile {
        height: 200px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  /* 하단 이미지 + 설명글 */
  .the-concept__bottom-content {
    margin-top: 190px;
    position: relative;
    @include mobile {
      margin-top: 100px;
      display: block;
    }
    .img-wrap {
      width: 41.79%;
      @include mobile {
        width: 80%;
      }
      img {
        width: 100%;
      }
    }
    figcaption {
      width: 58.21%;
      padding-left: 5.36%;
      @include mobile {
        width: 100%;
        padding-left: 0;
        position: relative;
        top: -20px;
      }
      h2 {
        height: 1em;
        margin-bottom: 50px;
        white-space: nowrap;
        transition: 1.6s;
        @include mobile {
          margin-bottom: 20px;
          margin-left: 33%;
        }
      }
      p {
        margin-bottom: 40px;
        letter-spacing: 0.04em;
        line-height: 2;
        @include mobile {
          font-size: 13px;
          margin-bottom: 20px;
        }
      }
      .the-concept__lint-btn {
        position: absolute;
        bottom: 45px;
        right: 0;
        width: 180px;
        height: 180px;
        border: 1px solid $font-color;
        border-radius: 50%;
        padding-left: 95px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 0.8s;
        &:hover {
          padding-left: 130px;
        }
        @include mobile {
          position: static;
          width: 100px;
          height: 100px;
          padding-left: 20px;
        }
        @include tablet {
          bottom: -160px;
        }
        @include laptop {
          bottom: -80px;
        }
      }
    }
  }
}

/* -------------------------- the-poolvilla 영역 -------------------------- */

.the-poolvilla {
  padding-top: 125px;
  padding-bottom: 200px;
  background-color: #171b24;
  position: relative;
  @include mobile {
    padding-top: 100px;
    padding-bottom: 80px;
  }
  .the-poolvilla__title {
    position: relative;
    z-index: 1;
    text-align: center;
  }
  .the-poolvilla__img-area {
    grid-template-columns: 13.4% 17% 55% 2% 12%;
    grid-template-areas:
      ". poolCenter poolCenter poolCenter ."
      "poolLeft poolLeft poolTxt poolRight poolRight";
    @include mobile {
      display: block;
      position: relative;
    }
    @include tablet {
      grid-template-columns: 42% 39% 20%;
      grid-template-areas:
        "poolCenter poolCenter poolCenter"
        "poolLeft poolTxt poolRight";
    }
    img {
      vertical-align: top;
      max-width: 100%;
    }
    .the-poolvilla__img-area__center {
      grid-area: poolCenter;
      margin-top: -60px;
      @include mobile {
        margin-top: -25px;
      }
    }
    .the-poolvilla__img-area__left {
      grid-area: poolLeft;
      margin-top: -125px;
      @include mobile {
        margin-top: 0;
        position: absolute;
        left: 0;
        top: 170px;
        width: 150px;
      }
    }
    .the-poolvilla__img-area__txt {
      grid-area: poolTxt;
      padding: 100px 0 0 130px;
      @include mobile {
        padding: 100px 0 0 0;
      }
      @include tablet {
        padding: 100px 0 0 0;
      }
      h3 {
        font-family: $body-font;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 40px;
        letter-spacing: 0.04em;
        @include mobile {
          font-size: 15px;
        }
      }
      p {
        line-height: 1.8;
        color: #fff;
        font-size: 15px;
        @include mobile {
          font-size: 13px;
        }
      }
    }
    .the-poolvilla__img-area__right {
      grid-area: poolRight;
      @include mobile {
        margin-top: 0;
        position: absolute;
        right: 0;
        top: 200px;
        width: 80px;
      }
    }
  }
  .the-poolvilla__link-btn {
    display: flex;
    position: absolute;
    bottom: -95px;
    right: 220px;
    width: 140px;
    height: 140px;
    border: 1px solid #d3ceb9;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    @include mobile {
      position: static;
      width: 80px;
      height: 80px;
      margin-top: 30px;
    }
  }
}

/* -------------------------- the-poolvilla 영역 -------------------------- */
.the-offers {
  position: relative;
  padding-top: 125px;
  padding-bottom: 250px;
  @include mobile {
    padding-top: 60px;
    padding-bottom: 150px;
  }
  .inner-container {
    @include mobile {
      padding: 0;
      width: calc(100% - 50px);
      overflow: hidden;
    }
    @include tablet {
      padding: 0;
      width: calc(100% - 50px);
      overflow: hidden;
    }
  }
  .the-offers__title {
    text-align: center;
    margin-bottom: 165px;
    @include mobile {
      margin-bottom: 65px;
    }
    @include tablet {
      margin-bottom: 65px;
    }
  }
  .the-offers__img-swiper {
    overflow: hidden;
    @include mobile {
      overflow: visible;
    }
    @include tablet {
      overflow: visible;
    }
    .swiper-wrapper {
      height: 440px;
      margin-left: -80px;
      @include mobile {
        height: 150px;
        margin-left: 0;
        overflow: visible;
      }
      @include tablet {
        height: 150px;
        margin-left: 0;
        overflow: visible;
      }
    }
    .swiper-slide {
      width: 17.5%;
      padding: 0 15px;
      height: 200px;
      transition: height 0.8s;
      &.swiper-slide-prev,
      &.swiper-slide-next {
        height: 285px;
      }
      &.swiper-slide-active {
        width: 30%;
        height: 440px;
      }
      @include mobile {
        width: auto;
        padding: 0;
        height: 150px;
        &.swiper-slide-prev,
        &.swiper-slide-next {
          height: 150px;
        }
        &.swiper-slide-active {
          width: auto;
          height: 150px;
          transform: scale(1.5);
          z-index: 1;
          transition: 0.6s;
        }
      }
      @include tablet {
        width: auto;
        padding: 0;
        height: 150px;
        &.swiper-slide-prev,
        &.swiper-slide-next {
          height: 150px;
        }
        &.swiper-slide-active {
          width: auto;
          height: 150px;
          transform: scale(1.5);
          z-index: 1;
          transition: 0.6s;
        }
      }
      > div {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
      }
      .the-offers__slide-bg01 {
        overflow: hidden;
        width: 100%;
        position: relative;
        video {
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .the-offers__slide-bg01 {
        background-image: url("../../static/images/special-01.jpg");
      }
      .the-offers__slide-bg02 {
        background-image: url("../../static/images/special-02.jpg");
      }
      .the-offers__slide-bg03 {
        background-image: url("../../static/images/special-03.jpg");
      }
      .the-offers__slide-bg04 {
        background-image: url("../../static/images/special-04.jpg");
      }
      .the-offers__slide-bg05 {
        background-image: url("../../static/images/special-05.jpg");
      }
      .the-offers__slide-bg06 {
        background-image: url("../../static/images/special-06.jpg");
      }
      .the-offers__slide-bg07 {
        background-image: url("../../static/images/special-07.jpg");
      }
    }
  }
  .the-offers__desc {
    margin-top: 35px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    @include mobile {
      margin-top: 70px;
      font-size: 13px;
    }
    @include tablet {
      margin-top: 70px;
    }
  }
  .the-offers__line {
    position: relative;
    border-bottom: 1px solid #474c4f;
    margin-top: 124px;
    @include mobile {
      margin-top: 70px;
    }
    @include tablet {
      margin-top: 70px;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 300px;
      height: 1px;
      background-color: $font-color;
      transform: translateX(-50%);
      @include mobile {
        width: 150px;
      }
      @include tablet {
        width: 150px;
      }
    }
  }
}
