.section05 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: auto;
  padding: 250px 0;
}

.section05__container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 1140px;
}

.section05__inner-container-01 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.section05__title-container {
  display: flex;
  flex-direction: column;
  width: auto;
  opacity: 0;
  transition: all 1s;
}

.section05__title-container > h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
  color: #3182f6;
  margin-bottom: 20px;
}

.section05__title-container > h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.4;
}

.section05__image-container {
  position: relative;
  width: 400px;
  height: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: 0;
  transition: all 0.5s;
  transition-delay: 0.2s;
}

.section05__iPhone {
  position: absolute;
  width: 600px;
  height: 936px;
  top: 0px;
  right: -110px;
  z-index: 5;
}

.section05__image {
  position: absolute;
  width: 342px;
  height: 749px;
  top: 15%;
  right: 4.7%;
  z-index: 0;
}

.section05__image-container > img:nth-child(4) {
  animation: changeImage 2s infinite alternate;
}

#section05__desc-01 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
  color: rgb(51, 61, 75);
  opacity: 0;
  transition: all 0.5s;
  transition-delay: 0.2s;
}

#section05__desc-02 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
  color: rgb(51, 61, 75);
  opacity: 0;
  transition: all 0.5s;
  transition-delay: 0.4s;
}

#section05__desc-03 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
  color: rgb(51, 61, 75);
  opacity: 0;
  transition: all 0.5s;
  transition-delay: 0.6s;
}

.section05__sub-desc {
  font-size: 23px;
  font-weight: 600;
  line-height: 1.5;
  color: rgb(51, 61, 75);
  margin-bottom: 0;
  opacity: 0;
  transition: all 0.5s;
  transition-delay: 0.8s;
}

@keyframes changeImage {
  from {
    z-index: 0;
  }
  to {
    z-index: 2;
  }
}
