.section10 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: auto;
  padding: 250px 0;
  background-color: #f9fafb;
}

.section10__container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 92%;
  max-width: 1140px;
}

.section10__title-container {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
  opacity: 0;
  transition: all 1s;
}

.section10__title {
  color: #3182f6;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 20px;
}

.section10__subtitle {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.4;
}

.section10__detail-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.section10__detail {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  margin-bottom: 100px;
}

.section01__detail-name {
  max-width: 350px;
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
  color: #333d4b;
}

.section10__detail-desc {
  max-width: 335px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  color: #8b95a1;
}

#section10__image {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  width: 120px;
  height: 120px;
  margin-bottom: 30px;
}

#section10__image > img {
  width: 50%;
}
