.section11 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: auto;
  padding: 100px 0 250px 0;
  background-color: #000000;
}

.section11__container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.section11__image {
  width: 100%;
}

.section11__title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  opacity: 0;
  transition: all 1s;
}

.section11__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.4;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
}

.section11__subtitle {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4;
  color: #b0b8c1;
  text-align: center;
  margin-bottom: 200px;
}

.section11__contents-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  opacity: 0;
  transition: all 1s;
  transition-delay: 0.3s;
}

.section11__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25%;
  max-width: 300px;
  margin-left: 20px;
  color: white;
}

.section11__content > h2 {
  margin-bottom: 12px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3;
  color: #fff;
}

.section11__content > p {
  margin-bottom: 38px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
  color: #b0b8c1;
}

.section11__content > button {
  background-color: #3182f6;
  border-radius: 5px;
  color: white;
  text-align: center;
  cursor: pointer;
  border: none;
  font-size: 15px;
  font-weight: 400;
  padding: 12px;
}
