.section08 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 800px;
  margin: none;
  padding: none;
}

.section08__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: url("../assets/images/section08-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section08__image {
  max-height: 800px;
  width: 100vw;
  z-index: 0;
}

.section08__title {
  font-size: 100px;
  font-weight: 700;
  line-height: 1.3;
  color: #f9fafb;
  text-align: center;
  z-index: 3;
}

.section08__margin {
  background-color: white;
  height: 100%;
  width: 25%;
}
