.section06 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: auto;
  padding: 250px 0;
  background-color: #f9fafb;
}

.section06__container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 1140px;
}

.section06__title-container {
  width: 100%;
  height: auto;
  margin-bottom: 80px;
  opacity: 0;
  transition: all 1s;
}

.section06__title {
  color: #3182f6;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 20px;
}

.section06__sub-title {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.4;
}

.section06__desc-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.section06__desc-container > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  height: 500px;
}

.section06__desc-img {
  width: 120px;
  height: 120px;
  margin-bottom: 30px;
  transition: all 1s;
}

.section06__desc-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;
  color: rgb(51, 61, 75);
  margin-bottom: 10px;
}

.section06__desc-detail {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  color: rgb(107, 118, 132);
}
