// Font Size
$font-sm: 1.6rem;
$font-base: 1.8rem;
$font-sub: 2.4rem;
$font-lg: 3.6rem;
$font-xl: 4.8rem;
$font-xxl: 6.4rem;

// Font Weight
$font-normal: 300;
$font-bold400: 400;
$font-bold500: 500;
$font-bold700: 700;

// Colors
$white: #ffffff;
$main-black: #424242;
$main-blue: #123a61;
$yellow: yellow;
$grey300: #e0e0e0;
$grey700: #616161;
$c-btn: rgba(255, 255, 255, 0.8);
