body {
  overflow-x: hidden;
}

.inner {
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin: 0 auto;
}

.section {
  padding-top: 3rem;
}

.header {
  border-bottom: 1px solid #ececec;
  background-color: #fff;
  position: relative;
}
.header .inner {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media all and (max-width: 1024px) {
  .header .inner {
    flex-direction: column-reverse;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 0;
    padding-right: 10px;
  }
  .header .inner:before {
    content: "";
    display: block;
    width: 100%;
    top: 52px;
    left: 0;
    position: absolute;
    height: 1px;
    background-color: #ececec;
  }
}
.header-left {
  display: flex;
  align-items: center;
}
@media all and (max-width: 1024px) {
  .header-left {
    position: relative;
    width: 100%;
  }
}
.header__logo {
  background-size: 103px 20px;
  background-position: 0 0;
  width: 103px;
  height: 15px;
  display: block;
  cursor: pointer;
  background-image: url("../images/logo.png");
  margin-right: 25px;
}
@media all and (max-width: 1024px) {
  .header__logo {
    display: none;
  }
}
.header__nav {
  display: flex;
}
@media all and (max-width: 1024px) {
  .header__nav {
    margin-left: -5px;
    margin-right: -5px;
    padding: 5px 0;
  }
}
.header__nav .link {
  position: relative;
  padding: 0 8px;
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #777;
  line-height: 35px;
  height: 32px;
  text-decoration: none;
  margin-right: 15px;
}
@media all and (max-width: 1024px) {
  .header__nav .link {
    padding: 0 5px;
    font-size: 14px;
    line-height: 34px;
  }
}
.header .plus-wrap {
  position: relative;
  cursor: pointer;
}
.header__plus i {
  background-size: 103px 20px;
  background-position: 0 -16px;
  background-image: url("../images/logo.png");
  width: 18px;
  height: 4px;
  display: block;
}
@media all and (max-width: 1024px) {
  .header__plus {
    display: none;
  }
}
.header .ly_area {
  left: 50%;
  margin-left: -85px;
  min-width: 170px;
  position: absolute;
  top: 23px;
  z-index: 1000;
  padding-top: 17px;
  display: none;
}
.header .ly_area.show {
  display: block;
}
.header .ly_area .ic {
  position: absolute;
  right: 11px;
  top: 10px;
  background-position: -132px -18px;
  width: 14px;
  height: 10px;
  right: 50%;
  margin-right: -7px;
  background-image: url("../images/sp_common.png");
}
.header .ly_area ul {
  border: 1px solid #ececec;
  background-color: #fff;
}
.header .ly_area ul li {
  line-height: 28px;
}
.header .ly_area ul li a {
  display: block;
  padding: 0 21px 0 17px;
  font-size: 13px;
  color: #111;
  line-height: 42px;
  text-decoration: none;
  white-space: nowrap;
}
.header .ly_area .type_lang {
  position: relative;
}
.header .ly_area .type_lang .list_lang {
  display: none;
  margin: 0 -1px -1px;
  padding: 8px 0 9px;
  border: 1px solid #e3e3e3;
  border-top-color: #ececec;
  background-color: #f4f4f4;
}
.header .ly_area .type_lang .list_lang li a {
  color: #777;
  line-height: 29px;
}
.header .ly_area .type_lang .list_lang li.on a {
  font-weight: 700;
  color: #00d084;
}
.header .ly_area .type_lang .list_lang.show {
  display: block;
}
.header .ly_area .type_lang .ico_arr {
  position: absolute;
  right: 17px;
  top: 18px;
  background-position: -120px -32px;
  width: 10px;
  height: 6px;
  background-image: url("../images/sp_common.png");
}
.header .ly_area .type_lang .current_locale.on .ico_arr {
  background-position: -108px -32px;
  width: 10px;
  height: 6px;
}
.header-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
@media all and (max-width: 1024px) {
  .header-right {
    justify-content: space-between;
    align-items: center;
  }
}
.header-right .logo-mobile {
  background-size: 103px 20px;
  background-position: 0 0;
  width: 103px;
  height: 15px;
  display: block;
  cursor: pointer;
  background-image: url(../images/logo.png);
  margin-right: 25px;
}
@media all and (min-width: 1024.02px) {
  .header-right .logo-mobile {
    display: none;
  }
}
.header .search {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 210px;
  height: 32px;
  margin: 0px 5px 0 0;
  border-radius: 100px;
  background-color: #f3f3f3;
  text-align: left;
  vertical-align: top;
}
@media all and (max-width: 1024px) {
  .header .search {
    width: 150px;
  }
}
.header .search input {
  color: rgb(160, 160, 160);
  overflow: hidden;
  position: relative;
  width: 90%;
  height: 32px;
  padding-left: 36px;
  border: 0;
  background: 0 0;
  line-height: 30px;
  line-height: 32px\9 ;
  color: #969696;
  outline: 0;
  z-index: 10;
}
.header .search-inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .search .btn {
  position: absolute;
  left: 1px;
  top: 0;
  display: block;
  overflow: hidden;
  padding: 9px 12px;
}
.header .search .btn .ico {
  background-size: 315px 314px;
  background-position: -75px -256px;
  width: 14px;
  height: 14px;
  display: block;
  background-image: url(../images/sp_grafolio_ratio.png);
}
.header .btn-login {
  display: inline-block;
  min-width: 69px;
  margin-left: 4px;
  padding: 9px 16px 10px 16px;
  border-radius: 100px;
  background-color: #00d084;
  font-size: 13px;
  color: #fff;
  line-height: 16px;
  height: 33px;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
@media all and (max-width: 1024px) {
  .header .btn-login {
    display: none;
  }
}
.header .btn-mobile {
  font-size: 1.6rem;
  display: inline-flex;
  align-items: center;
  color: #666;
}
@media all and (min-width: 1024.02px) {
  .header .btn-mobile {
    display: none;
  }
}

.mobile-menu {
  color: white;
  text-align: center;
  position: absolute;
  left: 100%;
  transition: left 0.3s;
  top: 0;
  width: 100%;
  height: 300px;
  z-index: 1000;
}
.mobile-menu.show {
  left: 0;
}
.mobile-menu .mobile-head {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  height: 53px;
  align-items: center;
}
.mobile-menu .mobile-head .header__logo {
  background-size: 103px 20px;
  background-position: 0 0;
  width: 103px;
  height: 15px;
  display: block;
  cursor: pointer;
  background-image: url("../images/logo.png");
  margin-right: 25px;
}
.mobile-menu .mobile-head .mobile-close {
  background-size: 315px 314px;
  background-position: -186px -197px;
  background-image: url("../images/sp_grafolio_ratio.png");
  width: 17px;
  height: 17px;
}
.mobile-menu .mobile-wrap {
  position: relative;
  cursor: pointer;
  background-color: white;
}
.mobile-menu .mobile-wrap .ly_area {
  width: 100%;
  z-index: 1000;
}
.mobile-menu .mobile-wrap .ly_area.show {
  display: block;
}
.mobile-menu .mobile-wrap .ly_area ul {
  border: 1px solid #ececec;
  background-color: #fff;
}
.mobile-menu .mobile-wrap .ly_area ul li {
  line-height: 28px;
}
.mobile-menu .mobile-wrap .ly_area ul li a {
  display: block;
  padding: 0 21px 0 17px;
  font-size: 13px;
  color: #111;
  line-height: 42px;
  text-decoration: none;
  white-space: nowrap;
}
.mobile-menu .mobile-wrap .ly_area .type_lang {
  position: relative;
}
.mobile-menu .mobile-wrap .ly_area .type_lang .list_lang {
  display: none;
  margin: 0 -1px -1px;
  padding: 8px 0 9px;
  border: 1px solid #e3e3e3;
  border-top-color: #ececec;
  background-color: #f4f4f4;
}
.mobile-menu .mobile-wrap .ly_area .type_lang .list_lang li a {
  color: #777;
  line-height: 29px;
}
.mobile-menu .mobile-wrap .ly_area .type_lang .list_lang li.on a {
  font-weight: 700;
  color: #00d084;
}
.mobile-menu .mobile-wrap .ly_area .type_lang .list_lang.show {
  display: block;
}
.mobile-menu .mobile-wrap .ly_area .type_lang .ico_arr {
  position: absolute;
  right: 17px;
  top: 18px;
  background-position: -120px -32px;
  width: 10px;
  height: 6px;
  background-image: url("../images/sp_common.png");
}
.mobile-menu .mobile-wrap .ly_area .type_lang .current_locale.on .ico_arr {
  background-position: -108px -32px;
  width: 10px;
  height: 6px;
}

.recommend-wrap {
  display: none;
  position: absolute;
  z-index: 99;
  top: 73px;
  left: 0;
  right: 0;
  background: #fff;
  border-top: 1px solid #ececec;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media all and (max-width: 1024px) {
  .recommend-wrap {
    top: 52px;
  }
}
.recommend-wrap.active {
  display: block;
}
.recommend-wrap .recommend {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 30px 20px;
  background: #fff;
  display: flex;
}
@media all and (max-width: 1024px) {
  .recommend-wrap .recommend {
    flex-direction: column;
    padding: 20px;
  }
}
.recommend-wrap .recommend-title {
  display: block;
  margin-bottom: 17px;
  font-size: 12px;
  color: #888;
  letter-spacing: -0.2px;
  font-weight: 400;
}
.recommend-wrap .recommend-tag {
  flex: 1 0 27%;
  max-width: 27%;
}
@media all and (max-width: 1024px) {
  .recommend-wrap .recommend-tag {
    flex: 1 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}
.recommend-wrap .recommend-creator {
  flex: 1 0 33%;
  max-width: 33%;
  margin-right: 20px;
}
@media all and (max-width: 1024px) {
  .recommend-wrap .recommend-creator {
    flex: 1 0 100%;
    max-width: 100%;
    margin-right: 0;
  }
}
.recommend-wrap .recommend-creator .recommend-list {
  flex-wrap: wrap;
}
.recommend-wrap .recommend-creator .recommend-list li {
  flex: 1 0 80px;
  max-width: 80px;
}
.recommend-wrap .recommend-creator .recommend-list li .thumb {
  display: block;
  position: relative;
  overflow: hidden;
}
.recommend-wrap .recommend-creator .recommend-list li .thumb::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.recommend-wrap .recommend-creator .recommend-list li .thumb > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%) scale(0.1);
}
@media all and (max-width: 1400px) {
  .recommend-wrap .recommend-creator .recommend-list li {
    flex: 1 0 60px;
    max-width: 60px;
  }
}
.recommend-wrap .recommend-list {
  display: flex;
}
.recommend-wrap .recommend-list li {
  flex: 1 0 80px;
  max-width: 80px;
  margin-right: 18px;
  text-align: center;
}
@media all and (max-width: 768px) {
  .recommend-wrap .recommend-list li {
    margin-right: 10px;
  }
}
.recommend-wrap .recommend-list li:first-of-type {
  margin-left: 0;
}
.recommend-wrap .recommend-list li .thumb {
  overflow: hidden;
  position: relative;
  margin-bottom: 11px;
  border-radius: 50%;
  border: solid 1px rgba(0, 0, 0, 0.05);
}
.recommend-wrap .recommend-list li .name {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 5px;
  font-size: 13px;
  color: #1a1a1a;
  text-align: center;
}
.recommend-wrap .recommend-list li .category {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  color: #888;
  text-align: center;
}
.recommend-wrap .recommend-list li .desc {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 5px;
  font-size: 13px;
  color: #1a1a1a;
  text-align: left;
}
.recommend-wrap .recommend-list li .creator {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  color: #888;
  text-align: left;
}
.recommend-wrap .recommend-work {
  flex: 1 0 35%;
  max-width: 35%;
}
.recommend-wrap .recommend-work .recommend-list li {
  flex: 1 0 130px;
  max-width: 130px;
}
@media all and (max-width: 1400px) {
  .recommend-wrap .recommend-work .recommend-list li {
    flex: 1 0 110px;
    max-width: 110px;
  }
}
.recommend-wrap .recommend-work .recommend-list li .thumb {
  border-radius: initial;
  display: block;
  position: relative;
  overflow: hidden;
}
.recommend-wrap .recommend-work .recommend-list li .thumb::after {
  content: "";
  display: block;
  padding-bottom: 66.6666666667%;
}
.recommend-wrap .recommend-work .recommend-list li .thumb > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%) scale(0.1);
}
@media all and (max-width: 1024px) {
  .recommend-wrap .recommend-work {
    display: none;
  }
}
.recommend-wrap .recommend .tag-area {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.recommend-wrap .recommend .tag-area .item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 28px;
  flex: 1 0 90px;
  max-width: 90px;
  padding: 0 15px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 13px;
  color: #1a1a1a;
  line-height: 28px;
  box-sizing: border-box;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.recommend-wrap .btn-close {
  position: absolute;
  top: 28px;
  right: 26px;
  background-size: 315px 314px;
  background-position: -186px -197px;
  background-image: url("../images/sp_grafolio_ratio.png");
  width: 17px;
  height: 17px;
  outline: 0;
}
@media all and (max-width: 1024px) {
  .recommend-wrap .btn-close {
    top: 21px;
    right: 15px;
  }
}

.section-pick .tit-bx {
  display: flex;
  align-items: center;
}
@media all and (max-width: 1024px) {
  .section-pick .tit-bx {
    align-items: flex-start;
    flex-direction: column;
  }
}
.section-pick .tit-bx .tit {
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 25px;
}
@media all and (max-width: 1024px) {
  .section-pick .tit-bx .tit {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
}
@media all and (max-width: 768px) {
  .section-pick .tit-bx .category-inner {
    overflow-x: auto;
    width: 100%;
  }
}
.section-pick .tit-bx .category {
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
}
.section-pick .tit-bx .category__item {
  padding: 0 5px;
}
.section-pick .tit-bx .category__item .link {
  display: inline-block;
  height: 32px;
  padding: 0 20px;
  border-radius: 19px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px rgba(153, 153, 153, 0.2);
  font-size: 14px;
  color: #111;
  line-height: 31px;
}
@media all and (max-width: 768px) {
  .section-pick .tit-bx .category__item .link {
    height: 27px;
    padding: 0 11px;
    font-size: 12px;
    line-height: 27px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.section-pick .tit-bx .category__item .link.on {
  color: #fff;
  font-weight: 600;
  border-color: rgba(0, 0, 0, 0);
  background: #e4bc2c;
}
.section-pick .swiper-slide-active .txt-bx .title,
.section-pick .swiper-slide-active .txt-bx .text {
  transform: translateY(0);
  opacity: 1;
}
@keyframes widths {
  0% {
    width: 280px;
  }
  100% {
    width: 420px;
  }
}
@media all and (min-width: 1024.02px) {
  .section-pick .swiper-slide:hover {
    animation: widths 0.6s ease-in-out alternate both;
  }
}
.section-pick .swiper-slide:hover .hover-bx {
  opacity: 1;
}
.section-pick .swiper-slide .hover-bx {
  transition: opacity 0.5s;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6041010154) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  cursor: pointer;
}
.section-pick .swiper-slide .hover-bx .hover__tit {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
}
.section-pick .swiper-slide .hover-bx .hover__info {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 14px;
  position: relative;
}
.section-pick .swiper-slide .hover-bx .hover__info .wrapper {
  display: flex;
}
.section-pick .swiper-slide .hover-bx .hover__info .thumb {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  border-radius: 50%;
  background-position: -122px -222px;
  width: 22px;
  height: 22px;
}
.section-pick .swiper-slide .hover-bx .hover__info .download {
  display: inline-block;
  position: relative;
}
.section-pick .swiper-slide .hover-bx .hover__info .download:before {
  content: "";
  display: inline-block;
  height: 9px;
  margin: 5px 7px 0;
  border: solid 1px rgba(255, 255, 255, 0.4);
  vertical-align: top;
}
.section-pick .swiper-slide .hover-bx .hover__info button {
  background-image: url("../images/sp_collection.png");
  display: block;
  position: absolute;
  top: auto;
  bottom: -1px;
  right: 0;
  background-size: 239px 214px;
  background-position: -183px -83px;
  width: 36px;
  height: 36px;
}
@media all and (max-width: 1024px) {
  .section-pick .swiper-slide .hover-bx {
    display: none;
  }
}
.section-pick .swiper-button {
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: rem(40);
  transition: 300ms color;
  background-color: rgba(0, 0, 0, 0.2);
  width: 50px;
  height: 50px;
  opacity: 0;
  transition: opacity 0.2s;
}
.section-pick .swiper-button:hover {
  color: #00d084;
}
.section-pick .swiper-button--prev {
  left: 0;
}
.section-pick .swiper-button--next {
  right: 0;
}
@media all and (max-width: 1024px) {
  .section-pick .swiper-button {
    display: none;
  }
}
.section-pick .swiper-container:hover .swiper-button {
  opacity: 1;
}
.section-pick .swiper-wrapper {
  padding: 20px 0;
}
.section-pick .item {
  position: relative;
}
.section-pick .img-bx {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.1);
}
.section-pick .img-bx::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.section-pick .img-bx > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%) scale(0.1);
}
@media all and (min-width: 1024.02px) {
  .section-pick .img-bx {
    height: 270px;
  }
}
.section-pick .txt-bx {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  letter-spacing: letterSpacing(-50);
  line-height: 1.3;
}
.section-pick .txt-bx .title {
  font-size: em(80);
}
.section-pick .txt-bx .text {
  margin-top: 1em;
  font-size: em(30);
  font-weight: 300;
  transition-delay: 300ms !important;
}

.section-creator .tit-bx .tit {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}
@media all and (max-width: 1024px) {
  .section-creator .tit-bx .tit {
    font-size: 1.5rem;
  }
}
.section-creator .creators {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}
@media all and (max-width: 576px) {
  .section-creator .creators {
    margin-left: -10px;
    margin-right: -10px;
  }
}
@media all and (max-width: 1200px) {
  .section-creator .creators-wrap {
    overflow-x: auto;
  }
}
.section-creator .creators__item {
  flex: 1 0 11.11%;
  max-width: 11.11%;
  padding: 0 15px;
}
@media all and (max-width: 1200px) {
  .section-creator .creators__item {
    flex: 1 0 15%;
    max-width: 15%;
  }
}
@media all and (max-width: 768px) {
  .section-creator .creators__item {
    flex: 1 0 20%;
    max-width: 20%;
  }
}
@media all and (max-width: 576px) {
  .section-creator .creators__item {
    padding: 0 10px;
    flex: 1 0 28%;
    max-width: 28%;
  }
}
.section-creator .creators__item .link {
  display: block;
}
.section-creator .creators__item .link .creators__thumb {
  position: relative;
}
.section-creator .creators__item .link .creators__thumb .img-bx {
  border: solid 1px rgba(0, 0, 0, 0.05);
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.section-creator .creators__item .link .creators__thumb .img-bx::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.section-creator .creators__item .link .creators__thumb .img-bx > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%) scale(0.1);
}
.section-creator .creators__item .link .creators__thumb button {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #00d084;
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-size: 241px 220px;
  background-position: -127px -52px;
  background-image: url("../images/sp_collection.png");
}
.section-creator .creators__item .link .creators__thumb button.plus {
  background-size: 239px 214px;
  background-position: 0 -184px;
}
.section-creator .creators__item .link .tit {
  font-size: 15px;
  color: #1a1a1a;
  text-align: center;
  margin-top: 10px;
}
@media all and (max-width: 1024px) {
  .section-creator .creators__item .link .tit {
    font-size: 12px;
  }
}

.section-discover {
  padding-bottom: 0;
}
.section-discover .tit-bx {
  display: flex;
  margin-bottom: 20px;
}
@media all and (max-width: 1024px) {
  .section-discover .tit-bx {
    margin-left: -10px;
    margin-right: -10px;
  }
}
.section-discover .tit-bx .tit {
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 25px;
}
@media all and (max-width: 1024px) {
  .section-discover .tit-bx .tit {
    display: none;
  }
}
.section-discover .tit-bx .tags {
  display: flex;
  align-items: center;
}
.section-discover .tit-bx .tags__item {
  padding: 0 20px;
  font-size: 1rem;
}
@media all and (max-width: 1024px) {
  .section-discover .tit-bx .tags__item {
    padding: 0 10px;
  }
}
.section-discover .tit-bx .tags__item .link {
  font-weight: 400;
  color: #555;
}
.section-discover .tit-bx .tags__item .link.on {
  font-weight: 700;
  color: #111;
  position: relative;
}
.section-discover .tit-bx .tags__item .link.on:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  border-bottom: 3px solid transparent;
  border-color: #111;
  border-width: 2px;
}
.section-discover .category-wrap {
  position: relative;
  width: 100%;
  height: 38px;
  overflow: hidden;
  margin-bottom: 5px;
}
@media all and (max-width: 1024px) {
  .section-discover .category-wrap {
    height: 29px;
  }
}
@media all and (max-width: 768px) {
  .section-discover .category-wrap {
    height: 60px;
  }
}
.section-discover .category-wrap.show {
  height: auto;
}
.section-discover .category-wrap .color_pick > div {
  display: flex;
  flex-wrap: wrap;
}
.section-discover .category-wrap .color_pick .color_box {
  display: block;
  box-sizing: border-box;
  margin-right: 10px;
  width: 50px;
  height: 30px;
  border-radius: 2px;
  line-height: 30px;
  text-align: center;
}
@media all and (max-width: 1024px) {
  .section-discover .category-wrap .color_pick .color_box {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-bottom: 5px;
  }
}
.section-discover .category-wrap .color_pick .color_box[data-category=ffffff] {
  border: 1px solid #ddd;
  background-color: #ffffff;
}
.section-discover .category-wrap .color_pick .color_box[data-category=ff0000] {
  background-color: #ff0200;
}
.section-discover .category-wrap .color_pick .color_box[data-category=ff6d01] {
  background-color: #ff6d01;
}
.section-discover .category-wrap .color_pick .color_box[data-category=ffc002] {
  background-color: #ffc002;
}
.section-discover .category-wrap .color_pick .color_box[data-category="55c40c"] {
  background-color: #55c40c;
}
.section-discover .category-wrap .color_pick .color_box[data-category="19a200"] {
  background-color: #19a200;
}
.section-discover .category-wrap .color_pick .color_box[data-category="0bb9c8"] {
  background-color: #0bb9c8;
}
.section-discover .category-wrap .color_pick .color_box[data-category="0166ff"] {
  background-color: #0166ff;
}
.section-discover .category-wrap .color_pick .color_box[data-category="8a00ff"] {
  background-color: #8a00ff;
}
.section-discover .category-wrap .color_pick .color_box[data-category=ff1ed3] {
  background-color: #ff1ed3;
}
.section-discover .category-wrap .color_pick .color_box[data-category=e9c2a9] {
  background-color: #e9c2a9;
}
.section-discover .category-wrap .color_pick .color_box[data-category=c58a11] {
  background-color: #c58a11;
}
.section-discover .category-wrap .color_pick .color_box[data-category=c58a11] {
  background-color: #c58a11;
}
.section-discover .category-wrap .color_pick .color_box[data-category="753515"] {
  background-color: #753515;
}
.section-discover .category-wrap .color_pick .color_box[data-category="949494"] {
  background-color: #949494;
}
.section-discover .category-wrap .color_pick .color_box[data-category="000000"] {
  background-color: #000000;
}
.section-discover .category-wrap .color_pick .color_box.on:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 1px;
  background-image: url("../images/sp_collection.png");
  background-size: 239px 214px;
  background-position: -156px -52px;
  width: 21px;
  height: 17px;
}
@media all and (max-width: 1024px) {
  .section-discover .category-wrap .color_pick .color_box.on:before {
    background-size: 239px 214px;
    background-position: -157px -56px;
    width: 18px;
    height: 18px;
  }
}
.section-discover .category {
  display: flex;
  margin-left: -5px;
  width: 100%;
  padding-right: 100px;
  flex-wrap: wrap;
}
@media all and (max-width: 1024px) {
  .section-discover .category {
    padding-right: 50px;
    margin-left: -3px;
  }
}
@media all and (max-width: 576px) {
  .section-discover .category {
    padding-right: 30px;
  }
}
.section-discover .category__item {
  padding: 0 5px;
  margin-bottom: 10px;
}
@media all and (max-width: 1024px) {
  .section-discover .category__item {
    padding: 0 3px;
    margin-bottom: 4px;
  }
}
.section-discover .category__item .link {
  display: inline-block;
  height: 32px;
  padding: 0 20px;
  border-radius: 19px;
  border: solid 1px #ddd;
  font-size: 14px;
  color: #555;
  font-weight: 400;
  line-height: 31px;
}
@media all and (max-width: 1024px) {
  .section-discover .category__item .link {
    height: 27px;
    padding: 0 11px;
    font-size: 12px;
    line-height: 27px;
  }
}
.section-discover .category__item .link.on {
  background: #111;
  border-color: rgba(117, 117, 117, 0.2);
  color: #fff;
}
.section-discover .toggle-btn {
  background-image: url("../images/sp_collection.png");
  position: absolute;
  top: 10px;
  right: 0;
  background-size: 239px 214px;
  background-position: -183px -120px;
  width: 28px;
  height: 14px;
}
.section-discover .toggle-btn.on {
  background-size: 239px 214px;
  background-position: -62px -161px;
}
.section-discover .wallpapers {
  background-color: #f4f4f4;
  padding-bottom: 3.5rem;
}
.section-discover .wallpapers .inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media all and (max-width: 1200px) {
  .section-discover .wallpapers .inner {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (max-width: 768px) {
  .section-discover .wallpapers .inner {
    gap: 10px;
  }
}
.section-discover .wallpapers__item {
  position: relative;
}
.section-discover .wallpapers__item .img-bx {
  display: block;
  position: relative;
  overflow: hidden;
}
.section-discover .wallpapers__item .img-bx::after {
  content: "";
  display: block;
  padding-bottom: 56.2189054726%;
}
.section-discover .wallpapers__item .img-bx > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%) scale(0.1);
}
.section-discover .wallpapers__item:hover .hover-bx {
  opacity: 1;
}
.section-discover .wallpapers__item .hover-bx {
  transition: opacity 0.5s;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6041010154) 0%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  cursor: pointer;
}
.section-discover .wallpapers__item .hover-bx .hover__tit {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
}
.section-discover .wallpapers__item .hover-bx .hover__info {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 14px;
  position: relative;
}
.section-discover .wallpapers__item .hover-bx .hover__info .wrapper {
  display: flex;
}
.section-discover .wallpapers__item .hover-bx .hover__info .thumb {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  border-radius: 50%;
  background-position: -122px -222px;
  width: 22px;
  height: 22px;
}
.section-discover .wallpapers__item .hover-bx .hover__info .download {
  display: inline-block;
  position: relative;
}
.section-discover .wallpapers__item .hover-bx .hover__info .download:before {
  content: "";
  display: inline-block;
  height: 9px;
  margin: 5px 7px 0;
  border: solid 1px rgba(255, 255, 255, 0.4);
  vertical-align: top;
}
.section-discover .wallpapers__item .hover-bx .hover__info button {
  background-image: url("../images/sp_collection.png");
  display: block;
  position: absolute;
  top: auto;
  bottom: -1px;
  right: 0;
  background-size: 239px 214px;
  background-position: -183px -83px;
  width: 36px;
  height: 36px;
}
@media all and (max-width: 1024px) {
  .section-discover .wallpapers__item .hover-bx {
    display: none;
  }
}
.section-discover .wallpapers .sort-inner {
  max-width: 1240px;
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
}
@media all and (max-width: 1400px) {
  .section-discover .wallpapers .sort-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.section-discover .wallpapers .sort-select {
  max-width: 94px;
  margin-right: 0;
  margin-left: auto;
}
.section-discover .wallpapers .sort-select .sort-btn {
  width: 100%;
  position: relative;
  padding-right: 47px;
  padding-left: 10px;
  border: 0;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #555;
}
.section-discover .wallpapers .sort-select .sort-btn:after {
  content: "";
  position: absolute;
  right: 17px;
  top: 50%;
  margin-top: -3px;
  background-size: 315px 314px;
  background-position: -90.5px -222px;
  background-image: url("../images/sp_grafolio_ratio.png");
  width: 10px;
  height: 6px;
}
.section-discover .wallpapers .sort-select .sort-btn.on:after {
  background-size: 282px 314px;
}
.section-discover .wallpapers .sort-select__list {
  display: none;
  position: absolute;
  min-width: 94px;
  padding: 5px 0;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  z-index: 10;
  box-sizing: border-box;
}
.section-discover .wallpapers .sort-select__list.show {
  display: block;
}
.section-discover .wallpapers .sort-select__list .item a {
  display: block;
  padding: 0 46px 0 15px;
  font-size: 12px;
  line-height: 26px;
  color: #555;
  letter-spacing: -0.3px;
  white-space: nowrap;
}
.section-discover .wallpapers .sort-select__list .item a.on {
  font-weight: bold;
}

.footer {
  background-color: #f4f4f4;
  border-top: 1px solid #ececec;
  padding: 30px 0;
}
@media all and (max-width: 1200px) {
  .footer {
    padding: 15px 0;
  }
}
.footer .policy {
  display: flex;
  justify-content: flex-end;
  margin-left: -20px;
  margin-right: -20px;
  font-size: 12px;
  color: #666;
}
.footer .policy__item {
  padding: 0 20px;
}