.footer {
  width: 100%;
  height: 393px;
}
.footer .inner {
  display: flex;
  flex-direction: column;
}
.footer-main {
  width: 100%;
  height: 279px;
  border-top: 0.3px solid #6e6e6e;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding-top: 50px;
}
.footer-main .menu-contents {
  width: 272px;
  height: 210px;
}
.footer-main .menu-contents .menu-name {
  font-size: 20px;
  color: #646467;
  margin-bottom: 25px;
}
.footer-main .menu-contents .menu-list {
  width: 100%;
  height: 30px;
}
.footer-main .menu-contents .menu-list a {
  position: relative;
  font-size: 12px;
  color: #646467;
  letter-spacing: 1px;
}
.footer-main .menu-contents .menu-list a::after {
  content: '';
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: 0;
  border-bottom: 1px solid #646467;
  transition: width 0.3s;
}
.footer-main .menu-contents .menu-list a:hover::after {
  width: 100%;
}

.footer-bottom {
  width: 100%;
  height: 114px;
  border-top: 0.3px solid #6e6e6e;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer-bottom .section1 {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 12px;
  letter-spacing: 0.2px;
  color: #4a4a4f;
}
.footer-bottom .section2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-bottom .section2 .logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.footer-bottom .section3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
