.newsletter {
  width: 100%;
  height: 257px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #5c5c5c;
}
.newsletter .title {
  font-size: 30px;
  margin-bottom: 15px;
}
.newsletter .subtitle {
  font-size: 16px;
  letter-spacing: 0.2px;
}
.newsletter .email {
  position: relative;
  width: 345px;
  height: 125px;
}
.newsletter .email input {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid #5c5c5c;
}
.newsletter .email label {
  position: absolute;
  top: 54px;
  left: 0;
  font-size: 12px;
  letter-spacing: 1px;
  color: #5c5c5c;
  transition: 0.3s;
}
.newsletter .email input:focus ~ label {
  transform: translateY(-25px);
}
.newsletter .email button {
  position: absolute;
  top: 48px;
  right: 0;
  width: 46px;
  height: 22px;
  background-image: url(../../assets/images/icon-submit.svg);
  background-size: 48px 22px;
  object-position: center;
  border: none;
  background-color: #fff;
  transition: 0.2s;
}
.newsletter .email button:hover {
  transform: translateX(5px);
}
.newsletter .email .policy {
  position: absolute;
  top: 85px;
  right: 0;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #4a4a4f;
}
.newsletter .email .policy a {
  position: relative;
  color: #5c5c5c;
  font-weight: 500;
}
.newsletter .email .policy a::after {
  content: '';
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  width: 100%;
  border: 0.5px solid #5c5c5c;
}
