@import "reset.css";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/* global */
body {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.43;
    letter-spacing: -.5px;
    font-feature-settings: "tnum","ss01","ss07";
    font-family: Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
}


/* nav */
nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1;
    width: 100%;
    height: 85px;
    background: #fff;
    align-items: center;
}

.navigation-item {
    flex-direction: column;
    justify-content: center;
    padding: 0 22px;
    color: #111;
    font-size: 16px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -.08px;
}

.navigation-logo {
    display: block;
    cursor: pointer;
    margin-left: 32px;
    margin-right: 42px;
}

.navigation-logo > img {
    width: 141px;
    height: 25.88px;
}

.navigation-item:hover {
    cursor: pointer;
    color: #19cd8c;
}


/* slide show */
.slide-show {
    position: relative;
    z-index: 0;
    margin-top: 85px;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 480px;
}

.carousel-items {
    display: block;
    width: 100%;
    height: 480px;
    white-space: nowrap;
}

.carousel-item {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    vertical-align: top;
}

/* #lowest-loan-rates-banner, #app, #curation, #card */
#lowest-loan-rates-banner, #app, #curation {
    display: none;
}

#lowest-loan-rates-banner {
    background: #eff5ff;
}

.lowest-loan-rates-banner-section {
    position: relative;
    z-index: 999;
    display: flex;
    width: 100%;
    max-width: 946px;
    height: 100%;
    margin: 0 auto;
    padding: 122px 0;
    white-space: pre-wrap;
    word-break: break-word;
    letter-spacing: -.5px;
    vertical-align: baseline;
}

.lowest-loan-rates-banner-info {
    display: block;
    white-space: nowrap;
    word-break: break-word;
}

.lowest-loan-rates-banner-info > h2 {
    display: block;
    color: #111;
    font-size: 52px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: .5px;
    margin-bottom: 12px;
}

.lowest-loan-rates-banner-info > h2 > small {
    font-weight: 500;
}

.lowest-loan-rates-banner-info > h3 {
    display: block;
    color: #111;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: .5px;
    margin-bottom: 25px;
}

.lowest-loan-rates-banner-button {
    display: flex;
    justify-content: center;
    width: 162px;
    padding: 12px 19px;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    background-color: #fff;
    color: #09a56f;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.625;
}

.lowest-loan-rates-banner-button > strong {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    letter-spacing: -.5px;
    vertical-align: baseline;
    text-decoration: none;
}

.lowest-loan-rates-banner-image {
    width: 434px;
    height: 278px;
    vertical-align: middle;
    overflow: clip;
}

.app-container, .curation-container, .card-container {
    position: relative;
    z-index: 999;
    display: block;
    width: 100%;
    max-width: 906px;
    height: 100%;
    margin: 0 auto;
    padding: 130px 20px 0;
}

.app-title, .curation-title, .card-title {
    position: relative;
    display: block;
}

.app-buttons, .curation-buttons, .card-buttons {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    margin: 25px 0 0;
}

.curation-description, .card-description {
    position: relative;
    margin: 8px 0 0;
    padding: 0;
    border: 0;
}

#app {
    background: #eafaf3;
}

#app::before {
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: auto;
    left: auto;
    transform: translate(66%,-50%);
    display: block;
    width: 1858px;
    height: 1855px;
    background: url("../public/assets/app-background-image.svg") no-repeat;
    content: ""; 
}

.app-title, .curation-title {
    color: #0b0c0c;
    font-size: 52px;
    font-weight: 700;
    line-height: 60px;
}

.app-buttons {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    margin: 25px 0 0;
}

.green-button {
    color: #fff;
    background: #13bd7e;
    max-width: fit-content;
    padding: 10px 20px;
    border-radius: 41px;
    box-shadow: 0 4px 9px rgba(0,0,0,.15);
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
}

.white-button {
    color: #13bd7e;
    border: 1px solid #13bd7e;
    margin: 14px 0 0;
    background: #fff;
    max-width: fit-content;
    padding: 10px 20px;
    border-radius: 41px;
    box-shadow: 0 4px 9px rgba(0,0,0,.15);
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
}

#curation {
    background-color: #cbf8e7;
}

#curation::before {
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: auto;
    left: auto;
    transform: translate(84%,-47%);
    display: block;
    width: 740px;
    height: 444px;
    background: url("../public/assets/curation-image.svg") no-repeat;
    content: "";
}

.curation-title > small {
    font-weight: 500;
}

.curation-description {
    font-size: 22px;
    line-height: 25px;
    color: #111;
}

.curation-button {
    color: #fff;
    background: #877af5;
    max-width: fit-content;
    padding: 10px 20px;
    border-radius: 41px;
    box-shadow: 0 4px 9px rgba(0,0,0,.15);
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
}

#card {
    background: linear-gradient(91deg,#09f,#ff8a84 90%);
}

#card::before {
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: auto;
    left: auto;
    transform: translate(100%,-50%);
    display: block;
    width: 538px;
    height: 480px;
    background: url("../public/assets/card-background-image.png") no-repeat;
    background-size: 538px 480px;
    content: "";
}

.card-title {
    color: #fafafa;
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
}

.card-description {
    color: #ededee;
    position: relative;
    margin: 8px 0 0;
    font-size: 22px;
    line-height: 25px;
}

.card-button {
    color: #111;
    background: #ffbe4c;
    max-width: fit-content;
    padding: 10px 20px;
    border-radius: 41px;
    box-shadow: 0 4px 9px rgba(0,0,0,.15);
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
}

.lowest-loan-rates-banner-button:hover
.green-button:hover, 
.white-button:hover, 
.curation-button:hover, 
.card-button:hover {
    cursor: pointer;
}

.navagation-button-wrap {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 8px;
    left: 0;
    display: block;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    list-style: none;
}

.navagation-button-wrap > li {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 12px;
}

.navagation-button {
    margin: 0;
    padding: 0;
    display: block;
    width: 8px;
    height: 8px;
    color: transparent;
    border: none;
    border-radius: 4px;
    background: #fff;
    font-size: 0;
    transition: all .3s ease;
}


/* promotion */
.promotion {
    background-color: yellow;
    display: block;
    padding: 48px 0;
    height: 333px;
}

.promotion-container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    max-width: 882px;
    margin: 0 auto;
    padding: 0 32px;
}

.promotion-title {
    display: block;
    text-align: center;
}

.promotion-items {
    display: block;
    margin: 42px 0 0;
}

.promotion-item {
    float: left;
    display: block;
    width: 260px;
    padding: 0 16px;
    text-align: center;
}

.promotion-image {
    display: inline-block;
    width: 160px;
    height: 110px;
    margin-bottom: 16px;
}


/* pick */
.pick {
    background-color: chartreuse;
    display: block;
    padding: 48px 0;
}

.pick-container {
    position: relative;
    display: block;
    width: 100%;
    max-width: 882px;
    margin: 0 auto;
    padding: 0 32px;
}

.pick-container::after {
    clear: both;
    display: block;
    content: "";
}

.pick-title {
    display: block;
    margin: 0 0 32px;
}

.pick-items {
    display: block;
    width: 100%;
    margin: 24px -16px 0 0;
}

.pick-item {
    float: left;
    display: block;
    width: 204.5px;
    margin: 0 16px 16px 0;
}

.content-image {
    width: 100%;
    height: 130px;
    background-position: 50%;
    background-size: cover;
}

.content-box {
    position: relative;
    height: 122px;
    padding: 16px 12px;
}

.button-container {
    position: absolute;
    right: 16px;
    bottom: 16px;
}


/* download */
.download {
    background-color: skyblue;
    position: relative;
    display: block;
    height: 320px;
    text-align: left;
    padding-top: 80px;
}

.download-container {
    position: relative;
    display: block;
    width: 100%;
    max-width: 946px;
    margin: 0 auto;
    padding: 0 32px;
}

.download-buttons {
    display: block;
    text-align: left;
}


/* alliance */
.alliance {  
    background-color: blue;
    position: relative;
    overflow: hidden;
    padding: 72px 20px;
    text-align: center;
}


/* contact */
.contact {  
    background-color: purple;
    height: 100%;
    padding: 32px 10px;
    height: 100%;
    padding: 32px 10px;
    text-align: center;
}


/* footer */
footer {
    background-color: pink;
    display: block;
    width: 100%;
    padding: 71px 0 88px;
}

.footer-container {
    display: flex;
    max-width: 946px;
    margin: 0 auto;
}

.footer-services-container {
    display: flex;
    max-width: 946px;
    margin: 0 auto;
}

.footer-icons {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.footer-download {
    display: flex;
    flex-direction: column;
}

.footer-links {
    display: flex;
    flex: 1;
}

.footer-best, .footer-banksalad {
    display: flex;
    flex-direction: column;
}

.footer-best {
    margin-right: 128px;
}

.footer-information-container {
    display: flex;
    max-width: 946px;
    margin: 0 auto;
}

.footer-guide {
    display: flex;
    justify-content: space-between;
}

.footer-company {
    display: inline;
}

.email-address {
    display: inline;
}
