#main {
  min-width: 100vw;
  height: 100vh;

  overflow: auto;
  scroll-snap-type: y mandatory;
}

.snappin-box {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  background: {
    position: center;
    size: cover;
    repeat: no-repeat;
  }

  scroll-snap-align: center;
}

#welcome-video {
  height: 100vh;

  border: none;

  position: relative;
  z-index: -1;

  object-fit: cover;
  inline-size: 100%;
}

.modelY {
  background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/h_2400,w_2880,c_fit,f_auto,q_auto:best/Homepage-Model-Y-Global-Desktop");
}
.model3 {
  background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/h_2560,w_4096,c_fit,f_auto,q_auto:best/Homepage-Model-3-Desktop-LHD");
}
.modelX {
  background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/Homepage-Model-X-Desktop-LHD");
}
.modelS {
  background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto:best/Model-S-homepage-desktop");
}
.powerwall {
  background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto:best/Desktop_SolarPanels");
}
.accessories {
  background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Accessories-Desktop-NA-APAC.jpg");
}
