@font-face {
    font-family: 'RacingSansOne-Regular.ttf';
    src: url('../assets/fonts/RacingSansOne-Regular.ttf') format('truetype');
}

.header {
    width: 100%;
    min-width: 1048px;
    height: 180px;
    border-top: 3px solid #00cd3c;
    border-bottom: 1px solid #c9c9c9;
}

.header_line {
    width: 100%;
    display: block;
    border: 1px solid #c9c9c9;
}

/* header_menu */

.header_menu {
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.header_menu span {
    color: #999999;
    font-size: 13px;
    font-weight: bold;
}

.header_menu span:hover {
    color: #1a1a1a;
}


.util_menu {
    width: 1000px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    border-bottom: 1px solid #f2f2f2;
}


.top_right {
    display: flex;
}

.top_right a {
    margin-right: 20px;
}

.top_right a:first-child {
    display: flex;
}

.top_right a:first-child img {
    width: 25px;
    height: 25px;
    margin-right: 4px;
}

.top_right a:first-child span {
    height: 17px;
    margin-top: 3.5px;
}

/* end header_menu */

/* searchbar */

.util_menu2 {
    height: 100px;
    display: flex;
    margin-top: 6px;
}

.main_logo {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.main_logo img {
    width: 130px;
}



.searchbar {
    width: 340px; 
    height: 100px;
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.searchbar_field {
    width: 340px;
    height: 37px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    border: 2px solid #00cd3c;
    border-radius: 20px;
}

.searchbar legend{
    display: none;
}

.searchbar input {
    width: 260px;
    height: 25px;
    padding-top: 2px;
    margin-left: 15px;
    border: none;
    outline: none;
}

.searchbar_button {
    border: none;
    background: none;
    margin-right: 10px;
}

.searchbar_button img {
    width: 25px;
}

/* end searchbar */

/* realtime_keyword */

.realtime_keyword {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 15px;
}

.realtime_keyword span {
    width: 40px;
    text-align: center;
    border: 1px solid #00cd3c;
    border-radius: 10px;
    color: #fff;
    background-color: #00cd3c;
    font-size: 12px;
}

.realtime_keyword span:hover {
    color: #fff;
}


.keyword_overlay {
    width: 150px;
    border: none;
    margin-left: 7px;
}


.banner {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 8px;
}

/* end banner */

/* util_menu3 */

.util_menu3 {
    height: 45px;
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
}

.util_menu3_ul {
    display: flex;
}

.util_menu3_ul li {
    margin-right: 27px;
}

.util_menu3_ul span {
    font-size: 17px;
    color: #525252;
}

.util_menu3_ul span:hover {
    color: #00cd3c;
}


.util_menu3_ul2 {
    margin-right: 20px;
}

.util_menu3_ul2 span {
    font-size: 17px;
    color: #525252;
}

.util_menu3_ul2 span:hover {
    color: #00cd3c;
}

.beta {
    font-style: italic;
    font-size: 15px !important;
    color: #00cd3c !important; 
}