.header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    z-index: 999;
    justify-content: space-between;
    align-items: center; /* 로고와 리스트를 수직 정렬하기 위해 설정 */
    display: flex;
    padding-top: 15px;
}

/* ul 점 없애기 */
ul {
    list-style: none;
    padding-left: 30px;
    margin: 0;
  }
  
  
/* 로고 스타일 */
.daangn-logo {
    max-width: 100px; /* 로고 이미지의 최대 너비 설정 */
    height: 28px; /* 로고 높이 설정 */
    margin-left: 115px; /* 로고 오른쪽에 간격을 두기 위해 margin 설정 */
}
  
  /* 리스트들 스타일 */
  .middle-list {
    display: flex; /* 리스트들을 수평으로 나열하기 위해 설정 */
    font-weight: 550;
  }


.middle-list li {
    margin-left: 30px; 
    font-size: 17.5px;
    color: #4d5159;
  }


.first-list a {
    color: #ff6f0f;
}
  

.middle-list li:last-child {
    margin-right: 0; /* 마지막 리스트 항목 오른쪽 간격 제거 */
}
  
/* 검색바와 채팅하기 버튼 스타일 */
.right-section {
    display: flex; /* 검색바와 채팅하기 버튼을 수평으로 정렬하기 위해 설정 */
    align-items: center; /* 세로 중앙 정렬 */
    margin-left: auto; /* 검색바와 채팅하기 버튼을 오른쪽으로 이동하기 위해 설정 */
    margin-right: 115px; /* 오른쪽 여백을 설정하여 왼쪽과 동일하게 맞춥니다. */
}

.search-bar {
    width: 280px; /* 원하는 길이로 지정 */
    padding: 10px;
    background-color: #f2f3f6;
    box-sizing: border-box;
    border: none;
    border-radius: 6px;
    font-size: 16.5px;
    flex: 1; /* 남은 공간을 모두 차지하도록 설정 */
}


.chat-button {
    border-style: solid;
    padding: 8px 15px; /* 채팅하기 버튼의 패딩 설정 */
    background-color: #ffffff; /* 버튼 배경색 설정 */
    border-color: #f2f3f6;
    border-width: 2px;
    color: black; /* 버튼 텍스트 색상 설정 */
    border-radius: 4px; /* 버튼 테두리 둥글게 설정 */
    cursor: pointer; /* 커서 스타일 변경 */
    margin-left: 10px; /* 채팅하기 버튼과 검색바 사이 간격 설정 */
    height: 40px;
    font-size: 17px;
    font-weight: 550;
}

.middle-section {
    flex: 1; /* 남은 공간을 모두 차지하도록 설정 */
}
