header {
  background-color: white;
  color: #212124;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  z-index: 100;
}

.header-wrap {
  max-width: 120rem;
  height: 6.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 1.2rem 1.6rem;
  margin: 0 auto;
  /* position: relative; */
}

.logo {
  margin-right: 4rem;
}

.logo span {
  margin: 0.1rem 0;
}

.category {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 4rem;
}

.category > ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.category li {
  margin: 0;
}

/* 현재 선택된 탭에서만 오렌지 컬로로 폰트 색상 변경 */
.category .font-orange {
  color: #ff6f0f;
}

.category a {
  font-size: 1.8rem;
  font-weight: 700;
  color: #4d5159;
  line-height: 1.32;
  margin-right: 30px;
  text-decoration-line: none;
  white-space: nowrap;
}

.category a:hover {
  color: gray;
  cursor: pointer;
}

.search-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 28.8rem;
  font-size: 1.6rem;
  line-height: 1.36;
  color: #212124;
  background-color: #F2F3F6;
  border: none;
  border-radius: 0.6rem;
  height: 4rem;
  box-sizing: border-box;
  margin: 1.6rem 1.2rem 1.6rem 0;
  padding: 0.9rem 1.2rem;
}

/* outline 테두리 없애기 */
.search-bar:focus {
  outline: none;
} 

.search-block button {
  display: block;
  line-height: 1.3;
  font-size: 1.6rem;
  font-weight: 700;
  color: #212124;
  background-color: #fff;
  border: 1px solid #d1d3d8;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0.8rem 1.6rem;
  margin: 1.6rem 0;
  white-space: nowrap;
  transition: background-color .15s;
}

.search-block button:hover {
  background-color: #f2f3f6;
  cursor: pointer;
  opacity: .7;
}