header {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.08);
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header-wrap {
  max-width: 128rem;
  height: 16rem;
  padding: 3rem 0 0;
  margin: 0 auto;
}

.header-content-top {
  display: flex;
  justify-content: space-between;
}

.header-top-left {
  display: flex;
  align-items: center;
}

.header-content-top h1 {
  width: 15.1rem;
  height: 3.8rem;
  margin: 0 2rem 0 0;
  background: url(../assets/icons/logo.svg) no-repeat 50%;
  background-size: 100%;
  cursor: pointer;
}

.header-search-wrap {
  position: relative;
}

.header-search {
  position: relative;
  width: 45.4rem;
  max-width: 48.8rem;
  height: 5rem;
  margin: 0 auto;
  border: 0.1rem solid rgba(0, 0, 0, 0.15);
  border-radius: 2.4rem;
  overflow: hidden;
}

.header-search_input {
  width: calc(100% - 3rem - 5.2rem);
  height: 100%;
  margin-left: 1.6rem;
  font-size: 1.6rem;
  border: none;
  background-color: transparent;
}

.header-search_input::placeholder {
  position: absolute;
  display: block;
  height: 2.6rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #000;
  cursor: text;
}

.header-search_button {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  width: 5.2rem;
  height: 4.8rem;
  background: url(../assets/icons/btn_search.svg) no-repeat 50%;
  border: none;
  cursor: pointer;
}

.header-search-popup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 45.4rem;
}

.header-search-popup-formwrap {
  display: flex;
  align-items: center;
}

.header-search-popup-formwrap button {
  position: absolute;
  display: block;
  cursor: pointer;
}

.header-search-popup-formwrap button:first-of-type {
  background: url(../assets/icons/btn_searchDelete.svg) no-repeat center center;
  bottom: 1rem;
  right: 4.5rem;
  width: 3rem;
  height: 3rem;
}

.header-search-popup-formwrap button:nth-of-type(2) {
  background: url(../assets/icons/btn_search.svg) no-repeat center center;
  bottom: 0;
  right: 0.5rem;
  width: 4rem;
  height: 4rem;
  text-indent: -9999rem;
}

.header-mymenu {
  display: flex;
  align-items: center;
  padding-right: 1.5rem;
  position: relative;
}
.header-mymenu li {
  font-family: Pretendard;
  font-size: 1.5rem;
  color: #111;
  font-weight: 500;
}

.header-mymenu li:nth-last-child(2) {
  margin-left: 16.5px;
  margin-right: 16.5px;
}

.header-mymenu li:nth-last-child(3)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 0.8rem;
  height: 0.4rem;
  background: url(../assets/icons/icon_arrow.19e52c97.svg) no-repeat 50%;
  cursor: pointer;
}

.header-content-bottom {
  display: flex;
  padding: 3rem 0 2rem;
}

.header-main-menu,
.header-event-menu {
  display: flex;
  align-items: center;
}

.header-main-menu li a,
.header-event-menu li a {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: #111;
}

.header-main-menu img {
  width: 30px;
  height: 30px;
}
.header-main-menu li a span {
  padding-top: 2px;
  margin: 0 0 0 0.6rem;
  height: 19px;
  text-align: left;
}

.header-main-menu li {
  margin-left: 2.2rem;
}
.header-main-menu li:first-child {
  margin-left: 0;
}
.header-main-menu li:nth-of-type(6) img:nth-of-type(2) {
  margin-left: 4px;
  display: inline-block;
  width: 2.3rem;
  height: 1.5rem;
}

.header-event-menu a {
  margin-top: 1px;
}

.header-event-menu::before {
  content: '';
  display: inline-block;
  width: 0.1rem;
  height: 1.6rem;
  margin: 0 1.3rem;
  background-color: #e9e9e9;
}
