.header {
  width: 250px;
  height: 100vh;
  background-color: black;
  position: fixed;
  overflow: none;
  flex-shrink: 0;
}
hr {
  background: #1a1a1a;
  width: 80%;
  height: 1px;
  border: 0;
  margin: 0 auto;
}
.header_logo {
  display: block;
  color: white;
  text-transform: uppercase;
  font-family: "Cabin", sans-serif;
  padding: 2rem 2rem;
  cursor: pointer;
}
.header_logo * {
  vertical-align: middle;
}

.logo_naver {
  font-weight: 800;
}
.logo_vibe {
  font-weight: 800;
  font-size: 30px;
}
.header_submenu {
  overflow: scroll;
  height: 65%;
}
.header_signin_area {
  display: block;
  color: white;
  font-size: larger;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 2.5rem;
  cursor: pointer;
}

.user_icon {
  width: 20px;
  height: 20px;
}
.login_txt {
  margin: 0 10px 0 10px;
}
.header_member {
  margin: 0 auto;
}
.member_p {
  margin: 1.2rem 2.5rem;
  font-size: 13px;
}
.member_button_area {
  display: block;
  cursor: pointer;
  width: 80%;
  height: 3rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: rgb(236, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(236, 0, 0, 1) 0%,
    rgba(244, 47, 201, 0.6321122198879552) 48%,
    rgba(96, 0, 135, 1) 100%
  );
}
.member_icon {
  width: 1.5rem;
}
.member_text {
  font-weight: 800;
  margin: 0 5px;
}
.header_search {
  cursor: pointer;
  border-radius: 5px;
  margin: 0 auto;
  padding: 1.5rem 2rem 1rem;
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
}
.search_input {
  width: 100%;
  height: 3rem;
  box-sizing: border-box;
  background: #1d1d1d;
  background-image: url("../assets/loupe.png");
  background-size: 1.2rem 1.2rem;
  background-position: 10px center;
  background-repeat: no-repeat;
  padding-left: 40px;
  border-radius: 5px;
  border: none;
}
.search_icon {
  width: 1.5rem;
  height: 1.5rem;
}
.header_menu {
  margin: 0 auto;
  width: 80%;
  font-size: 1.2rem;
}
.header_menu li > a {
  padding: 0.6rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.header_menu li > a > span {
  margin-left: 0.5rem;
  color: gray;
}
.header_menu li > a > span:hover {
  color: white;
}
.header_menu ul > hr {
  width: 100%;
  margin: 1rem auto;
}
.header_menu li:last-child {
  margin-bottom: 100px;
}
.header_menu img {
  width: 25px;
  height: 25px;
}
.header_install {
  border: 1px solid gray;
  display: block;
  width: 80%;
  margin: 1rem auto;
  padding: 1.1rem;
  text-align: center;
  font-size: large;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: transparent;
}
.header_install:hover {
  width: 80%;
  border: 2px solid white;
}
