header {
  width: 100%;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  position: fixed;
}

header > .inner span,
header > .inner a,
header > .inner .icons-small {
  color: #fff;
  cursor: pointer;
}

header > .inner {
  display: flex;
  align-items: center;
}
header > .inner:hover {
  transition: 0.4s;
  background-color: #fff;
  box-shadow: 3px gray;
}
header > .inner:hover span {
  transition: 0.4s;
  color: #000;
}
header > .inner:hover a {
  transition: 0.4s;
  color: #0000003a;
}
header .menu .item a:hover {
  color: #000;
}
header > .inner:hover .icons-small {
  color: #000;
}

header .logo {
  height: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5%;
  margin: auto;
}
header .logo span {
  font-weight: 300;
}
header .logo span > .logo-bolder {
  font-weight: 800;
}

@media (width < 500px) {
  header > .inner {
    height: 65px;
  }
  header .logo {
    height: 25px;
    left: 3%;
  }
  header .logo span {
    font-size: 18px;
    letter-spacing: 0.65px;
  }
  header .logo img {
    width: 160px;
  }
  header .icons-small {
    display: block;
    position: absolute;
    right: 35px;
    font-size: 35px;
    font-weight: 100;
  }
  header .menu,
  header .recruiting {
    display: none;
  }
}

@media (min-width: 500px) and (max-width: 1023px) {
  header > .inner {
    height: 65px;
  }
  header .logo {
    height: 25px;
    left: 3%;
  }
  header .logo span {
    font-size: 18px;
    letter-spacing: 0.65px;
  }
  header .logo img {
    width: 160px;
  }
  header .icons-small {
    display: block;
    position: absolute;
    right: 35px;
    font-size: 35px;
    font-weight: 100;
  }
  header .menu,
  header .recruiting {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  header > .inner {
    width: 1100px;
    height: 55px;
  }
  header .logo {
    height: 25px;
    left: 3%;
  }
  header .logo span {
    font-size: 14px;
    letter-spacing: 0.65px;
  }
  header .logo img {
    width: 180px;
  }
  header .icons-small {
    display: none;
  }
  header .menu {
    display: flex;
    position: absolute;
    width: 800px;
    margin-left: -220px;
    left: 50%;
  }
  header .menu .item {
    text-align: center;
    width: 80px;
    font-weight: 600;
    font-size: 12px;
    margin-right: 10px;
  }
  header .menu .item::after {
    margin-right: 0;
  }
  header .menu .item a:hover {
    opacity: 1;
  }

  header .recruiting {
    display: flex;
    align-items: center;
    position: absolute;
    right: 5%;
    font-size: 12px;
  }
  header .recruiting a {
    text-decoration: none;
    position: relative;
  }

  header .recruiting:hover .material-icons {
    color: black;
    background-color: yellow;
  }

  header .recruiting .material-icons {
    border-radius: 50%;
    font-size: 12px;
    padding: 2px;
    margin-left: 10px;
    color: #888888;
    background-color: #eeeeee;
    position: absolute;
    bottom: 0.5%;
  }
  header .recruiting .material-icons:hover {
    color: black;
    background-color: yellow;
  }
}

@media (width > 1200px) {
  header > .inner {
    height: 80px;
    width: 1920px;
  }
  header .logo {
    height: 40px;
    left: 3%;
  }
  header .logo span {
    font-size: 23px;
    letter-spacing: 0.65px;
  }
  header .icons-small {
    display: none;
  }
  header .menu {
    display: flex;
    position: absolute;
    width: 800px;
    margin-left: -300px;
    left: 50%;
  }
  header .menu .item {
    text-align: center;
    width: 80px;
    font-weight: 600;
    margin-right: 30px;
  }
  header .menu .item::after {
    margin-right: 0;
  }

  header .recruiting {
    display: flex;
    align-items: center;
    position: absolute;
    right: 5%;
  }
  header .recruiting:hover .material-icons {
    color: black;
    background-color: yellow;
  }
  header .recruiting a {
    text-decoration: none;
    position: relative;
  }

  header .recruiting .material-icons {
    border-radius: 50%;
    font-size: 15px;
    padding: 4px;
    margin-left: 5px;
    color: #888888;
    background-color: #eeeeee;
    position: absolute;
    bottom: 0.5%;
  }
  /* header .recruiting .material-icons:hover {
    color: black;
    background-color: yellow;
  } */
}
