* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  color: white;
  list-style: none;
  text-decoration: none;
}
.body {
  height: 100vw;
  display: flex;
  flex-direction: row;
}
