.main {
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.contents {
    width: 1000px;
    min-height: 800px;
    padding-top: 20px;
    display: flex;
}

/* new_album */

.new_album {
    width: 480px;
    height: 360px;
}

.new_album_top {
    display: flex;
    justify-content: space-between;
}

.new_album_a {
    display: flex;
    align-items: center;
}

.new_album_a h2 {
    height: 24px;
    font-size: 16px;
    color: #525252;
}

.new_album_a img {
    width: 15px;
    height: 13px;
}

.new_album_ul {
    display: flex;
}

.new_album_ul li {
    margin-right: 12px;
}

.new_album_ul a {
    font-size: 13px;
}

.new_album_ul li:nth-child(1) a {
    color: #525252;
    font-weight: bold;
}

.new_album_ul li:nth-child(2) a {
    color: #999999;
    font-weight: bold;
}

.new_album_ul li:nth-child(3) a {
    color: #999999;
    font-weight: bold;
}

.new_album_top2 {
    display: flex;
    align-items: baseline;
}



.page {
    display: flex;
    align-items: flex-end;
}

.page span {
    font-size: 13px;
}

.page span:nth-child(1) {
    color: #525252;
}

.page span:nth-child(2) {
    color: #525252;
}

.page span:nth-child(3) {
    color: #999999;
}

.page_btn {
    display: flex;
    margin-left: 5px;
}

.page_btn a {
    display: flex;
}

.page_btn img{
    width: 13px;
}

.right {
    border: 1px solid #999999;
    border-radius: 10px 0 0 10px
}

.left {
    border: 1px solid #999999;
    border-left: none;
    border-radius: 0 10px 10px 0;
}


.new_album_contents_ul {
    height: 320px;
    display: flex;
    flex-wrap: wrap;
}

.new_album_contents_ul li {
    height: 160px;
    margin: 3px 2px 0 0;
}

.none {
    display: none;
}

.img {
    width: 156px;
    height: 156px;
    border: 1px solid #f2f2f2;
}

.thum {
    width: 156px;
    height: 156px;
    display: block;
    overflow: hidden;
}

.thum img {
    width: 156px;
    height: 156px;
}

.singer {
    width: 156px;
    height: 30px;
    left: 1px;
    bottom: 30px;
    display: flex;
    position: relative;
    z-index: 1;
    background-color: #45454599;
    justify-content: center;
    align-items: center;
}

.singer_a:hover {
    text-decoration: underline;
    color: #fff;
}

.singer_a span {
    display: block;
    height: 20px;
    font-size: 13px;
    color: #fff;
}

/* end new_album */

/* event */

.event {
    width: 240px;
    height: 350px;
    margin-left: 5px;
}

.event_top {
    height: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.move {
    display: flex;
}

.move a {
    margin-right: 2px;
}

.move a:nth-child(1) {
    border: 1px solid #525252;
}

.circle {
    display: block;
    width: 9px;
    height: 9px;
    border: 1px solid #999999;
    border-radius: 50%;
}

.playbutton {
    margin: 0 5px 0 5px;
}

.playbutton img{
    width: 14px;
}

.event_img {
    margin-top: 4px;
}

.event_img img {
    width: 235px;
    height: 320px;
}

/* login_banner */

.login_banner {
    width: 270px;
    height: 320px;
    margin: 27px 0 0 5px;
}

.login {
    width: 270px;
    height: 120px;
    border: 1px solid #ebebeb;
    background-color: #fbfbfb;
}

.create {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.create p {
    font-size: 12px;
    color: #999999;
}

.create a {
    font-size: 12px;
    color: #999999;
}

.login_button {
    width: 230px;
    height: 40px;
    margin: 10px 0 0 20px;
    color: #fff;
    background-color: #00cd3c;
    border: none;
    font-size: 15px;
}

.banner {
    width: 272px;
}

.banner img {
    width: 272px;
    height: 188px;
    margin-top: 11px;
}