.main{
    font-size: 14px;
    width: 100%;
}

/* 슬라이드 섹션 */
.curation-section{
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
}

.slider-input-radio[type=radio]{
    display: none;
}

.curation-section__slidewrap{
    margin: 0 auto;
}

.curation-section__slidelist{
    margin: 0;
    padding: 0;
}

.curation-section__slidelist li{
    opacity: 0;
    transition: opacity 1s ease-out;
    width: 100%;
    position: absolute;

}

.curation-section__slidelist a{
    display: flex;
    justify-content: center;
    height: 450px;
}


.curation-section__slide__text{
    width: 980px;
    height: 450px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.curation-section__slide__title{
    font-size: 43px;
    width: 430px;
    margin: 0;
}

.curation-section__slide__p{
    font-size: 28px;
    width: 430px;
    margin-top: 14px;
    margin-bottom: 0;
}


.curation-section__slide__img{
    width: 1280px;
    position: absolute;
    top:0;
    z-index: 1;
    transform: scale(1);
    transition: transform 2.5s ease-out;
}

.curation-section__radiobox{
    width: 980px;
    height: 450px;
    position: relative;
    margin: 0 auto;
}

.curation-section__radio{
    position: absolute;
    z-index: 2;
    bottom: 30px;
}

.curation-section__radio label{
    display: inline-block;
    width:12px;
    height: 12px;
    margin: 6px;
    border-radius: 6px;
    background-color: rgba(255,255,255,.5);
    transition: width 0.5s;
}

.curation-section__slide-control{
    position: absolute;
    z-index: 2;
    bottom: 30px;
    right: 0px;
}

.curation-section__slide-control .controlbox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.9);
    border-radius: 5px;
}

.curation-section__slide-control .controlbox label{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.curation-section__slide-control label:first-child::before{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-width: 1px;
    border-color: #000;
    border-top-style: solid;
    border-right-style: solid;
    transform:translate3d(0, -50%, 0) rotate(-135deg);
    left: 50%;
    margin-top: 5px;
}

.curation-section__slide-control label:last-child::before{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-width: 1px;
    border-color: #000;
    border-top-style: solid;
    border-right-style: solid;
    transform:translate3d(0, -50%, 0) rotate(45deg);
    right: 50%;
    margin-top: 5px;
}



.curation-section [id="slide01"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(1){opacity: 1;}
.curation-section [id="slide02"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(2){opacity: 1;}
.curation-section [id="slide03"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(3){opacity: 1;}
.curation-section [id="slide04"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(4){opacity: 1;}
.curation-section [id="slide05"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(5){opacity: 1;}
.curation-section [id="slide06"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(6){opacity: 1;}
.curation-section [id="slide07"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(7){opacity: 1;}
.curation-section [id="slide08"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(8){opacity: 1;}
.curation-section [id="slide09"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(9){opacity: 1;}
.curation-section [id="slide10"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(10){opacity: 1;}
.curation-section [id="slide11"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(11){opacity: 1;}
.curation-section [id="slide12"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(12){opacity: 1;}
.curation-section [id="slide13"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(13){opacity: 1;}

.curation-section [id="slide01"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(1) img{transform: scale(1.1);}
.curation-section [id="slide02"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(2) img{transform: scale(1.1);}
.curation-section [id="slide03"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(3) img{transform: scale(1.1);}
.curation-section [id="slide04"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(4) img{transform: scale(1.1);}
.curation-section [id="slide05"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(5) img{transform: scale(1.1);}
.curation-section [id="slide06"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(6) img{transform: scale(1.1);}
.curation-section [id="slide07"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(7) img{transform: scale(1.1);}
.curation-section [id="slide08"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(8) img{transform: scale(1.1);}
.curation-section [id="slide09"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(9) img{transform: scale(1.1);}
.curation-section [id="slide10"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(10) img{transform: scale(1.1);}
.curation-section [id="slide11"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(11) img{transform: scale(1.1);}
.curation-section [id="slide12"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(12) img{transform: scale(1.1);}
.curation-section [id="slide13"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(13) img{transform: scale(1.1);}



.curation-section [id="slide01"]:checked ~ .curation-section__slidewrap .curation-section__radio label:nth-child(1){width: 50px; background-color: #fff;}
.curation-section [id="slide02"]:checked ~ .curation-section__slidewrap .curation-section__radio label:nth-child(2){width: 50px; background-color: #fff;}
.curation-section [id="slide03"]:checked ~ .curation-section__slidewrap .curation-section__radio label:nth-child(3){width: 50px; background-color: #fff;}
.curation-section [id="slide04"]:checked ~ .curation-section__slidewrap .curation-section__radio label:nth-child(4){width: 50px; background-color: #fff;}
.curation-section [id="slide05"]:checked ~ .curation-section__slidewrap .curation-section__radio label:nth-child(5){width: 50px; background-color: #fff;}
.curation-section [id="slide06"]:checked ~ .curation-section__slidewrap .curation-section__radio label:nth-child(6){width: 50px; background-color: #fff;}
.curation-section [id="slide07"]:checked ~ .curation-section__slidewrap .curation-section__radio label:nth-child(7){width: 50px; background-color: #fff;}
.curation-section [id="slide08"]:checked ~ .curation-section__slidewrap .curation-section__radio label:nth-child(8){width: 50px; background-color: #fff;}
.curation-section [id="slide09"]:checked ~ .curation-section__slidewrap .curation-section__radio label:nth-child(9){width: 50px; background-color: #fff;}
.curation-section [id="slide10"]:checked ~ .curation-section__slidewrap .curation-section__radio label:nth-child(10){width: 50px; background-color: #fff;}
.curation-section [id="slide11"]:checked ~ .curation-section__slidewrap .curation-section__radio label:nth-child(11){width: 50px; background-color: #fff;}
.curation-section [id="slide12"]:checked ~ .curation-section__slidewrap .curation-section__radio label:nth-child(12){width: 50px; background-color: #fff;}
.curation-section [id="slide13"]:checked ~ .curation-section__slidewrap .curation-section__radio label:nth-child(13){width: 50px; background-color: #fff;}

.curation-section__slide-control [class*="control"]{display: none;}
.curation-section [id="slide01"]:checked ~ .curation-section__slidewrap .curation-section__slide-control .control01 {display: flex;}
.curation-section [id="slide02"]:checked ~ .curation-section__slidewrap .curation-section__slide-control .control02 {display: flex;}
.curation-section [id="slide03"]:checked ~ .curation-section__slidewrap .curation-section__slide-control .control03 {display: flex;}
.curation-section [id="slide04"]:checked ~ .curation-section__slidewrap .curation-section__slide-control .control04 {display: flex;}
.curation-section [id="slide05"]:checked ~ .curation-section__slidewrap .curation-section__slide-control .control05 {display: flex;}
.curation-section [id="slide06"]:checked ~ .curation-section__slidewrap .curation-section__slide-control .control06 {display: flex;}
.curation-section [id="slide07"]:checked ~ .curation-section__slidewrap .curation-section__slide-control .control07 {display: flex;}
.curation-section [id="slide08"]:checked ~ .curation-section__slidewrap .curation-section__slide-control .control08 {display: flex;}
.curation-section [id="slide09"]:checked ~ .curation-section__slidewrap .curation-section__slide-control .control09 {display: flex;}
.curation-section [id="slide10"]:checked ~ .curation-section__slidewrap .curation-section__slide-control .control10 {display: flex;}
.curation-section [id="slide11"]:checked ~ .curation-section__slidewrap .curation-section__slide-control .control11 {display: flex;}
.curation-section [id="slide12"]:checked ~ .curation-section__slidewrap .curation-section__slide-control .control12 {display: flex;}
.curation-section [id="slide13"]:checked ~ .curation-section__slidewrap .curation-section__slide-control .control13 {display: flex;}


/* porduct */
.product-compose{
    width: 980px;
    margin: 0 auto;
}

.product-compose__new{
    margin-top: 70px;
}

.product-compose__text{
    margin-bottom: 10px;
}

.product-compose__text p{
    margin-bottom: 5px;
}

.product-compose__text .linkbox p{
    text-align: right;
}

.product-compose__cotents-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
    padding: 0;
}

.product-compose__content{
    width: 230px;
}


.product-compose__content-img{
    width: 100%;
    height: 130px;
    border-radius: 8px;
}

.product-compose__content-strong{
    max-height: 48px;
    font-weight: 500;
    text-overflow: ellipsis;
    color: #222;
    font-size: 16px;
}

.product-compose__content-p{
    max-height: 36px;
    margin-top: 8px;
    word-wrap: normal;
    text-overflow: ellipsis;
    color: #9b9ba0;
    font-size: 12px;
}

.product-compose__content-labels{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.product-compose__content-card{
    color: #6e6e73;
    background-color: #f2f2f2;
    border-radius: 4px;
    font-size: 11px;
    margin-right: 8px;
    padding: 4px 8px;
}

/* Best Seller */

.product-compose__hot{
    margin-top: 70px;
}

.product-compose__hot-content-img{
    width: 313px;
    height: 420px;
}

.product-compose__hot-cotents-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 0;
}

/* Rising */
.product-compose__rising{
    margin-top: 70px;
}

.rising_contents{
    overflow: hidden;
}

.product-compose__rising input[type=radio]{
    display: none;
}

.rising-slide-btn-wrapper{
    position: relative;
    width: 100%;
    height: 40px;
}

.rising-slide-btn{
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.rising-slide-btn span{
    color:#6e6e73;
    margin-right: 10px;
    font-size: 14px;
}

.rising-slide-btn label{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.rising-slide-btn label:hover{
    background-color: #9b9ba0;
}


.rising-left-label::before{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-width: 1px;
    border-color: rgb(110, 110, 115);
    border-top-style: solid;
    border-right-style: solid;
    transform:translate3d(0, -50%, 0) rotate(-135deg);
    left: 50%;
    margin-top: 8px;
}

.rising-right-label::before{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-width: 1px;
    border-color: rgb(110, 110, 115);
    border-top-style: solid;
    border-right-style: solid;
    transform:translate3d(0, -50%, 0) rotate(45deg);
    right: 50%;
    margin-top: 8px;
}

.product-compose__rising-cotents-container{
    width: 2940px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    transition: transform 1s;
    transform: translateX(0%);
}

.rising-content{
    margin-right: 15px;
}

.product-compose__rising [id="rising-slide01"]:checked ~ .product-compose__contents .product-compose__rising-cotents-container{transform: translateX(0%);}
.product-compose__rising [id="rising-slide02"]:checked ~ .product-compose__contents .product-compose__rising-cotents-container{transform: translateX(-33%);}
.product-compose__rising [id="rising-slide03"]:checked ~ .product-compose__contents .product-compose__rising-cotents-container{transform: translateX(-66.5%);}


.product-compose__rising [id="rising-slide01"]:checked ~ .product-compose__text .rising-slide-btn-wrapper .rising-slide-btn:nth-child(1) {display: flex;}
.product-compose__rising [id="rising-slide02"]:checked ~ .product-compose__text .rising-slide-btn-wrapper .rising-slide-btn:nth-child(2) {display: flex;}
.product-compose__rising [id="rising-slide03"]:checked ~ .product-compose__text .rising-slide-btn-wrapper .rising-slide-btn:nth-child(3) {display: flex;}


/* guide */

.product-compose__guide{
    margin-top: 70px;
}

.guide-img{
    width: 230px;
    height: 230px;
}

.product-compose__guide-cotents-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* promotion */
.product-compose__promotion{
    margin-top: 70px;
}

.promotion-img{
    width: 980px;
    height: 245px;
}

/* Meida */
.product-compose__media{
    margin-top: 70px;
}

.product-compose__meida-container{
    display: flex;
    justify-content: space-between;
}

.product-compose__meida-container li a{
    display: flex;
    flex-direction: column;
}

.product-compose__meida-container li a:hover{
    text-decoration:underline;
}

.media-img{
    width: 313px;
    height: 220px;
    margin-bottom: 10px;
}

.product-compose__media-more{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.media-more-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 152px;
    height: 21px;
    padding: 13px 24px;
    font-size: 14px;
    background-color: #ed234b;
    color: #ffffff;
}
