.main {
  display: flex;
  justify-content: center;
  padding-bottom: 8vw;
  position: relative;
}
.main-box {
  max-width: 500px;
  text-align: center;
  z-index: 1;
}

.main img {
  width: 130px;
  margin-bottom: 2vw;
}

.email-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.email-form input {
  border-radius: 4px;
  width: 100%;
  background-color: #31343e;
  border: 1px solid #31343e;
  height: 50px;
  padding: 0 12px;
  color: silver;
  font-size: inherit;
  box-sizing: border-box;
  display: block;
}

.email-form input:focus {
  border-color: hsla(0, 0%, 100%, 0.3);
  outline: 0;
}

.email-form button {
  margin-top: 10px;
  border-radius: 4px;
  padding: 0 44px;
  height: 50px;
  max-width: 100%;
  background: #0063e5;
  border: none;
  color: #f9f9f9;
  text-decoration: none;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 18px;
  box-sizing: border-box;
}

.email-form button:hover {
  background: #016cf9;
}

.mian-price {
  margin-bottom: 0;
  font-size: 11px;
  line-height: 15px;
}

@media only screen and (max-width: 768px) {
  .main {
    min-height: 70vh;
    padding: 40vw 5vw 20vw;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .main-box {
    max-width: 600px;
  }

  .main img {
    width: 160px;
  }
}
@media only screen and (min-width: 1025px) {
  .main-box {
    max-width: 640px;
  }

  .main img {
    width: 180px;
  }
}

@media only screen and (min-width: 769px) {
  .main {
    justify-content: flex-start;
  }

  .main-box {
    text-align: left;
  }

  .email-form {
    flex-direction: row;
  }

  .email-form input {
    border-radius: 4px 0 0 4px;
    width: 60%;
  }

  .email-form button {
    border-radius: 0 4px 4px 0;
    margin-top: 0;
    width: 40%;
  }
}

.slide {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.slide-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 18vh;
  position: absolute;
  right: 10px;
  top: 8vh;
  width: 20px;
  z-index: 2;
}

input[type="radio"] {
  display: none;
}

.slide-nav label {
  background-color: silver;
  border: none;
  flex-grow: 1;
  justify-content: space-evenly;
  margin: 1px;
  opacity: 0.2;
  padding: 0;
  position: relative;
  width: 2px;
  z-index: 2;
  cursor: pointer;
}

.slide-nav label :after {
  background: 0 0;
  content: "";
  cursor: pointer;
  display: flex;
  height: 100%;
  position: absolute;
  right: -7px;
  width: 20px;
}

input[id="select_box1"]:checked ~ .slide-nav .label1 {
  background-color: #f9f9f9;
  opacity: 0.5;
}
input[id="select_box2"]:checked ~ .slide-nav .label2 {
  background-color: #f9f9f9;
  opacity: 0.5;
}
input[id="select_box3"]:checked ~ .slide-nav .label3 {
  background-color: #f9f9f9;
  opacity: 0.5;
}
input[id="select_box4"]:checked ~ .slide-nav .label4 {
  background-color: #f9f9f9;
  opacity: 0.5;
}

.slide-btn {
  position: absolute;
  top: 26vh;
  /* background-image: url(https://static-assets.bamgrid.com/product/disneyplus/images/pause-button-marketing.e65891baec28b63b14d9ea9fa159b06e.svg); */
  background-image: url(https://static-assets.bamgrid.com/product/disneyplus/images/play-button-marketing.4bb6b792c1ef11092c43de1ead55dea0.svg);
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  border: none;
  width: 40px;
  height: 40px;
  right: 0;
  z-index: 2;
  cursor: pointer;
  padding-top: 2px;
  padding-right: 6px;
  padding-bottom: 3px;
  padding-left: 6px;
}

.background {
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  background-size: 100%;
}

.only-desktop {
  display: none;
}

.slide-text-box {
  height: auto;
  left: 16px;
  position: absolute;
  right: 80px;
  top: 16px;
  width: auto;
  z-index: 1;
  font-size: 12px;
  line-height: 16px;
}

.select_img {
  opacity: 0;
  transition-duration: 3s;
  animation-duration: 3s;
}

/* label 클릭시 이미지 나타내기 */
input[id="select_box1"]:checked ~ div #imgbox .select1 {
  opacity: 1;
}
input[id="select_box2"]:checked ~ div #imgbox .select2 {
  opacity: 1;
}
input[id="select_box3"]:checked ~ div #imgbox .select3 {
  opacity: 1;
}
input[id="select_box4"]:checked ~ div #imgbox .select4 {
  opacity: 1;
}

@media only screen and (min-width: 769px) {
  .slide-nav {
    bottom: 60px;
    flex-direction: row;
    height: 20px;
    left: 50%;
    top: auto;
    transform: translateX(-50%);
    width: 60vw;
  }

  .slide-nav label {
    height: 3px;
    width: auto;
  }

  .slide-btn {
    bottom: 53px;
    right: 15vw;
    top: auto;
  }

  .only-mobile {
    display: none;
  }

  .only-desktop {
    display: block;
  }

  .slide-text-box {
    bottom: 16px;
    left: 50%;
    text-align: center;
    top: auto;
    transform: translateX(-50%);
    width: 60vw;
  }
}
