.player {
  width: 100%;
  height: 90px;
  background-color: #191919;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  flex-direction: row;
  bottom: 0;
}
.player img {
  width: 1.5rem;
  height: 1.5rem;
}
.player_musicInfo_area {
  display: flex;
  align-items: center;
}
.musicInfo_icon_box {
  padding: 1rem;
  background-color: #2a2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 0 1.5rem;
}
.player_musicInfo_text {
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.musicInfo_text_first {
  font-weight: bold;
}
.musicInfo_text_last {
  color: gray;
  font-size: small;
}
.player_btn_area {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}
.player_btn_area button {
  background-color: transparent;
  border: none;
}
.player_btn_area .play_icon {
  width: 2rem;
  height: 2rem;
}
.play_btn {
  width: 4rem;
  height: 4rem;
}
.player_btn_area .play_btn:hover {
  background-color: #2a2a2a;
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
}
.player_btn_area .music_btn {
  transition: transform 0.3s ease;
}
.player_btn_area .music_btn:hover {
  transform: scale(1.3);
}

.player_sound_area {
  width: 370px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.player_sound_area > span {
  color: gray;
  display: flex;
}
.playlist_btn {
  background-color: transparent;
  border: none;
}
.playlist_btn img {
  width: 35px;
  height: 35px;
}
