.accordion-container {
  background-color: #13151d;
  box-sizing: border-box;
  margin-top: 16px;
  text-align: left;
  width: 100%;
}

.accordion-btn {
  width: 100%;
  padding: 24px;
  padding-right: 26px;

  background-color: #12151d;
  border: 0;
  cursor: pointer;
  position: relative;
  text-align: left;
}

.accordion-btn:after {
  content: "+";

  color: #f9f9f9;
  font-size: 40px;
  line-height: 0.8;

  position: absolute;
  top: calc(50% - 16px);
  right: 24px;
}
.open .accordion-btn:after {
  content: "–";
}

.accordion-child {
  margin: 0;
  max-height: 0;
  overflow: hidden;
  padding: 0 24px;
  transition: max-height, 0.25s ease-in-out;
}

.accordion-child p {
  margin-bottom: 0;
}

.open .accordion-child {
  max-height: 1500px;
  padding-bottom: 24px;
}
