.main{
    font-size: 14px;
    width: 100%;
    height: 2000px;
}

/* 슬라이드 섹션 */
.curation-section{
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
}

.curation-section input[type=radio]{
    display: none;
}

.curation-section__slidewrap{
    margin: 0 auto;
}

.curation-section__slidelist{
    margin: 0;
    padding: 0;
}

.curation-section__slidelist li{
    opacity: 0;
    transition: opacity 1s ease-out;
    width: 100%;
    position: absolute;

}

.curation-section__slidelist a{
    display: flex;
    justify-content: center;
    height: 450px;
}


.curation-section__slide__text{
    width: 980px;
    height: 450px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.curation-section__slide__title{
    font-size: 43px;
    width: 430px;
    margin: 0;
}

.curation-section__slide__p{
    font-size: 28px;
    width: 430px;
    margin-top: 14px;
    margin-bottom: 0;
}


.curation-section__slide__img{
    width: 1280px;
    position: absolute;
    top:0;
    z-index: 1;
    transform: scale(1);
    transition: transform 2.5s ease-out;
}

.curation-section__radiobox{
    width: 980px;
    height: 450px;
    position: relative;
    margin: 0 auto;
}

.curation-section__radio{
    position: absolute;
    z-index: 2;
    bottom: 30px;
}

.curation-section__radio label{
    display: inline-block;
    width:12px;
    height: 12px;
    margin: 6px;
    border-radius: 6px;
    background-color: rgba(255,255,255,.5);
    transition: width 0.5s;
}

.curation-section__slide-control{
    position: absolute;
    z-index: 2;
    bottom: 30px;
    right: 0px;
}

.curation-section__slide-control .controlbox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.9);
    border-radius: 5px;
}

.curation-section__slide-control .controlbox label{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.curation-section__slide-control label:first-child::before{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-width: 1px;
    border-color: #000;
    border-top-style: solid;
    border-right-style: solid;
    transform:translate3d(0, -50%, 0) rotate(-135deg);
    left: 50%;
    margin-top: 5px;
}

.curation-section__slide-control label:last-child::before{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-width: 1px;
    border-color: #000;
    border-top-style: solid;
    border-right-style: solid;
    transform:translate3d(0, -50%, 0) rotate(45deg);
    right: 50%;
    margin-top: 5px;
}



.curation-section [id="slide01"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(1){opacity: 1;}
.curation-section [id="slide02"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(2){opacity: 1;}
.curation-section [id="slide03"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(3){opacity: 1;}
.curation-section [id="slide04"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(4){opacity: 1;}
.curation-section [id="slide05"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(5){opacity: 1;}
.curation-section [id="slide06"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(6){opacity: 1;}
.curation-section [id="slide07"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(7){opacity: 1;}
.curation-section [id="slide08"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(8){opacity: 1;}
.curation-section [id="slide09"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(9){opacity: 1;}
.curation-section [id="slide10"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(10){opacity: 1;}
.curation-section [id="slide11"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(11){opacity: 1;}
.curation-section [id="slide12"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(12){opacity: 1;}
.curation-section [id="slide13"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(13){opacity: 1;}

.curation-section [id="slide01"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(1) img{transform: scale(1.1);}
.curation-section [id="slide02"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(2) img{transform: scale(1.1);}
.curation-section [id="slide03"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(3) img{transform: scale(1.1);}
.curation-section [id="slide04"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(4) img{transform: scale(1.1);}
.curation-section [id="slide05"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(5) img{transform: scale(1.1);}
.curation-section [id="slide06"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(6) img{transform: scale(1.1);}
.curation-section [id="slide07"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(7) img{transform: scale(1.1);}
.curation-section [id="slide08"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(8) img{transform: scale(1.1);}
.curation-section [id="slide09"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(9) img{transform: scale(1.1);}
.curation-section [id="slide10"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(10) img{transform: scale(1.1);}
.curation-section [id="slide11"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(11) img{transform: scale(1.1);}
.curation-section [id="slide12"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(12) img{transform: scale(1.1);}
.curation-section [id="slide13"]:checked ~ .curation-section__slidewrap .curation-section__slidelist li:nth-child(13) img{transform: scale(1.1);}



.curation-section [id="slide01"]:checked ~ .curation-section__slidewrap .curation-section__radio label:nth-child(1){width: 50px; background-color: #fff;}
.curation-section [id="slide02"]:checked ~ .curation-section__slidewrap .curation-section__radio label:nth-child(2){width: 50px; background-color: #fff;}
.curation-section [id="slide03"]:checked ~ .curation-section__slidewrap .curation-section__radio label:nth-child(3){width: 50px; background-color: #fff;}
.curation-section [id="slide04"]:checked ~ .curation-section__slidewrap .curation-section__radio label:nth-child(4){width: 50px; background-color: #fff;}
.curation-section [id="slide05"]:checked ~ .curation-section__slidewrap .curation-section__radio label:nth-child(5){width: 50px; background-color: #fff;}
.curation-section [id="slide06"]:checked ~ .curation-section__slidewrap .curation-section__radio label:nth-child(6){width: 50px; background-color: #fff;}
.curation-section [id="slide07"]:checked ~ .curation-section__slidewrap .curation-section__radio label:nth-child(7){width: 50px; background-color: #fff;}
.curation-section [id="slide08"]:checked ~ .curation-section__slidewrap .curation-section__radio label:nth-child(8){width: 50px; background-color: #fff;}
.curation-section [id="slide09"]:checked ~ .curation-section__slidewrap .curation-section__radio label:nth-child(9){width: 50px; background-color: #fff;}
.curation-section [id="slide10"]:checked ~ .curation-section__slidewrap .curation-section__radio label:nth-child(10){width: 50px; background-color: #fff;}
.curation-section [id="slide11"]:checked ~ .curation-section__slidewrap .curation-section__radio label:nth-child(11){width: 50px; background-color: #fff;}
.curation-section [id="slide12"]:checked ~ .curation-section__slidewrap .curation-section__radio label:nth-child(12){width: 50px; background-color: #fff;}
.curation-section [id="slide13"]:checked ~ .curation-section__slidewrap .curation-section__radio label:nth-child(13){width: 50px; background-color: #fff;}

.curation-section__slide-control [class*="control"]{display: none;}
.curation-section [id="slide01"]:checked ~ .curation-section__slidewrap .curation-section__slide-control .control01 {display: flex;}
.curation-section [id="slide02"]:checked ~ .curation-section__slidewrap .curation-section__slide-control .control02 {display: flex;}
.curation-section [id="slide03"]:checked ~ .curation-section__slidewrap .curation-section__slide-control .control03 {display: flex;}
.curation-section [id="slide04"]:checked ~ .curation-section__slidewrap .curation-section__slide-control .control04 {display: flex;}
.curation-section [id="slide05"]:checked ~ .curation-section__slidewrap .curation-section__slide-control .control05 {display: flex;}
.curation-section [id="slide06"]:checked ~ .curation-section__slidewrap .curation-section__slide-control .control06 {display: flex;}
.curation-section [id="slide07"]:checked ~ .curation-section__slidewrap .curation-section__slide-control .control07 {display: flex;}
.curation-section [id="slide08"]:checked ~ .curation-section__slidewrap .curation-section__slide-control .control08 {display: flex;}
.curation-section [id="slide09"]:checked ~ .curation-section__slidewrap .curation-section__slide-control .control09 {display: flex;}
.curation-section [id="slide10"]:checked ~ .curation-section__slidewrap .curation-section__slide-control .control10 {display: flex;}
.curation-section [id="slide11"]:checked ~ .curation-section__slidewrap .curation-section__slide-control .control11 {display: flex;}
.curation-section [id="slide12"]:checked ~ .curation-section__slidewrap .curation-section__slide-control .control12 {display: flex;}
.curation-section [id="slide13"]:checked ~ .curation-section__slidewrap .curation-section__slide-control .control13 {display: flex;}
