.target-value-banner {
  padding-top: 2.6vw;
}

.target-value-banner li {
  flex-wrap: wrap;
  position: relative;
}

.line-divided p {
  padding: 0 10px;
}

.line-divided::after {
  background: #f9f9f9;
  content: "";
  display: block;
  height: 80px;
  left: -12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
}

.line-divided:first-of-type::after {
  width: 0;
}

@media only screen and (max-width: 768px) {
  .line-divided:after {
    align-self: center;
    height: 1px;
    left: 50%;
    top: -12px;
    transform: translateX(-50%);
    width: 150px;
  }
}
