.target-value-banner {
  padding-top: 2.6vw;
}

.target-value-banner li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: calc(25% - 18px);
  position: relative;
}

.line-divided p {
  padding: 0 10px;
}

.line-divided::after {
  background: #f9f9f9;
  content: "";
  display: block;
  height: 80px;
  left: -12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
}

.line-divided:first-of-type::after {
  width: 0;
}
