.recruit-bar {
  max-width: 1060px;
  margin: 70px auto;
  svg {
    margin-right: 15px;
  }
  section {
    display: flex;
    height: 70px;
    background-image: linear-gradient(
      90deg,
      #01a9fe -12%,
      #2f5fef 37%,
      #046afe 72%,
      #00d2dd 110%
    );
    border-radius: 38.5px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    color: #ffff;
  }
}

.interest-bar {
  max-width: 1060px;
  margin: 60px auto;
  section {
    padding: 32px 40px;
    box-sizing: border-box;
    background-image: url(https://static.wanted.co.kr/images/home/ai_banner/ai_banner_bg.png);
    display: flex;
    height: 120px;
    background: #f4f8fb;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    img {
      width: 243px;
      height: 120px;
    }
    .interest-bar__bold-text {
      color: #111;
      font-size: 22px;
      font-weight: 700;
    }
    .interest-bar__text {
      color: #8a8a8a;
      font-size: 16px;
      font-weight: 500;
      margin-top: 8px;
    }
    button {
      border-radius: 27px;
      background: #36f;
      width: 147px;
      display: flex;
      font-family: Pretendard Variable;
      padding: 9px 31.69px 9px 32.31px;
      font-size: 15px;
      font-weight: 600;
      text-align: center;
      color: #ffff;
      border: none;
    }
  }
}
.career-bar {
  max-width: 1060px;
  margin: 60px auto;
  background: #2b4bc8;
  section {
    height: 106px;
    background-image: url(https://static.wanted.co.kr/career_connect/banner-back-pc-jobsfeed.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 800;
    padding: 0 40px;
    color: #fff;

    img {
      width: 124px;
      height: 100px;
      margin-left: 20%;
    }
    button {
      border-radius: 27px;
      color: #36f;
      width: 147px;
      font-family: Pretendard Variable;
      padding: 11px 19.33px 11px 20px;
      font-size: 15px;
      font-weight: 600;
      text-align: center;
      background: #ffff;
      border: none;
    }
  }
}

@mixin nav-li {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
nav {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 85px;
  max-width: 1060px;
  ul {
    height: 80px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #333;
    font-size: 22px;
    font-weight: 500;
    word-break: break-all;
    padding: 0;
    margin: 0;

    .profile {
      @include nav-li;
      background-color: #f2f5ff;
      border-top-left-radius: 38.5px;
      border-bottom-left-radius: 38.5px;
      border-left: none;
      text-align: center;
    }
    .match {
      @include nav-li;
      border-top-right-radius: 38.5px;
      border-bottom-right-radius: 38.5px;
      background-color: #f2fbf5;
      text-align: center;
    }
  }
  svg {
    width: 1em;
    height: 1em;
    margin-right: 7px;
  }
}
