.header {
  position: fixed;
  width: 100%;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  .inner {
    max-width: 1060px;
    margin: 0 auto;
    .menu {
      height: 55px;
      display: flex;
      justify-content: space-between;
      ul {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        height: inherit;
        li {
          display: flex;
          color: #333333;
          list-style: none;
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          padding: 15px;
        }
      }
      .menu__item::before {
        margin: auto 10px;
        display: block;
        width: 1px;
        height: 10px;
        content: '';
        background-color: #e1e2e3;
        padding: 0;
      }
      .menu__item--button {
        font-size: 14px;
        color: #666;
        line-height: 30px;
        height: 30px;
        border: 1px solid #e1e2e3;
        border-radius: 15px;
        padding: 0 10px;
      }
      .menu__item {
        padding: 0 0 0 15px;
      }
    }
  }
}
