.main-article {
  .main-slider {
    position: relative;
    margin-bottom: 5.325vw;
    .main-wrapper {
      position: relative;
      overflow: hidden;
      height: 360px;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      max-width: 1060px;
      margin: 0 auto;
      z-index: 10;
    }
    .main-text {
      position: relative;
      padding-top: 16px;
      max-width: 1060px;
      margin: 0 auto;

      .main-text__title {
        text-align: center;
        span {
          text-align: center;
          font-size: 25px;
          font-weight: 700;
          line-height: 24px;
        }
        color: #333;
        font-size: 22px;
        font-weight: 400;
      }
      .main-text__see-more {
        color: #767676;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        margin-top: 10px;
      }
      .main-prev {
        position: absolute;
        border-radius: 18px;
        border: 1px solid #e1e2e4;
        background: #fff;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
        min-width: 36px;
        min-height: 36px;
        bottom: 2vw;
        padding: 0;
        z-index: 200;
      }
      .main-next {
        z-index: 200;
        position: absolute;
        border-radius: 18px;
        border: 1px solid #e1e2e4;
        background: #fff;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
        min-width: 36px;
        min-height: 36px;
        padding: 0;
        bottom: 2vw;
        right: 0.7vw;
      }
    }
    .main-items {
      display: flex;
      align-items: center;
      position: absolute;
      left: -100%;
    }
    .main-items__item {
      display: flex;
      width: 1060px;
      justify-content: space-between;
      .item__content {
        display: flex;
        justify-content: space-between;
        padding: 5px 0 0 10px;
        .bold-text {
          color: #333;
          font-size: 18px;
          font-weight: 700;
          line-height: normal;
        }
        .medium-text {
          color: #999;
          font-size: 14px;
          font-weight: 500;
          line-height: normal;
        }
        button {
          border-radius: 1000px;
          border: 1px solid #e1e2e3;
          background: #fff;
          box-shadow: 0px 0px 0px 1px #36f inset;
          min-width: 64px;
          padding: 13px 26.41px 12px 26.5px;
          color: #36f;
          font-family: Pretendard Variable;
          font-size: 15px;
          font-weight: 600;
        }
      }
    }
  }

  .item__img {
    background-size: cover;
    background-position: 50%;
    width: 520px;
    height: 270.39px;
  }

  .sub-slider {
    position: relative;
    margin-bottom: 5.325vw;
    .sub-wrapper {
      position: relative;
      overflow: hidden;
      height: 360px;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      max-width: 1060px;
      margin: 0 auto;
      z-index: 10;
    }
    .sub-text {
      position: relative;
      padding-top: 16px;
      max-width: 1060px;
      margin: 0 auto;

      .sub-text__title {
        text-align: center;
        span {
          text-align: center;
          font-size: 25px;
          font-weight: 700;
          line-height: 24px;
        }
        color: #333;
        font-size: 22px;
        font-weight: 400;
      }
      .sub-text__see-more {
        color: #767676;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        margin-top: 10px;
      }
      .sub-prev {
        position: absolute;
        border-radius: 18px;
        border: 1px solid #e1e2e4;
        background: #fff;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
        min-width: 36px;
        min-height: 36px;
        bottom: 2vw;
        padding: 0;
        z-index: 200;
      }
      .sub-next {
        z-index: 200;
        position: absolute;
        border-radius: 18px;
        border: 1px solid #e1e2e4;
        background: #fff;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
        min-width: 36px;
        min-height: 36px;
        padding: 0;
        bottom: 2vw;
        right: 0.7vw;
      }
    }
    .sub-items {
      display: flex;
      align-items: center;
      position: absolute;
      left: -100%;
    }
    .sub-items__item {
      display: flex;
      width: 1060px;
      justify-content: space-between;
      .item__content {
        display: flex;
        justify-content: space-between;
        padding: 5px 0 0 10px;
        .bold-text {
          color: #333;
          font-size: 18px;
          font-weight: 700;
          line-height: normal;
        }
        .medium-text {
          color: #999;
          font-size: 14px;
          font-weight: 500;
          line-height: normal;
        }
        button {
          border-radius: 1000px;
          border: 1px solid #e1e2e3;
          background: #fff;
          box-shadow: 0px 0px 0px 1px #36f inset;
          min-width: 64px;
          padding: 13px 26.41px 12px 26.5px;
          color: #36f;
          font-family: Pretendard Variable;
          font-size: 15px;
          font-weight: 600;
        }
      }
    }
  }
}
