.slider-section {
  margin-top: 25px;
  position: relative;
  .items {
    display: flex;
    // overflow: hidden;
    position: absolute;
    transform: translate(-530px);
    gap: 30px;
    top: 0;
    &.active {
      transition: 0.3s;
    }
    div {
      width: 1060px;
    }
  }
  .wrapper {
    overflow: hidden;
    height: 300px;
    position: relative;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 120px;
    width: 30px;
    height: 60px;
    opacity: 0.5;
    border-radius: 15px;
    background-color: #fff;
    font-size: 16px;
    z-index: 10;
    border: 0;
  }
  button:hover {
    cursor: pointer;
  }
}
//   나중에 marin 해서 prev와 next에 넣어놓는 게 나을ㄷ스
.btn__prev {
  left: calc((100% - 1200px) / 2);
  color: black;
}
.btn__next {
  right: calc((100% - 1250px) / 2);
}
