@import './_header.scss';
@import './_slider.scss';
@import './_main-slider.scss';
@import './_aside.scss';
@import './sub-article.scss';
body {
  font-family: 'Pretendard Variable';
  margin: 0;
  box-sizing: border-box;
}
button:hover {
  cursor: pointer;
}
