.header {
  position: fixed;
  width: 100%;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
}
.header .inner {
  max-width: 1060px;
  margin: 0 auto;
}
.header .inner .menu {
  height: 55px;
  display: flex;
  justify-content: space-between;
}
.header .inner .menu ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  height: inherit;
}
.header .inner .menu ul li {
  display: flex;
  color: #333333;
  list-style: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 15px;
}
.header .inner .menu .menu__item--before::before {
  margin: auto 10px;
  display: block;
  width: 1px;
  height: 10px;
  content: "";
  background-color: #e1e2e3;
  padding: 0;
}
.header .inner .menu .menu__item--login {
  padding: 0 0 0 15px;
}

body {
  font-family: "Pretendard Variable";
  margin: 0;
}