.header {
  position: sticky;
  width: 100%;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
}
.header .inner {
  max-width: 1060px;
  margin: 0 auto;
}
.header .inner .menu {
  height: 55px;
  display: flex;
  justify-content: space-between;
}
.header .inner .menu ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  height: inherit;
}
.header .inner .menu ul li {
  display: flex;
  margin: 0;
  color: #333333;
  list-style: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 15px;
}
.header .inner .menu .menu__logo img {
  margin: 7px;
}
.header .inner .menu .menu__category:hover {
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
}
.header .inner .menu .menu__item::before {
  margin: auto 10px;
  display: block;
  width: 1px;
  height: 10px;
  content: "";
  background-color: #e1e2e3;
  padding: 0;
}
.header .inner .menu .menu__item--button {
  font-size: 14px;
  color: #666;
  line-height: 30px;
  height: 30px;
  border: 1px solid #e1e2e3;
  border-radius: 15px;
  padding: 0 10px;
}
.header .inner .menu .menu__item {
  padding: 0 0 0 15px;
}

.slider-section {
  margin-top: 25px;
  position: relative;
}
.slider-section .items {
  display: flex;
  position: absolute;
  transform: translate(-530px);
  gap: 30px;
  top: 0;
}
.slider-section .items.active {
  transition: 0.3s;
}
.slider-section .items .items__item {
  position: relative;
  width: 1060px;
}
.slider-section .items .information {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 330px;
  padding: 20px 20px 5px 20px;
  height: 146px;
  background-color: #fff;
  z-index: 1000;
  top: 35%;
  left: 2%;
  border-radius: 6px;
}
.slider-section .items .information .information__bold-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.slider-section .items .information .information__text {
  font-size: 14px;
  font-weight: 500;
  padding: 0 20px 30px 0;
}
.slider-section .items .information hr {
  color: #e1e2e4;
}
.slider-section .items .information button {
  margin-top: 10px;
  color: #3366ff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: white;
}
.slider-section .wrapper {
  height: 300px;
  position: relative;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-section button:hover {
  cursor: pointer;
}

.btn__prev {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 120px;
  width: 30px;
  height: 60px;
  opacity: 0.5;
  border-radius: 15px;
  background-color: #fff;
  font-size: 16px;
  z-index: 10;
  border: 0;
  left: calc((100% - 1200px) / 2);
  color: black;
}

.btn__next {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 120px;
  width: 30px;
  height: 60px;
  opacity: 0.5;
  border-radius: 15px;
  background-color: #fff;
  font-size: 16px;
  z-index: 10;
  border: 0;
  right: calc((100% - 1250px) / 2);
}

body {
  font-family: "Pretendard Variable";
  margin: 0;
  box-sizing: border-box;
}