html {
    font-size: 62.5%;
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
        "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1rem;
}

.title {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.3;
    color: $blueF6;
    margin-bottom: 3rem;
    @include bp640 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
}

.sub-title {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.4;
    color: $black28;
    @include bp640 {
        font-size: 2.8rem;
    }
}

.disc {
    font-size: 2.3rem;
    font-weight: 600;
    color: rgba(51, 61, 75, 1);
    line-height: 1.5;
    @include bp640 {
        font-size: 1.7rem;
    }
}

.sp {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4;
    color: $blueF6;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    @include bp640 {
        font-size: 1.5rem;
        margin-bottom: 0.8rem;
    }
    img {
        width: 2.4rem;
        height: 2.4rem;
        @include bp640 {
            width: 1.6rem;
            height: 1.6rem;
        }
    }
}

.bp {
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.4;
    color: $grey4B;
    @include bp640 {
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }
}

.mp {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.5;
    color: $grey84;
    @include bp640 {
        font-size: 1.5rem;
    }
}
